@import "normalize";
@import "fonts";
@import "function";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    font-size: 16px;
    background-color: #29357f;

    &.hidden {
        overflow: hidden;
    }
}

header {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.title {
    color: #fff;
    font-weight: 400;

    &--size-lg {
        font-size: 44px;
        font-weight: 600;

        @media screen and (max-width: 899.98px) {
            font-size: 34px;
        }
    }

    &--size-xl {
        font-size: 47px;

        @media screen and (max-width: 599.98px) {
            font-size: 27px;
        }
    }
}

.text {
    color: #fff;

    &--size-md {
        font-size: 18px;
    }

    &--size-sm {
        font-size: 16px;
    }
}

.content {
    &--products {
        --form-title-width: 380px;
        --form-text-width: 280px;
    }
}

.error-text {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 16.7%;
    color: #fff;

    @media screen and (max-width: 1500px) {
        padding-left: 8.3%;
    }
    @media screen and (max-width: 899.98px) {
        padding-right: 6%;
        padding-left: 6%;
    }
    @media screen and (max-width: 599.98px) {
        padding-right: 5.4%;
        padding-left: 5.4%;
    }
}

@import "blocks/header";
@import "blocks/footer";
@import "blocks/home";
@import "blocks/products";
