@import "normalize";
@import "fonts";
@import "function";

$breakpoint-hover: 1000px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    background-color: #f2eef4;

    @media screen and (min-width: 950px) {
        padding-left: em(95, $fz);
    }

    &.hidden {
        overflow: hidden;
    }
}

header {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.content {
    &--product {
        position: relative;
    }
}

a {
    text-decoration: none;
}

button {
    &:not(:disabled) {
        cursor: pointer;
    }
}

input,
textarea {
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.title {
    &--size-lg {
        $fz: 56;
        font-size: em($fz, $fz_base);
        font-weight: 700;
        color: var(--title-color-lg, #575757);

        @media screen and (max-width: 949.98px) {
            $fz: 26;
            font-size: em($fz, $fz_base);
        }
    }

    &--size-md {
        $fz: 30;
        font-size: em($fz, $fz_base);
        font-weight: 600;

        @media screen and (max-width: 949.98px) {
            $fz: 22;
            font-size: em($fz, $fz_base);
        }
    }

    &--size-sm {
        $fz: 20;
        font-size: em($fz, $fz_base);
        font-weight: 600;
        color: var(--title-sm-color, #000);
    }
}

.text {
    &--size-md {
        $fz: 18;
        font-size: em($fz, $fz_base);
        line-height: 1.44;
    }

    &--size-sm {
        line-height: 1.5;
    }
}

.btn {
    $self: &;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding-right: em(15, $fz);
    padding-left: em(15, $fz);
    min-height: em(48, $fz);
    border-radius: em(24, $fz);
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;

    &--primary {
        --btn-text-color: #fff;
        background-color: #533dd4;
        border-color: #533dd4;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                background-color: #866fcb;
                border-color: #866fcb;
            }
        }
    }

    &--border {
        background-color: transparent;
        border-color: #000;

        &:not(:disabled):hover {
            @media screen and (min-width: $breakpoint-hover) {
                --btn-text-color: #fff;
                background-color: #533dd4;
                border-color: #533dd4;
            }
        }
    }

    &--link {
        background-color: transparent;
        text-decoration: dashed;
    }

    &--preview {
        padding-right: em(40, $fz);
        padding-left: em(40, $fz);

        @media screen and (max-width: 949.98px) {
            padding-right: em(22, $fz);
            padding-left: em(22, $fz);

            .btn__text {
                white-space: nowrap;
            }
        }
    }

    &--change {
        background-color: #f0ebe6;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                background-color: rgba(61, 74, 98, 0.1);
            }
        }
    }
    
    &:disabled {
        --btn-text-color: #000;
        background-color: #e7ddd4;
        border-color: #e7ddd4;
    }

    &__text {
        color: var(--btn-text-color, #000);
        transition: color 0.3s;

        #{$self}--link & {
            background-image: linear-gradient(
                to right,
                #000,
                #000 49.9%,
                transparent 50%
            );
            background-repeat: round no-repeat;
            background-position-y: 100%;
            background-size: 5px 1px;
            transition: background-size 1s;
        }

        #{$self}--link:hover & {
            @media screen and (min-width: $breakpoint-hover) {
                background-size: 0;
            }
        }
    }
}

.btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: em(5, $fz);
    transition: background-color 0.3s;
    background-color: transparent;

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            background-color: rgb(61, 74, 98, 0.1);
        }
    }

    &__icon {
        fill: #bcbcbc;
    }
}

.wrapper {
    padding: em(35, $fz) 9% em(140, $fz) 12.3%;

    @media screen and (max-width: 1699.98px) {
        padding-right: 5%;
    }
    @media screen and (max-width: 1499.98px) {
        padding-right: 9%;
        padding-left: 4.5%;
        padding-bottom: em(100, $fz);
    }
    @media screen and (max-width: 1149.98px) {
        padding-left: 4.6%;
        padding-right: 2%;
    }
    @media screen and (max-width: 949.98px) {
        padding-top: em(20, $fz);
        padding-right: 4.6%;
        padding-bottom: em(80, $fz);
    }
    @media screen and (max-width: 499.98px) {
        padding-right: 5.5%;
        padding-left: 5.5%;
        padding-bottom: em(60, $fz);
    }
}

.error-text {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 16.7%;
    color: rgb(150, 4, 4);
}

.error[data-type="validator-error"] {
    position: absolute;
    right: 0;
    bottom: -15px;
    text-align: right;
    font-size: 12px;
    color: rgb(150, 4, 4);
    margin-top: 2px;
}

@mixin scrollbar {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
    scrollbar-width: thin;
    scrollbar-arrow-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-track-color: transparent;
    scrollbar-base-color: transparent;

    &::-webkit-scrollbar {
        width: em(5, $fz);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.text-404 {
    padding: em(35, $fz) 5.5% em(60, $fz);

    @media screen and (max-width: 1499.98px) {
        padding-right: 4.5%;
        padding-left: 4.5%;
    }
    @media screen and (max-width: 1149.98px) {
        padding-left: 4.6%;
    }
    @media screen and (max-width: 499.98px) {
        padding-top: em(20, $fz);
        padding-bottom: em(40, $fz);
        padding-left: 5.5%;
    }
}

.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eef4;
    z-index: 1003;
    transition: opacity 0.1s;
}

@import "blocks/header";
@import "blocks/footer";
@import "blocks/home";
@import "blocks/popups";
@import "blocks/forms";
@import "blocks/slider";
@import "blocks/card-product";
@import "blocks/product-detail";
@import "blocks/catalog-cotigories";
@import "blocks/catalog";
@import "blocks/order";
@import "blocks/account";
@import "blocks/about";
@import "blocks/contacts";
@import "blocks/delivery";
@import "blocks/how-order";
@import "blocks/questions";
@import "blocks/wholesale";
