@import "normalize";
@import "fonts";
@import "function";

$breakpoint-hover: 1000px;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    background-color: #f2eef4;

    @media screen and (min-width: 950px) {
        padding-left: em(95, $fz);
    }

    &.hidden {
        overflow: hidden;
    }
}

header {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

button {
    &:not(:disabled) {
        cursor: pointer;
    }
}

input,
textarea {
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.title {
    font-weight: 700;
    color: #575757;

    &--size-lg {
        $fz: 56;
        font-size: em($fz, $fz_base);
    }
}

.text {
    &--size-md {
        $fz: 18;
        font-size: em($fz, $fz_base);
        line-height: 1.44;
    }

    &--size-sm {
        font-size: 16px;
    }
}

.btn {
    $self: &;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding-right: em(10, $fz);
    padding-left: em(10, $fz);
    min-height: em(48, $fz);
    border-radius: em(24, $fz);
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;

    &--primary {
        --btn-text-color: #fff;
        background-color: #533dd4;
        border-color: #533dd4;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                background-color: #866fcb;
                border-color: #866fcb;
            }
        }
    }

    &--border {
        background-color: transparent;
        border-color: #000;

        &:not(:disabled):hover {
            @media screen and (min-width: $breakpoint-hover) {
                --btn-text-color: #fff;
                background-color: #533dd4;
                border-color: #533dd4;
            }
        }
    }

    &--link {
        background-color: transparent;
        text-decoration: dashed;
    }

    &--preview {
        padding-right: em(40, $fz);
        padding-left: em(40, $fz);
    }

    &:disabled {
        --btn-text-color: #000;
        background-color: #e7ddd4;
        border-color: #e7ddd4;
    }

    &__text {
        color: var(--btn-text-color, #000);
        transition: color 0.3s;

        #{$self}--link & {
            background-image: linear-gradient(
                to right,
                #000,
                #000 49.9%,
                transparent 50%
            );
            background-repeat: round no-repeat;
            background-position-y: 100%;
            background-size: 5px 1px;
            transition: background-size 1s;
        }

        #{$self}--link:hover & {
            @media screen and (min-width: $breakpoint-hover) {
                background-size: 0;
            }
        }
    }
}

.error-text {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 16.7%;
    color: rgb(150, 4, 4);
}

.error[data-type="validator-error"] {
    position: absolute;
    right: 0;
    bottom: -15px;
    text-align: right;
    font-size: 12px;
    color: rgb(150, 4, 4);
    margin-top: 2px;
}

@mixin scrollbar {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
    scrollbar-width: thin;
    scrollbar-arrow-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-track-color: transparent;
    scrollbar-base-color: transparent;

    &::-webkit-scrollbar {
        width: em(5, $fz);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

@import "blocks/header";
@import "blocks/footer";
@import "blocks/home";
@import "blocks/popups";
@import "blocks/forms";
@import "blocks/slider";
@import "blocks/card-product";
