.home-preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 100px 16.7%;
    background: url("../img/preview-home-bg.jpg") center bottom/cover no-repeat;
    min-height: calc(100vh - 117px);

    @media screen and (max-width: 1500px) {
        padding-left: 8.3%;
        padding-right: 9%;
        padding: 80px 9% 80px 8.3%;
    }
    @media screen and (max-width: 899.98px) {
        padding: 0;
        flex-direction: column-reverse;
        align-items: flex-start;
        background: #5c60a7;
        min-height: 0;
    }

    &__content {
        max-width: 800px;

        @media screen and (max-width: 1199.98px) {
            max-width: 600px;
        }
        @media screen and (max-width: 899.98px) {
            width: 100%;
            max-width: 100%;
            padding: 36px 6% 40px;
        }
        @media screen and (max-width: 899.98px) {
            padding-right: 5.4%;
            padding-left: 5.4%;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 33px;
        font-size: 44px;
        font-weight: 600;
        color: #fff;

        @media screen and (max-width: 899.98px) {
            font-size: 25px;
            margin-bottom: 28px;
            max-width: 600px;

            & br {
                display: none;
            }
        }
    }

    &__text {
        font-size: 20px;
        font-weight: 600;
        color: #fff;

        @media screen and (max-width: 1199.98px) {
            max-width: 400px;
        }
    }

    &__inner {
        @media screen and (max-width: 899.98px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 365px;
            background: url("../img/preview-home-bg.jpg") center bottom/cover
                no-repeat;
        }

        @media screen and (max-width: 599.98px) {
            height: 67vw;
        }
    }
}

.btn-play-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;

    &__icon {
        display: grid;
        justify-items: center;
        align-items: center;
        padding-right: 10px;
        width: 74px;
        height: 74px;
        background-color: #fff;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        margin-bottom: 25px;

        &::before {
            content: "";
            grid-area: -1/1;
            width: 47px;
            height: 47px;
            background-color: #707ed6;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }
}

@keyframes moving {
    100% {
        background-position-x: var(--size-cloud);
    }
}

.delivery-geography {
    position: relative;
    background-color: #5c60a7;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 168px;
        background-image: linear-gradient(
            0deg,
            #3e498c 0%,
            rgba(91, 96, 167, 0) 100%
        );

        @media screen and (max-width: 899.98px) {
            display: none;
        }
    }

    &__map {
        display: grid;
        position: relative;
        min-height: 535px;
        background: url("../img/elivery-geography-map-maska.svg") center 101% /100%
                auto no-repeat,
            url("../img/delivery-geography-map.jpg") center top/cover no-repeat;

        @media screen and (max-width: 1700px) {
            background-size: 1920px auto, cover;
        }

        @media screen and (max-width: 930px) {
            min-height: 500px;
        }
        @media screen and (max-width: 899.98px) {
            font-size: 1.6vw;
            height: em(540, $fz);
            min-height: 0;
            background: url("../img/delivery-geography-map.jpg") center
                top/cover no-repeat;
        }

        &::before {
            content: "";
            --size-cloud: #{em(700, $fz)};
            grid-area: -1/1;
            width: 100%;
            height: 70%;
            background: url("../img/cloud.png") 0% / var(--size-cloud) 100%
                repeat-x;
            will-change: background-position;
            pointer-events: none;
            user-select: none;
            z-index: 1;
            opacity: 0.7;

            @media (prefers-reduced-motion: no-preference) {
                animation: moving 100s linear infinite both;
            }
        }
    }

    &__city {
        grid-area: -1/1;
        width: em(940, $fz);
    }

    &__title {
        grid-area: -1/1;
        margin-top: 270px;
        margin-left: 18.8%;
        max-width: 200px;
        font-size: 44px;
        font-weight: 600;
        color: #fff;

        @media screen and (max-width: 1500px) {
            margin-left: 8.3%;
        }
        @media screen and (max-width: 1199.98px) {
            margin-top: 280px;
        }
        @media screen and (max-width: 899.98px) {
            $fz: 34;
            font-size: em(106, $fz);
            margin-left: 6%;
            margin-top: em(230, $fz);
        }
        @media screen and (max-width: 599.98px) {
            margin-left: 5.4%;
            max-width: em(100, $fz);
        }
    }

    &__block {
        display: grid;
        justify-items: center;

        @media screen and (max-width: 1500px) {
            overflow: hidden;
            justify-content: center;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 1.3vw;
        }
    }

    &__gif {
        grid-area: -1/1;
        width: em(1364, $fz);
        height: auto;
    }

    &__name {
        $fz: 22;
        display: grid;
        justify-self: center;
        align-self: center;
        grid-area: -1/1;
        font-size: em($fz, $fz_base);
        color: #fff;
        font-weight: 700;
        max-width: em(250, $fz);
        transform: rotate(-11deg) skew(-13deg);

        &--1 {
            margin-bottom: em(850, $fz);
            margin-right: em(100, $fz);
        }

        &--2 {
            margin-bottom: em(380, $fz);
            margin-left: em(1110, $fz);
        }

        &--3 {
            margin-top: em(680, $fz);
            margin-left: em(400, $fz);
            max-width: em(300, $fz);
        }

        &--4 {
            margin-top: em(100, $fz);
            margin-right: em(950, $fz);
            text-align: right;
        }
    }
}

.map-city {
    display: grid;
    justify-self: center;
    align-content: center;
    justify-items: center;
    pointer-events: none;
    user-select: none;

    @media screen and (max-width: 1199.98px) {
        font-size: 15px;
    }
    @media screen and (max-width: 899.98px) {
        font-size: inherit;
    }

    &__item {
        display: flex;
        align-items: center;
        grid-area: -1/1;

        &--reverse {
            flex-direction: row-reverse;
            --margin-right-img: 0;
            --margin-left-img: #{em(15, $fz)};
        }

        &--yekaterinburg {
            display: none;
            --img-width: #{em(44, $fz)};
            transform: translate(em(-341, $fz), em(-189, $fz));
        }

        &--сhelyabinsk {
            --img-width: #{em(31, $fz)};
            transform: translate(em(-381, $fz), em(-129, $fz));
        }

        &--tyumen {
            display: none;
            --img-width: #{em(25, $fz)};
            transform: translate(em(-233, $fz), em(-143, $fz));
        }

        &--kurgan {
            --img-width: #{em(37, $fz)};
            transform: translate(em(-340, $fz), em(-89, $fz));
        }

        &--omsk {
            --img-width: #{em(31, $fz)};
            transform: translate(em(-157, $fz), em(-36, $fz));
        }

        &--tomsk {
            --img-width: #{em(27, $fz)};
            transform: translate(em(9, $fz), em(-51, $fz));
        }

        &--novosibirsk {
            --img-width: #{em(35, $fz)};
            transform: translate(em(-74, $fz), em(12, $fz));
        }

        &--barnaul {
            --img-width: #{em(29, $fz)};
            transform: translate(em(-34, $fz), em(67, $fz));
        }

        &--buisk {
            --img-width: #{em(22, $fz)};
            transform: translate(em(12, $fz), em(109, $fz));
        }

        &--kemerovo {
            --img-width: #{em(27, $fz)};
            transform: translate(em(116, $fz), em(10, $fz));
        }

        &--novokuznetsk {
            --img-width: #{em(24, $fz)};
            transform: translate(em(140, $fz), em(56, $fz));
        }

        &--abakan {
            --img-width: #{em(28, $fz)};
            transform: translate(em(214, $fz), em(98, $fz));
        }

        &--krasnoyarsk {
            --img-width: #{em(27, $fz)};
            transform: translate(em(244, $fz), em(-38, $fz));
        }

        &--irkutsk {
            --img-width: #{em(27, $fz)};
            transform: translate(em(388, $fz), em(84, $fz));
        }
    }

    &__name {
        $fz: 15;
        color: #fff;
        font-size: em($fz, $fz_base);
        letter-spacing: 1px;
    }

    &__picture {
        display: flex;
        margin-right: var(--margin-right-img, #{em(15, $fz)});
        margin-left: var(--margin-left-img, 0);
        filter: drop-shadow(em(0 5 17, $fz) #0e1e7d);
    }

    &__img {
        width: var(--img-width);
        height: auto;
    }
}

.advantage {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (max-width: 1199.98px) {
            grid-template-columns: 1fr;
        }
    }
}

.advantage-card {
    $self: &;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 8.3vw;
    overflow: hidden;
    transition: background-color 0.3s;
    position: relative;

    @media screen and (max-width: 1700px) {
        padding-left: 106px;
    }

    @media screen and (max-width: 1500px) and (min-width: 1198.99px) {
        padding-left: 8.3vw;

        &:nth-child(even) {
            padding-left: 3vw;
        }
    }

    @media screen and (max-width: 1199.98px) {
        padding-left: 17vw;
    }
    @media screen and (max-width: 899.98px) {
        padding-left: 12.6vw;
    }
    @media screen and (max-width: 599.98px) {
        padding-left: 5.5%;
    }

    &:nth-child(-n + 4) {
        min-height: 449px;

        @media screen and (max-width: 1500px) {
            min-height: 360px;
        }
        @media screen and (max-width: 899.98px) {
            min-height: 350px;
        }
        @media screen and (max-width: 599.98px) {
            min-height: 0;
        }
    }

    &:first-child,
    &:nth-child(4) {
        background-color: #343f86;
    }

    &:nth-child(2) {
        background-color: #29357f;
    }

    &:nth-child(3) {
        background: url("../img/advantage-card-3.png") center/cover no-repeat;
    }

    &:nth-child(4) {
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 70px;

        @media screen and (max-width: 1500px) {
            padding-top: 44px;
            padding-bottom: 44px;
        }
        @media screen and (max-width: 599.98px) {
            padding-top: 34px;
            padding-bottom: 33px;
        }
    }

    &--number {
        align-items: center;

        @media screen and (max-width: 1199.98px) {
            padding-top: 83px;
            padding-bottom: 85px;
        }
        @media screen and (max-width: 899.98px) {
            padding-top: 45px;
            padding-bottom: 51px;
        }
        @media screen and (max-width: 599.98px) {
            padding-top: 25px;
            padding-bottom: 31px;
        }
    }

    &--col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;

        @media screen and (max-width: 1500px) and (min-width: 1199.99px) {
            grid-template-columns: 58% 42%;
        }
        @media screen and (max-width: 599.98px) {
            grid-template-columns: 1fr;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding-top: 64px;
        padding-bottom: 70px;
        height: 100%;

        @media screen and (max-width: 1500px) {
            padding-top: 43px;
            padding-bottom: 41px;
        }
        @media screen and (max-width: 599.98px) {
            padding-top: 22px;
            padding-bottom: 33px;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        color: var(--text-color, #fff);
        max-width: 330px;
        margin-bottom: 20px;
        transition: color 0.3s;

        @media screen and (max-width: 1500px) {
            font-size: 30px;
            max-width: 370px;
        }
        @media screen and (max-width: 899.98px) {
            font-size: 25px;
            max-width: 300px;
        }
    }

    &__desc {
        max-width: 344px;

        @media screen and (max-width: 599.98px) {
            margin-bottom: 20px;
        }

        &--col {
            display: grid;
            grid-template-columns: 150px 230px;
            grid-gap: 25px 35%;
            max-width: 100%;
            margin-top: 15px;

            @media screen and (max-width: 1500px) {
                grid-gap: 20px 10%;
            }
            @media screen and (max-width: 599.98px) {
                grid-template-columns: 1fr;
                margin-top: 0;
                grid-row-gap: 10px;
            }
        }
    }

    &__text {
        color: var(--text-color, #fff);
        font-size: 16px;
        line-height: 20px;
        transition: color 0.3s;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &--weight-600 {
            font-weight: 600;
        }
    }

    &__arrow {
        display: flex;
        margin-top: auto;
        fill: #707ed6;
    }

    &__picture {
        #{$self}:first-child & {
            margin-top: 30px;
            margin-right: -120px;

            @media screen and (max-width: 1500px) {
                margin-top: 40px;
                margin-right: -150px;
            }

            @media screen and (max-width: 1199.98px) {
                margin-right: 60px;
            }
            @media screen and (max-width: 899.98px) {
                margin-right: -95px;
            }
            @media screen and (max-width: 599.98px) {
                margin-right: -223px;
                margin-top: 0;
            }
        }

        #{$self}:nth-child(2) & {
            margin-top: 14px;
            margin-right: 40px;

            @media screen and (max-width: 1500px) {
                margin-top: 30px;
                margin-right: -100px;
            }
            @media screen and (max-width: 1199.98px) {
                margin-right: 96px;
            }
            @media screen and (max-width: 899.98px) {
                margin-right: -60px;
            }
            @media screen and (max-width: 599.98px) {
                margin-right: -150px;
            }
        }
    }

    &__img {
        #{$self}:nth-child(1) & {
            @media screen and (max-width: 1500px) {
                width: 350px;
                height: auto;
            }
        }

        #{$self}:nth-child(2) & {
            @media screen and (max-width: 1500px) {
                width: 278px;
                height: auto;
            }
        }
    }

    &[href]:not(:nth-child(3)) {
        @media screen and (min-width: 1100px) {
            &:hover {
                --text-color: #000;
                background-color: #fff;
            }
        }
    }

    &__top {
        @media screen and (max-width: 599.98px) {
            margin-bottom: 24px;
        }
    }
}

.advantage-card-top {
    display: flex;
    align-items: center;

    &__picture {
        display: flex;

        @media screen and (max-width: 359.98px) {
            transform: scale(0.9);
        }
    }

    &__symbol {
        color: #fff;
        font-size: 54px;
        font-weight: 300;
        margin-right: 15px;
        margin-left: 20px;

        @media screen and (max-width: 359.98px) {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}

.advantage-card-box {
    $self: &;
    display: flex;
    flex-direction: column;

    &--market {
        padding-top: 62px;
        padding-bottom: 50px;
        height: 100%;

        @media screen and (max-width: 1500px) {
            padding-top: 31px;
        }

        @media screen and (max-width: 1199.98px) {
            padding-top: 60px;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 599.98px) {
            padding-top: 32px;
            padding-bottom: 10px;
        }

        &:first-child {
            padding-left: 8.3vw;

            @media screen and (max-width: 1700px) {
                padding-left: 106px;
            }
            @media screen and (max-width: 1500px) {
                padding-left: 8.3vw;
            }
            @media screen and (max-width: 1199.98px) {
                padding-left: 17vw;
            }
            @media screen and (max-width: 899.98px) {
                padding-left: 12.6vw;
            }
            @media screen and (max-width: 599.98px) {
                padding-left: 5.5%;
            }
        }

        &:last-child {
            background-color: #3d488b;
            padding-left: 4.2vw;

            @media screen and (max-width: 1700px) {
                padding-left: 31px;
            }
            @media screen and (max-width: 1199.98px) {
                padding-left: 8.3vw;

                .advantage-card-box__list {
                    max-width: 300px;
                }
            }
            @media screen and (max-width: 599.98px) {
                padding-left: 5.5%;

                .advantage-card-box__list {
                    max-width: 100%;
                }
            }
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 20px;

        #{$self}--market & {
            margin-bottom: 38px;

            @media screen and (max-width: 599.98px) {
                margin-bottom: 30px;
            }
        }

        @media screen and (max-width: 599.98px) {
            margin-bottom: 10px;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    &__item {
        display: flex;
        margin-right: 40px;

        #{$self}--market & {
            margin-bottom: 35px;

            @media screen and (max-width: 1500px) and (min-width: 1199.99px) {
                margin-bottom: 25px;
                margin-right: 20px;
            }
            @media screen and (max-width: 599.98px) {
                min-width: 120px;
            }
            @media screen and (max-width: 359.98px) {
                margin-right: 30px;
            }
        }

        #{$self}--market:first-child & {
            @media screen and (max-width: 899.98px) {
                margin-right: 20px;
            }
            @media screen and (max-width: 599.98px) {
                margin-right: 50px;
            }

            @media screen and (max-width: 359.98px) {
                margin-right: 30px;
            }
        }

        #{$self}--integration & {
            @media screen and (max-width: 599.98px) {
                transform: scale(0.8);
                margin-right: 10px;
            }

            @media screen and (max-width: 359.98px) {
                transform: scale(0.6);
                margin-right: 0;
            }
        }
    }

    &__picture {
        display: flex;
    }
}

.advantage-card-number {
    display: flex;

    @media screen and (max-width: 599.98px) {
        flex-direction: column;
    }

    &__box {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 599.98px) {
            flex-direction: row;
            align-items: center;
        }

        &:not(:last-child) {
            margin-right: 50px;

            @media screen and (max-width: 1500px) {
                margin-right: 9%;
            }
            @media screen and (max-width: 1199.98px) {
                margin-right: 20%;
            }
            @media screen and (max-width: 899.98px) {
                margin-right: 9%;
            }
            @media screen and (max-width: 599.98px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

    &__value {
        font-size: 46px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 13px;

        @media screen and (max-width: 899.98px) {
            font-size: 42px;
        }
        @media screen and (max-width: 599.98px) {
            margin-right: 20px;
            min-width: 160px;
        }
    }

    &__name {
        color: #fff;
        line-height: 24px;
        max-width: 150px;
    }
}

.clients {
    background-color: #fff;
    padding: 100px 8.3vw;

    @media screen and (max-width: 1700px) {
        padding-left: 106px;
        padding-right: 106px;
    }

    @media screen and (max-width: 1500px) {
        padding-left: 8.3vw;
        padding-right: 8.3vw;
    }
    @media screen and (max-width: 899.98px) {
        padding: 42px 0 50px;
    }
    @media screen and (max-width: 599.98px) {
        padding-bottom: 40px;
    }

    &__slider {
        padding-right: 35px;
        padding-left: 35px;
        min-height: 50px;

        @media screen and (max-width: 899.98px) {
            margin-right: 6%;
            margin-left: 6%;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @media screen and (max-width: 899.98px) {
            padding-left: 12.6vw;
            padding-right: 12.6vw;
            margin-bottom: 40px;
        }
        @media screen and (max-width: 599.98px) {
            flex-direction: column;
            padding-right: 5.5%;
            padding-left: 5.5%;
        }
    }

    &__title {
        font-size: 54px;
        font-weight: 600;

        @media screen and (max-width: 899.98px) {
            font-size: 34px;
            max-width: 200px;
        }
        @media screen and (max-width: 599.98px) {
            max-width: 100%;
            font-size: 24px;
            margin-bottom: 17px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        max-width: 370px;

        @media screen and (max-width: 899.98px) {
            max-width: 230px;
        }
        @media screen and (max-width: 599.98px) {
            max-width: 100%;
        }
    }
}

.clients-slider-btn {
    height: 100%;
    background-color: #fff;
    --swiper-navigation-top-offset: 40%;
    margin-top: 0 !important;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
        --icon-fill: #000;
    }

    &::after {
        display: none;
    }

    &__icon {
        fill: var(--icon-fill, #b6b6b6);
        transition: fill 0.3s;
        width: 14px !important;
        height: 40px !important;
    }
}

.clients-slider {
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        align-items: center;
        min-height: 40px;
    }

    &__next {
        transform: translateY(-50%) scaleX(-1);
        --swiper-navigation-sides-offset: -6px;
    }

    &__prev {
        --swiper-navigation-sides-offset: -6px;
    }

    &__picture {
        display: flex;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }
}

.section-form {
    display: flex;
    position: relative;
    background-color: #001545;
    padding-top: 150px;
    padding-bottom: 130px;
    padding-left: 22%;

    @media screen and (max-width: 1500px) {
        padding-left: 8.3%;
    }

    @media screen and (max-width: 899.98px) {
        flex-direction: column-reverse;
        padding: 48px 12% 70px;
    }
    @media screen and (max-width: 599.98px) {
        padding: 40px 5.5% 20px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url("../img/form-bg.jpg") right center/auto 100% no-repeat;

        @media screen and (max-width: 1199.98px) {
            opacity: 0.3;
        }
    }

    &--vacancies {
        @media screen and (min-width: 899.99px) {
            padding-top: 77px;
            padding-bottom: 76px;
        }

        &::before {
            @media screen and (min-width: 599.99px) {
                background-size: auto 120%;
            }
        }
    }

    &--products {
        @media screen and (min-width: 1501px) {
            padding-left: 16.3%;
        }
        @media screen and (max-width: 1500px) {
            &::before {
                opacity: 0.3;
            }
        }

        .form__label {
            @media screen and (min-width: 600px) {
                width: 427px;
            }
        }
    }

    &__block {
        margin-right: var(--form-block-margin-right, 97px);
        z-index: 1;

        @media screen and (max-width: 899.98px) {
            margin-right: 0;
        }
    }

    &__desc {
        max-width: var(--form-title-width, 330px);
        z-index: 1;

        @media screen and (max-width: 899.98px) {
            --form-title-width: 500px;
            margin-bottom: 50px;
        }
    }

    &__title {
        font-size: 54px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 35px;

        @media screen and (max-width: 899.98px) {
            font-size: 34px;
            margin-bottom: 21px;
        }
        @media screen and (max-width: 599.98px) {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        max-width: var(--form-text-width, 100%);

        @media screen and (max-width: 899.98px) {
            br {
                display: none;
            }
        }
    }
}
.form {
    display: flex;
    flex-direction: column;

    &__label {
        width: 360px;
        height: 48px;
        margin-bottom: 32px;

        @media screen and (max-width: 599.98px) {
            width: 100%;
        }
    }

    &__btn {
        width: 162px;
        height: 48px;
        border-radius: 3px;
        background-color: #6f7dd6;
        color: #fff;
        margin-right: 18px;

        @media screen and (max-width: 599.98px) {
            width: 100%;
            margin-bottom: 23px;
            margin-right: 0;
        }
    }

    &__row {
        display: flex;

        @media screen and (max-width: 599.98px) {
            flex-direction: column;
        }
    }

    &__files {
        display: flex;
        flex-direction: column;
        padding: 14px;
        border: 2px dashed rgba(255, 255, 255, 0.38);
        border-radius: 5px;
        margin-bottom: 5px;
        max-width: 360px;

        @media screen and (max-width: 599.98px) {
            max-width: 100%;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 33px;
    }

    &__file {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:nth-child(5) {
            margin-bottom: 0;
        }
    }
}

.file {
    display: none;

    &:nth-child(-n + 5) {
        display: block;
    }

    &__name {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.63);
        cursor: pointer;
        padding-right: 25px;
        width: 100%;

        &--file {
            display: block;
            word-wrap: break-word;
        }
    }

    &__icon {
        fill: #fff;
        margin-right: 10px;
    }

    &__delete {
        position: absolute;
        top: 4px;
        right: 0;
    }
}

.file-delete {
    background: none;

    &:hover {
        --fill-icon: #fff;
    }

    &__icon {
        transition: fill 0.3s;
        fill: var(--fill-icon, rgba(255, 255, 255, 0.7));
        pointer-events: none;
    }
}

.label {
    display: grid;

    &--is-active {
        --placeholder-x: 0;
        --placeholder-y: -20px;
        --placeholder-size: 12px;
        --placeholder-color: #fff;
        --clear-opacity: 1;
        --clear-events: auto;

        .label__input.not ~ .label__placeholder {
            --placeholder-x: 16px;
            --placeholder-y: 14px;
            --placeholder-size: 18px;
            --placeholder-color: rgba(255, 255, 255, 0.63);

            & ~ .label__clear {
                --clear-opacity: 0;
                --clear-events: none;
            }
        }
    }

    &--textarea {
        height: auto;
    }

    &__input,
    &__placeholder,
    &__clear {
        grid-area: -1/1;
    }

    &__input {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0);
        transition: border-color 0.3s;
        outline: none;
        border-radius: 5px;
        font-size: 18px;
        color: #fff;
        padding-right: 60px;
        padding-left: 16px;
        width: 100%;

        &:focus {
            border-color: rgba(255, 255, 255, 0.25);
        }

        &--textarea {
            height: 77px;
            min-height: 77px;
            padding-top: 12px;
            padding-bottom: 12px;
            resize: vertical;
            scrollbar-width: none;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;

            &::-webkit-scrollbar { 
                display: none;
                width: 0;
                height: 0;
            }
        }

        &.error {
            border: 1px solid #d61a1a;
        }
    }

    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: self-end;
        background: none;
        width: 40px;
        height: 48px;
        opacity: var(--clear-opacity, 0);
        transition: opacity 0.3s;
        will-change: opacity;
        pointer-events: var(--clear-events, none);

        &:hover {
            --fill-icon: #fff;
        }
    }

    &__placeholder {
        justify-self: self-start;
        align-self: self-start;
        pointer-events: none;
        user-select: none;
        color: var(--placeholder-color, rgba(255, 255, 255, 0.63));
        font-size: var(--placeholder-size, 18px);
        transition: transform 0.3s, color 0.3s, font-size 0.3s;
        transform: translate(
            var(--placeholder-x, 16px),
            var(--placeholder-y, 14px)
        );
        will-change: transform, color, font-size;
    }

    &__icon {
        fill: var(--fill-icon, rgba(255, 255, 255, 0.7));
        transition: fill 0.3s;
    }
}

.checkbox {
    display: flex;

    &__input {
        display: none;

        &:checked ~ .checkbox__data {
            --icon-opacity: 1;
        }
    }

    &__label {
        margin-right: 8px;
    }

    &__data {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        min-width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__icon {
        fill: rgba(255, 255, 255, 0.5);
        opacity: var(--icon-opacity, 0);
        transition: opacity 0.3s;
    }

    &__span {
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
        max-width: 163px;

        @media screen and (max-width: 599.98px) {
            max-width: 100%;
        }
    }

    &__link {
        text-decoration-line: underline;
        color: inherit;
    }
}
