.home-preview {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 100px 16.7%;
    background: url("../img/preview-home-bg.jpg") center bottom/cover no-repeat;
    min-height: 839px;

    &__content {
        max-width: 800px;
    }

    &__title {
        margin-bottom: 33px;
    }

    &__text {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
}

.btn-play-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;

    &__icon {
        display: grid;
        justify-items: center;
        align-items: center;
        padding-right: 10px;
        width: 74px;
        height: 74px;
        background-color: #fff;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        margin-bottom: 25px;

        &::before {
            content: "";
            grid-area: -1/1;
            width: 47px;
            height: 47px;
            background-color: #707ed6;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
    }
}

.delivery-geography {
    position: relative;
    background-color: #5c60a7;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 168px;
        background-image: linear-gradient(
            0deg,
            #3e498c 0%,
            rgba(91, 96, 167, 0) 100%
        );
    }

    &__map {
        padding-top: 270px;
        padding-left: 18.8%;
        min-height: 535px;
        background: url("../img/elivery-geography-map-maska.svg") center 101% /100% auto no-repeat,
            url("../img/delivery-geography-map.jpg") center top/cover no-repeat;
    }

    &__title {
        max-width: 200px;
    }

    &__block {
        display: grid;
        justify-items: center;
    }

    &__gif {
        grid-area: -1/1;
    }

    &__name {
        display: grid;
        justify-self: center;
        align-self: center;
        grid-area: -1/1;
        font-size: 22px;
        color: #fff;
        font-weight: 700;
        max-width: 250px;
        transform: rotate(-11deg) skew(-13deg);

        &--1 {
            margin-bottom: 850px;
            margin-right: 100px;
        }

        &--2 {
            margin-bottom: 380px;
            margin-left: 1110px;
        }

        &--3 {
            margin-top: 680px;
            margin-left: 400px;
            max-width: 300px;
        }

        
        &--4 {
            margin-top: 100px;
            margin-right: 950px;
            text-align: right;
        }
    }
}

.advantage {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.advantage-card {
    $self: &;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 8.3vw;
    overflow: hidden;
    transition: background-color 0.3s;

    &:nth-child(-n+4) {
        min-height: 449px;
    }

    &:first-child,
    &:nth-child(4) {
        background-color: #343F86;
    }

    &:nth-child(2) {
        background-color: #29357F;
    }

    &:nth-child(3) {
        background: url('../img/advantage-card-3.png') center/cover no-repeat;
    }

    &:nth-child(4) {
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 70px;
    }

    &--number {
        align-items: center;
    }

    &--col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 64px;
        padding-bottom: 70px;
        height: 100%;
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        color: var(--text-color, #fff);
        max-width: 330px;
        margin-bottom: 20px;
        transition: color 0.3s;
    }

    &__desc {
        max-width: 344px;

        &--col {
            display: grid;
            grid-template-columns: 150px 230px;
            grid-gap: 25px 35%;
            max-width: 100%;
            margin-top: 15px;
        }
    }

    &__text {
        color: var(--text-color, #fff);
        font-size: 16px;
        line-height: 20px;
        transition: color 0.3s;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &--weight-600 {
            font-weight: 600;
        }
    }

    &__arrow {
        display: flex;
        margin-top: auto;
        fill: #707ED6;
    }

    &__picture {
        #{$self}:first-child & {
            margin-top: 30px;
            margin-right: -120px;
        }

        #{$self}:nth-child(2) & {
            margin-top: 14px;
            margin-right: 40px;
        }
    }

    &[href]:not(:nth-child(3)) {
        @media screen and (min-width: 1100px) {
            &:hover {
                --text-color: #000;
                background-color: #fff;
            }
        }
    }
}

.advantage-card-top {
    display: flex;
    align-items: center;

    &__symbol {
        color: #FFF;
        font-size: 54px;
        font-weight: 300;
        margin-right: 15px;
        margin-left: 20px;
    }
}

.advantage-card-box {
    $self: &;
    display: flex;
    flex-direction: column;

    &--market {
        padding-top: 62px;
        padding-bottom: 50px;
        height: 100%;

        &:first-child {
            padding-left: 8.3vw;
        }

        &:last-child {
            background-color: #3D488B;
            padding-left: 4.2vw;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 20px;

        #{$self}--market & {
            margin-bottom: 38px;
        }
    }

    &__images {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    &__picture {
        display: flex;
        margin-right: 40px;

        #{$self}--market & {
            margin-bottom: 35px;
        }
    } 
}

.advantage-card-number {
    display: flex;

    &__box {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__value {
        font-size: 46px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 13px;
    }

    &__name {
        color: #FFF;
        line-height: 24px;
        max-width: 150px;
    }
}

.clients {
    background-color: #fff;
    padding: 100px 8.3vw;

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__title {
        font-size: 54px;
        font-weight: 600;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        max-width: 370px;
    }
}

.clients-slider {
    &__slide {
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        align-items: center;
    }

    &__next {
        transform: scaleX(-1);
        --swiper-navigation-sides-offset: -5px;
    }

    &__prev {
        --swiper-navigation-sides-offset: -5px;
    }
}

.clients-slider-btn {
    &:hover {
        --icon-fill: #000;
    }

    &::after {
        display: none;
    }

    &__icon {
        fill: var(--icon-fill, #B6B6B6);
        transition: fill 0.3s;
    }
}

.section-form {
    display: flex;
    background: url("../img/form-bg.jpg") right center/auto 100% no-repeat,
    #001545;
    padding-top: 150px;
    padding-bottom: 130px;
    padding-left: 22%;

    &__block {
        margin-right: 97px;
    }

    &__desc {
        max-width: 330px;
    }

    &__title {
        font-size: 54px;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 35px;
    }

    &__text {
        font-size: 18px;
        line-height: 26px;
        color: #FFF;
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__label {
        width: 360px;
        height: 48px;
        margin-bottom: 32px;
    }

    &__btn {
        width: 162px;
        height: 48px;
        border-radius: 3px;
        background-color: #6F7DD6;
        color: #fff;
        margin-right: 18px;
    }

    &__row {
        display: flex;
    }
}

.label {
    display: grid;

    &--textarea {
        height: auto;
    }

    &__input,
    &__placeholder,
    &__clear {
        grid-area: -1/1;
    }

    &__input {
        background-color: rgba(255, 255, 255, 0.10);
        border: 1px solid rgba(255, 255, 255, 0);
        transition: border-color 0.3s;
        outline: none;
        border-radius: 5px;
        font-size: 18px;
        color: #FFF;
        padding-right: 60px;
        padding-left: 16px;
    
        &:focus {
            border-color: rgba(255, 255, 255, 0.25);
        }

        &--textarea {
            height: 77px;
            min-height: 77px;
            padding-top: 12px;
            resize: vertical;
        }
    }

    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: self-end;
        background: none;
        width: 40px;
        height: 48px;

        &:hover {
            --fill-icon: #fff;
        }
    }

    &__placeholder {
        justify-self: self-start;
        align-self: self-start;
        pointer-events: none;
        user-select: none;
        color: rgba(255, 255, 255, 0.63);
        font-size: 18px;
        transform: translate(16px, 14px);
    }

    &__icon {
        fill: var(--fill-icon, rgba(255, 255, 255, 0.7));
        transition: fill 0.3s;
    }
}

.checkbox {
    display: flex;

    &__input {
        display: none;

        &:checked ~ .checkbox__data {
            --icon-opacity: 1;
        }
    }

    &__label {
        margin-right: 8px;
    }

    &__data {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        min-width: 16px;
        height: 16px; 
        border-radius: 2px;
        border: 1px solid rgba(255, 255, 255, 0.50);
    }

    &__icon {
        fill: rgba(255, 255, 255, 0.50);
        opacity: var(--icon-opacity, 0);
        transition: opacity 0.3s;
    }

    &__span {
        font-size: 12px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
        max-width: 163px;
    }

    &__link {
        text-decoration-line: underline;
        color: inherit;
    }
}