.products {
    &__text {
        color: #fff;
        font-size: 18px;
        line-height: 26px;
        max-width: 370px;
        margin-left: 370px;

        @media screen and (max-width: 899.98px) {
            margin-left: 0;
            max-width: 100%;
        }
    }

    &__desc {
        padding-left: 16.7%;
        margin-top: -50px;

        @media screen and (max-width: 1500px) {
            padding-left: 8.3%;
        }
        @media screen and (max-width: 899.98px) {
            padding-top: 20px;
            padding-left: 6%;
            padding-right: 6%;
            margin-top: 0;
        }
        @media screen and (max-width: 599.98px) {
            padding-left: 5.4%;
            padding-right: 5.4%;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px 16.7% 100px;

        @media screen and (max-width: 1500px) {
            padding-right: 8.3%;
            padding-left: 8.3%;
        }
        @media screen and (max-width: 899.98px) {
            padding-right: 6%;
            padding-left: 6%;
        }

        @media screen and (max-width: 1199.98px) {
            padding-bottom: 60px;
        }
        @media screen and (max-width: 899.98px) {
            padding-top: 20px;
            padding-bottom: 40px;
        }
        @media screen and (max-width: 599.98px) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__item {
        max-width: 14.28%;
        width: 100%;
        transition: padding 0.3s;

        &--active {
            --block-show: flex;
            --brend-bg: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.1) 100%
            );
            padding-bottom: var(--height-block);
        }

        @media screen and (max-width: 899.98px) {
            max-width: 20%;
        }
        @media screen and (max-width: 599.98px) {
            max-width: 100%;
        }
    }

    &__brend {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 118px;
        padding: 20px;
        background-image: var(--brend-bg);
        cursor: pointer;

        @media screen and (max-width: 1500px) {
            padding: 12px;
        }
        @media screen and (max-width: 599.98px) {
            padding: 20px;
        }
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        object-fit: contain;
    }

    &__subbrend {
        display: var(--block-show, none);
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        left: 0;
        right: 0;
        padding-right: 16.7%;
        padding-left: 16.7%;
        flex-wrap: wrap;
        transition: height 0.3s;
        overflow: hidden;
        height: 0;
        animation: showsBrend 0.3s forwards;

        @media screen and (max-width: 1500px) {
            padding-right: 8.3%;
            padding-left: 8.3%;
        }
    }

    &__picture {
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }
}
@keyframes showsBrend {
    100% {
        height: var(--height-block);
    }
}

.products-subbrend {
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 14.28%;
        width: 100%;
        height: 118px;

        @media screen and (max-width: 1500px) {
            padding: 12px;
        }
        @media screen and (max-width: 899.98px) {
            max-width: 20%;
        }
        @media screen and (max-width: 599.98px) {
            max-width: 100%;
        }
    }
}

.tabs {
    &__pane {
        display: none;

        &--show {
            display: block;
        }
    }
}

.tabs-form {
    &__nav {
        display: flex;
        border-radius: 31px;
        background: rgba(255, 255, 255, 0.17);
        margin-bottom: 50px;

        @media screen and (max-width: 899.98px) {
            max-width: 360px;
        }
        @media screen and (max-width: 599.98px) {
            max-width: 100%;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        width: 50%;
        height: 54px;
        border-radius: 31px;
        transition: background-color 0.3s, color 0.3s;
        font-size: 18px;
        color: #fff;

        &.tabs__btn--active {
            background-color: #d9e0e7;
            color: #000;
        }
    }
}
