.warehouses-desc {
    $self: &;
    background-color: #222d6e;

    &__head {
        padding: 75px 20px 75px 8.6vw;

        #{$self}--wms & {
            padding-top: 65px;
            padding-bottom: 65px;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 600;
        color: #fff;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 457px 318px;
        background-color: #29357f;

        #{$self}--work & {
            grid-template-rows: 457px 173px;
        }
    }

    &__box {
        display: grid;
        padding: 50px;

        &:nth-child(1) {
            grid-area: 1/1/1/3;

            #{$self}--work & {
                grid-area: 1/1/1/2;

                #{$self}__text {
                    max-width: 180px;
                }
            }
        }

        #{$self}--ring &:nth-child(6) {
            grid-area: 2/3/3/5;
        }

        #{$self}--work &:nth-child(3) {
            grid-area: 1/3/1/5;
            padding: 0;

            .warehouses-desc__label {
                width: 211px;
            }
        }

        #{$self}--work &:nth-child(4) {
            grid-area: 2/1/2/3;
        }

        #{$self}--work &:nth-child(5) {
            grid-area: 2/3/2/5;
        }

        #{$self}--work &:nth-child(4),
        #{$self}--work &:nth-child(5) {
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;

            #{$self}__text {
                align-self: center;
            }

            #{$self}__inner {
                align-self: center;
                margin-right: 45px;
            }
        }

        #{$self}--wms &:first-child,
        #{$self}--ring &:first-child {
            padding: 0;
        }

        #{$self}--wms &:nth-child(3),
        #{$self}--wms &:nth-child(6),
        #{$self}--ring &:nth-child(3),
        #{$self}--ring &:nth-child(4),
        #{$self}--ring &:nth-child(6),
        #{$self}--work &:nth-child(2),
        #{$self}--work &:nth-child(5) {
            background-color: rgba(255, 255, 255, 0.05);
        }

        #{$self}--wms &:nth-child(5),
        #{$self}--work &:nth-child(4) {
            background-color: rgba(255, 255, 255, 0.1);

            #{$self}__text {
                max-width: 100%;
            }
        }

        #{$self}--wms &:nth-child(4),
        #{$self}--ring &:nth-child(4),
        #{$self}--work &:nth-child(1),
        #{$self}--work &:nth-child(4) {
            padding-left: 8.6vw;
        }

        #{$self}--ring &:nth-child(2) {
            #{$self}__text {
                max-width: 235px;
            }
        }

        #{$self}--ring &:nth-child(4) {
            #{$self}__text {
                max-width: 250px;
            }
        }

        #{$self}--ring &:nth-child(5) {
            display: block;

            #{$self}__text {
                max-width: 210px;
            }
        }

        #{$self}--ring &:nth-child(6) {
            #{$self}__text {
                font-size: 20px;
                max-width: 450px;
            }
        }

        #{$self}--work &:nth-child(2) {
            #{$self}__text {
                max-width: 150px;
            }
        }
    }

    &__picture {
        display: flex;
        overflow: hidden;
        grid-area: -1/1;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__label {
        display: flex;
        grid-area: -1/1;
        justify-self: self-end;
        align-self: self-start;
        padding: 12px 20px 16px 22px;
        margin-top: 20px;
        margin-right: 20px;
        width: 174px;
        background-color: #29357f;
        font-size: 20px;
        font-weight: 600;
        color: #fff;

        #{$self}--work & {
            justify-self: self-start;
            margin-top: 34px;
            margin-left: 35px;
            padding: 13px 15px 15px 19px;
            width: 211px;
        }
    }

    &__text {
        display: flex;
        align-self: self-start;
        color: #fff;
        line-height: 24px;
        max-width: 196px;

        &--size-md {
            font-size: 20px;
            line-height: normal;
            max-width: 250px;
        }

        &--weight-600 {
            font-weight: 600;
        }
    }

    &__icon {
        fill: #e8e9f1;
        opacity: 0.375;
    }

    &__inner {
        display: flex;
        align-items: center;
        align-self: self-end;
        min-height: 80px;
    }

    &__number {
        display: flex;
        align-self: self-start;
        font-size: 54px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;
    }
}

.warehouses-scheme {
    &__container {
        display: grid;
        align-content: center;
        position: relative;
        overflow: hidden;
        background-color: #5b5fa9;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        padding-top: 200px;
        margin-top: -200px;
        z-index: -1;

        @media screen and (max-width: 1500px) {
            padding-top: 150px;
            margin-top: -150px;
        }
    }

    &__images {
        grid-area: -1/1;
        width: 100%;
    }

    &__picture {
        display: flex;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__block {
        display: grid;
        position: relative;
        align-items: center;
        justify-content: center;
        grid-area: -1/1;
        padding-right: 7vw;

        @media screen and (max-width: 1700px) {
            padding-top: 2vw;
            padding-right: 3.5vw;
        }
        @media screen and (max-width: 1500px) {
            padding-top: 3vw;
            padding-right: 3.3vw;
        }
        @media screen and (max-width: 1340px) {
            padding-top: 3vw;
            padding-right: 1vw;
        }
    }

    &__item {
        grid-area: -1/1;
    }

    &__desc {
        grid-area: -1/1;
        align-self: self-start;
        margin-top: -20px;
        margin-left: 16%;

        @media screen and (max-width: 1500px) {
            margin-left: 7.5%;
        }
    }

    &__area {
        justify-self: self-end;
        align-self: self-end;
        grid-area: -1/1;
        margin-right: 8.3%;
        margin-bottom: 80px;
    }
}

.warehouses-scheme-item {
    $self: &;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        left: -20px;
        width: 1px;
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#fff),
            color-stop(50%, #fff),
            color-stop(50%, transparent),
            to(transparent)
        );
        background-image: linear-gradient(
            0deg,
            #fff,
            #fff 50%,
            transparent 50%,
            transparent 100%
        );
        background-size: 1px 8px;
    }

    &--1 {
        transform: translate(-33vw, 22vw);
        max-width: 177px;

        @media screen and (max-width: 1500px) {
            transform: translate(-33vw, 23vw);
        }
        @media screen and (max-width: 1340px) {
            transform: translate(-33vw, 25vw);
        }

        &::before {
            height: 234px;
            bottom: 15px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 75%;
            left: -20px;
            width: 1px;
            height: 35.4vw;
            z-index: -1;
            transform: rotate(78deg);
            transform-origin: left bottom;
            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                from(#fff),
                color-stop(50%, #fff),
                color-stop(50%, transparent),
                to(transparent)
            );
            background-image: linear-gradient(
                0deg,
                #fff,
                #fff 50%,
                transparent 50%,
                transparent 100%
            );
            background-size: 1px 8px;
        }
    }

    &--2 {
        transform: translate(-0.5vw, -0.2vw);
        max-width: 177px;

        &::before {
            height: 44px;
            bottom: 100%;
        }
    }

    &--3 {
        transform: translate(-18vw, 6vw);
        max-width: 165px;
        text-align: right;

        @media screen and (max-width: 1500px) {
            transform: translate(-21vw, 5.5vw);
        }
    }

    &--4 {
        transform: translate(0, 28vw);
        max-width: 220px;

        &::before {
            height: 71px;
            bottom: 100%;
        }
    }

    &--5 {
        transform: translate(15vw, -2vw);
        max-width: 165px;
    }

    &--6 {
        transform: translate(17vw, 26vw);
        max-width: 100px;

        @media screen and (max-width: 1340px) {
            transform: translate(21.5vw, 28.5vw);
        }

        &::before {
            height: 71px;
            bottom: 100%;
        }
    }

    &--7 {
        transform: translate(43vw, 16vw);
        max-width: 130px;
        text-align: right;

        &::before {
            height: 134px;
            left: auto;
            right: -11px;
            bottom: 100%;
        }
    }

    &--8 {
        transform: translate(33.3vw, -3.6vw);
        max-width: 130px;

        @media screen and (max-width: 1500px) {
            transform: translate(34vw, -6vw);
        }

        &::before {
            height: 55px;
        }
    }

    &--9 {
        transform: translate(24vw, -12vw);
        max-width: 100px;

        &::before {
            height: 50px;
            bottom: 120%;
            left: 7px;
        }
    }

    &--10 {
        transform: translate(42vw, -26.5vw);
        max-width: 100px;

        &::before {
            height: 87px;
        }

        @media screen and (max-width: 1500px) {
            transform: translate(44vw, -29vw);
        }
    }

    &--11 {
        transform: translate(32vw, -38vw);
        max-width: 158px;

        @media screen and (max-width: 1500px) {
            transform: translate(32vw, -42vw);
        }

        &::before {
            height: 155px;
        }
    }

    &__box {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 40px;

            #{$self}--11 & {
                margin-bottom: 25px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-size: 100% 100%;
            z-index: 1;
            background-image: url(../img/point.svg);
            width: 19px;
            height: 18px;
            top: -1px;
            left: -29px;
        }

        #{$self}--1 &:first-child {
            transform: translate(33vw, -6.5vw);

            &::after {
                top: auto;
                bottom: -25px;
                left: 0;
            }
        }

        #{$self}--1 &:nth-child(2) {
            &::after {
                top: -15px;
            }
        }

        #{$self}--3 & {
            &::after {
                left: 90%;
                top: -25px;
            }
        }

        #{$self}--5 &,
        #{$self}--9 & {
            &::after {
                left: -2px;
                top: -25px;
            }
        }

        #{$self}--7 & {
            &::after {
                right: -20px;
                left: auto;
            }
        }
    }

    &__text {
        display: flex;
        font-size: 14px;
    }

    &__number {
        display: flex;
        margin-bottom: 9px;
        font-size: 26px;
        font-weight: 500;
    }
}

.warehouses-scheme-desc {
    display: flex;
    align-items: flex-end;
    color: #fff;
    transform: rotate(-12deg) skew(-13deg);

    &__number {
        display: flex;
        margin-right: 25px;
        font-size: 90px;
        font-weight: 600;
    }

    &__text {
        font-size: 40px;
        padding-bottom: 12px;
    }
}

.warehouses-scheme-area {
    font-size: 44px;
    color: #fff;

    &__text {
        font-weight: 200;
    }

    &__number {
        font-weight: 600;

        span {
            font-size: 28px;
        }
    }
}

.warehouses-map {
    display: grid;
    position: relative;
    min-height: 663px;
    background: url("../img/warehouses-map.jpg") center/cover no-repeat;

    &::before,
    &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        height: 168px;
    }

    &::before {
        top: 0;
        background-image: linear-gradient(
            0deg,
            rgba(91, 96, 167, 0) 0%,
            #5b5fa7 100%
        );
        z-index: 2;
    }

    &::after {
        bottom: 0;
        background-image: linear-gradient(
            0deg,
            #222d6e 0%,
            rgba(34, 45, 110, 0) 100%
        );
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: -1/1;
        padding-top: 110px;
        padding-bottom: 113px;
        padding-left: 16.7%;
        z-index: 3;

        @media screen and (max-width: 1500px) {
            padding-left: 8.3%;
        }
    }

    &__city {
        position: relative;
        grid-area: -1/1;
        width: em(940, $fz);
    }

    &__title {
        position: relative;
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        max-width: 550px;
    }

    &__row {
        display: flex;
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-right: 60px;
    }

    &__number {
        display: flex;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 2px;
    }

    &__text {
        font-size: 20px;
        color: #fff;
    }

    .map-city {
        &__item {
            &--—Åhelyabinsk {
                transform: translate(em(-375, $fz), em(-30, $fz));
            }

            &--omsk {
                transform: translate(em(-147, $fz), em(50, $fz));
            }

            &--novosibirsk {
                transform: translate(em(-54, $fz), em(90, $fz));
            }

            &--novokuznetsk {
                transform: translate(em(10, $fz), em(130, $fz));
            }

            &--abakan {
                transform: translate(em(180, $fz), em(155, $fz));
            }

            &--krasnoyarsk {
                transform: translate(em(108, $fz), em(45, $fz));
            }
        }
    }
}
