.delivery {
    display: flex;
    flex-direction: column;
    padding-bottom: em(160, $fz);
  
    @media screen and (max-width: #{$breakpoint_laptop_m - 1}) {
      padding-bottom: em(120, $fz);
    }
    @media screen and (max-width: 1199.98px) {
      padding-bottom: em(100, $fz);
    }
    @media screen and (max-width: 949.98px) {
      padding-bottom: em(80, $fz);
    }
    @media screen and (max-width: 599.98px) {
      padding-bottom: em(40, $fz);
    }
  
    &__description {
      margin-top: em(37, $fz);
  
      @media screen and (max-width: 949.98px) {
        margin-top: em(20, $fz);
      }
    }
  }
  
  .description {
    grid-row-gap: em(70, $fz);
  
    @media screen and (max-width: 949.98px) {
      grid-row-gap: em(50, $fz);
    }
    @media screen and (max-width: 599.98px) {
      grid-row-gap: em(30, $fz);
    }
  
    &,
    &__row,
    &__content {
      display: grid;
      align-content: start;
    }
  
    &__row {
      grid-template-columns: var(--description-template-columns, em(500 500, $fz));
      grid-gap: em(15, $fz) 10%;
  
      @media screen and (max-width: #{$breakpoint_laptop_m - 1}) {
        grid-template-columns: var(--description-template-columns, em(400, $fz) 1fr);
        grid-column-gap: 5%;
      }
      @media screen and (max-width: 1199.98px) {
        grid-template-columns: var(--description-template-columns, em(200, $fz) 1fr);
      }
      @media screen and (max-width: 949.98px) {
        grid-template-columns: var(--description-template-columns, em(160, $fz) 1fr);
      }
      @media screen and (max-width: 599.98px) {
        grid-template-columns: var(--description-template-columns, 1fr);
      }
    }
  
    &__content {
      grid-row-gap: var(--description-content-row-gap, em(27, $fz));
  
      @media screen and (max-width: 599.98px) {
        grid-row-gap: var(--description-content-row-gap, em(15, $fz));
      }
    }
  
    &__list {
      display: grid;
      grid-row-gap: var(--description-list-row-gap);
      list-style-position: inside;
  
      li::marker {
        $fz: 12;
        font-size: em($fz, $fz_base);
      }
    }
}
  