.form {
    &__label {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: em(32, $fz);
        }
    }

    &__input,
    &__textarea {
        $fz: 18;
        font-size: em($fz, $fz_base);
        line-height: 1.22;
        padding: em(12 50 12 16, $fz);
        border: 1px solid hsla(0, 0%, 0%, 0.23);
        width: 100%;
        border-radius: em(5, $fz);
        transition: border-color 0.3s;
        background-color: hsl(0, 0%, 100%);
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.40));
        color: hsla(0, 0%, 0%, 0.6);

        &:focus {
            border-color: hsla(0, 0%, 0%, 0.5);
        }
    }

    &__input {
        height: em(48, $fz);
    }

    &__textarea {
        height: em(80, $fz);
        min-height: em(80, $fz);
    }

    &__placeholder {
        position: absolute;
        top: em(16, $fz);
        left: 0;
        font-size: var(--fz-placeholder, #{em(18, $fz_base)});
        color: var(--placeholder-color, hsla(0, 0%, 0%, 0.6));
        transform: var(--placeholder-shows, translate(em(16, $fz), 0));
        transition: transform 0.3s, font-size 0.3s, color 0.3s;
        pointer-events: none;
    }

    &__clear {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: em(2, $fz);
        right: 0;
        width: em(40, $fz);
        height: em(50, $fz);
        background-color: transparent;
        opacity: var(--clear-show, 0);
        pointer-events: var(--clear-events, none);
        transition: opacity 0.3s;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                --clear-color: hsla(0, 0%, 0%, 0.8);
            }
        }
    }

    &__icon {
        transition: fill 0.3s;
        fill: var(--clear-color, hsla(0, 0%, 0%, 0.6));
        width: em(16, $fz);
        height: auto;
    }

    &__box {
        display: flex;
        align-items: center;

        @media screen and (max-width: 499.98px) {
            flex-direction: column;
        }
    }
}

.label {
    display: flex;
    position: relative;
    flex-direction: column;

    &--is-active {
        --placeholder-shows: translate(0, #{em(-37, $fz)});
        --clear-show: 1;
        --clear-events: auto;
        --fz-placeholder: #{em(12, $fz)};
        --placeholder-color: hsl(0, 0%, 100%);
    }
}

.form-consent {
    $fz: 12;
    font-size: em($fz, $fz_base);
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.5);

    &__link {
        text-decoration: underline;
        color: inherit;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                text-decoration: none;
            }
        }
    }
}

.form-popup {
    &__btn {
        width: em(227, $fz);
        height: em(54, $fz);
        margin-right: em(44, $fz);
    }

    &__consent {
        max-width: em(250, $fz);
    }
}
