.header {
    position: relative;
    padding-top: em(22, $fz);
    padding-bottom: em(22, $fz);

    &--home {
        padding-right: 3.85%;
        padding-left: 5%;
    }

    @media screen and (max-width: #{$breakpoint_laptop_m - 1}) {
        padding-right: 4.2%;
        padding-bottom: em(30, $fz);
        padding-left: 10.34%;
    }
    @media screen and (max-width: #{$breakpoint_HD - 5}) {
        padding-bottom: em(17, $fz);
        padding-left: 9%;
    }
    @media screen and (max-width: 949.98px) {
        padding: em(10 0 18, $fz);
    }

    &,
    &__container,
    &__list {
        display: flex;
    }

    &__container {
        width: 100%;

        @media screen and (min-width: 1585px) {
            align-items: center;
        }
        @media screen and (max-width: 1584px) {
            align-items: flex-start;
        }
        @media screen and (max-width: #{$breakpoint_HD - 5}) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 949.98px) {
            @include scrollbar;
            display: none;
            align-items: center;
            flex-direction: column;
            position: fixed;
            flex-wrap: nowrap;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: hsl(198, 100%, 30%);
            z-index: 1002;
            padding-bottom: em(40, $fz);
            padding-top: em(73, $fz);
            animation: var(--overlay-show, overlay-hidden) 0.3s forwards;
        }
    }

    &__nav {
        margin-right: em(10, $fz);

        @media screen and (min-width: #{$breakpoint_HD - 4}) and (max-width: #{$breakpoint_laptop_m - 1}) {
            margin-top: em(15, $fz);
        }
        @media screen and (max-width: #{$breakpoint_HD - 5}) {
            width: 100%;
            margin-bottom: em(15, $fz);
        }
        @media screen and (max-width: 949.98px) {
            margin-top: em(35, $fz);
            margin-bottom: em(60, $fz);
            order: 2;
        }
    }

    &__list {
        flex-wrap: wrap;
        list-style: none;
        gap: em(10 23, $fz);

        @media screen and (max-width: 949.98px) {
            flex-direction: column;
            align-items: center;
            gap: 0;
        }
    }

    &__item {
        &:not(:last-child) {
            @media screen and (max-width: 949.98px) {
                margin-bottom: em(25, $fz);
            }
        }
    }

    &__link {
        color: hsl(0, 0%, 0%);
        line-height: 1.5;
        padding: em(3, $fz);
        transition: color 0.3s;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                color: hsla(0, 0%, 0%, 0.7);
            }
        }
        @media screen and (max-width: 949.98px) {
            $fz: 20;
            font-size: em($fz, $fz_base);
            padding: em(10 40, $fz);
            color: #fff;
        }
    }

    &__networks {
        margin: em(10 10 10, $fz) auto;

        @media screen and (max-width: #{$breakpoint_HD - 5}) {
            margin-left: 0;
        }
        @media screen and (max-width: 949.98px) {
            position: fixed;
            top: 0;
            margin: 0;
            width: 100%;
            background-color: hsl(198, 100%, 30%);
        }
    }

    &__phone {
        @media screen and (min-width: 950px) {
            margin-top: em(10, $fz);
            margin-bottom: em(10, $fz);
            margin-right: em(5, $fz);
            min-width: em(252, $fz);
            z-index: 2;
        }
    }

    &__btn {
        flex-shrink: 0;
        height: em(58, $fz);
        width: em(305, $fz);

        @media screen and (max-width: #{$breakpoint_laptop_m - 1}) {
            width: em(270, $fz);
        }
    }

    &__sidebar {
        @media screen and (min-width: 950px) {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: em(91, $fz);
            z-index: 1004;
        }
        @media screen and (max-width: #{$breakpoint_HD - 5}) {
            width: em(83, $fz);
        }
        @media screen and (max-width: 949.98px) {
            width: 100%;
            grid-area: -1/1;
        }
    }

    &__top {
        @media screen and (max-width: 949.98px) {
            display: grid;
            width: 100%;
        }
    }

    &__search,
    &__burger {
        grid-area: -1/1;
        align-self: self-start;
        width: em(50, $fz);
        height: em(50, $fz);
        margin-top: em(5, $fz);
    }

    &__search {
        margin-right: em(17, $fz);
        justify-self: self-end;
    }

    &__burger {
        margin-left: em(22, $fz);
        justify-self: self-start;
    }
}

.header-networks {
    align-items: center;

    @media screen and (max-width: 949.98px) {
        justify-content: space-between;
        order: 1;
        padding: em(20 25, $fz);
    }
    
    &,
    &__link {
        display: flex;
    }

    &__link,
    &__btn {
        padding: em(5, $fz);
        color: hsl(198, 100%, 45%);
        transition: color 0.3s;

        &:not(:last-child) {
            @media screen and (min-width: 950px) {
                margin-right: em(19, $fz);
            }
        }

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                color: hsl(198, 100%, 30%);
            }
        }

        @media screen and (max-width: 949.98px) {
            color: hsl(0, 0%, 100%);
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__btn {
        display: none;
        background-color: transparent;
        font-size: inherit;
        padding: 0;

        @media screen and (max-width: 949.98px) {
            display: flex;
        }
    }
}

.header-phone {
    position: relative;

    &:hover {
        --header-phone-dropdown-visibility: visible;
        --header-phone-dropdown-opacity: 1;
    }

    @media screen and (max-width: 949.98px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 3;
    }

    &,
    &__dropdown {
        @media screen and (min-width: 950px) {
            padding-right: em(20, $fz);
            padding-left: em(24, $fz);
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        color: hsl(0, 0%, 0%);
        line-height: 1.5;
        transition: color 0.3s;
        z-index: 1;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                color: hsla(0, 0%, 0%, 0.7);
            }
        }

        @media screen and (max-width: 949.98px) {
            color: hsl(0, 0%, 100%);
            text-align: center;
            font-weight: 600;
            margin-bottom: em(30, $fz);
        }

        &--size-s {
            $fz: 18;
            font-size: em($fz, $fz_base);
            line-height: 2;

            @media screen and (max-width: 949.98px) {
                $fz: 24;
                font-size: em($fz, $fz_base);
                line-height: 1;
                margin-bottom: em(36, $fz);
            }
        }
    }

    &__text {
        $fz: 24;
        font-size: em($fz, $fz_base);

        @media screen and (max-width: 949.98px) {
            line-height: 1;
        }
    }
 
    &__icon {
        fill: hsla(0, 0%, 0%, 0.5);
        margin-left: em(12, $fz);

        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__dropdown {
        @media screen and (min-width: 950px) {
            position: absolute;
            top: em(-12, $fz);
            left: 0;
            right: 0;
            background-color: hsl(0, 0%, 100%);
            padding-top: em(55, $fz);
            border-radius: em(10, $fz);
            border: 1px solid hsl(0, 0%, 89%);
            box-shadow: em(0 9 13 -6, $fz) hsla(0, 0%, 0%, 0.5);
            padding-bottom: em(15, $fz);
            visibility: var(--header-phone-dropdown-visibility, hidden);
            opacity: var(--header-phone-dropdown-opacity, 0);
            transition: visibility 0.3s, opacity 0.3s;
        }
    }

    &__btn {
        font-size: inherit;
        background-color: transparent;
        color: hsl(198, 100%, 45%);
        transition: color 0.3s;
        margin-top: em(4, $fz);

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                color: hsl(198, 100%, 30%);
            }
        }

        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__label {
        $fz: 18;
        font-size: em($fz, $fz_base);
        line-height: 1.66;
    }

    &__address {
        $fz: 20;
        display: none;
        font-size: em($fz, $fz_base);
        text-align: center;
        font-weight: 600;
        color: #FFF;
        max-width: em(205, $fz);

        @media screen and (max-width: 949.98px) {
            display: flex;
        }
    }
}

.header-btn-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 93%);
    border-radius: em(40, $fz);
    padding-right: em(18, $fz);
    padding-left: em(24, $fz);
    transition: background-color 0.3s;

    @media screen and (max-width: 949.98px) {
        display: none;
    }
    
    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            background-color: hsl(0, 0%, 88%);
        }
    }

    &__text {
        color: hsl(219, 23%, 31%);
    }

    &__icon {
        fill: hsl(198, 100%, 45%);
    }
}

.header-sidebar {
    transition: border 0.3s;

    &:hover {
        --header-sidebar-color-border: hsl(198, 100%, 30%);
        border-color: hsl(198, 100%, 30%);
    }

    @media screen and (min-width: 950px) {
        border-right: 1px solid hsl(198, 100%, 45%);
    }
    @media screen and (max-width: 949.98px) {
        align-items: center;
    }
    
    &,
    &__btn,
    &__box {
        display: flex;
        flex-direction: column;
    }

    &__btn,
    &__box {
        flex-grow: 1;
    }

    &__box {
        @media screen and (max-width: 949.98px) {
            border-top: 1px solid  hsl(198, 100%, 45%);
            border-bottom: 1px solid  hsl(198, 100%, 45%);
            width: 100%;
            flex-direction: row;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 950px) {
            width: 100%;
            height: em(104, $fz);
        }
        @media screen and (max-width: 949.98px) {
            width: max-content;
            margin-bottom: em(11, $fz);
        }
    }

    &__btn {
        justify-content: center;
        align-items: center;
        color: hsl(198, 100%, 45%);
        background-color: transparent;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                background-color: hsl(198, 100%, 30%);
                color: hsl(0, 0%, 100%);
            }
        }

        @media screen and (min-width: 950px) {
            border-top: 1px solid var(--header-sidebar-color-border, hsl(198, 100%, 45%));
            transition: background-color 0.3s, color 0.3s, border 0.3s;
        }
        @media screen and (max-width: 949.98px) {
            flex-direction: row;
            min-height: em(60, $fz);
        }

        &--catalog {
            @media screen and (max-width: 949.98px) {
                border-right: 1px solid hsl(198, 100%, 45%);
            }
            &:hover {
                @media screen and (min-width: $breakpoint-hover) {
                    --header-sidebar-icon-animation: rotate 5s linear infinite;
                }
            }
        }

        &--services {
            &:hover {
                @media screen and (min-width: $breakpoint-hover) {
                    --header-sidebar-icon-animation: scale 1s infinite;
                }
            }
        }
    }

    &__text {
        font-weight: 500;

        @media screen and (min-width: 950px) {
            margin-top: em(14, $fz);
        }
        @media screen and (max-width: 949.98px) {
            margin-left: em(12, $fz);
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        fill: currentColor;
        will-change: transform;

        &--catalog,
        &--services {
            animation: var(--header-sidebar-icon-animation);
        }

        &--services {
            margin-bottom: em(-3, $fz);
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0%,
    90%,
    80% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.15);
    }
    100% {
        transform: scale(1.2);
    }
}

.btn-burger,
.btn-search-mobi {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding: 0;
    background-color: transparent;
    color: #00A0E3;
    z-index: 1;

    @media screen and (max-width: 949.98px) {
        display: flex;
    }

    &__icon {
        fill: currentColor;
    }
}

.btn-search-mobi {
    display: none;

    @media screen and (max-width: 949.98px) {
        display: flex;
    }
}