.services {
    --description-template-columns: #{em(640 640, $fz)};
    --description-content-row-gap: #{em(20, $fz)};
    --description-list-row-gap: #{em(20, $fz)};
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
    @media screen and (min-width: 1630px) {
      --wrapper-padding-left: 0;
      --title-block-margin-left: 12.6%;
    }
    @media screen and (max-width: 1629px) {
      --description-template-columns: #{repeat(2, 1fr)};
    }
    @media screen and (max-width: 949.98px) {
      --description-template-columns: 1fr;
    }
    @media screen and (max-width: 599.98px) {
      --description-content-row-gap: #{em(15, $fz)};
      --description-list-row-gap: #{em(15, $fz)};
    }
  
    &__description {
      padding-bottom: em(73, $fz);
      margin-top: em(37, $fz);
  
      @media screen and (min-width: 1630px) {
        padding-left: 12.6%;
      }
      @media screen and (max-width: 949.98px) {
        padding-bottom: em(40, $fz);
        margin-top: em(20, $fz);
      }
    }
  
    .description__list {
      margin-left: em(4, $fz);
    }
  }
  
  .services-types {
    --title-color: hsla(0, 0%, 100%, 0.5);
    position: relative;
    grid-row-gap: em(80, $fz);
    padding-top: em(73, $fz);
    padding-bottom: em(105, $fz);
    margin-bottom: -1px;
  
    @media screen and (min-width: 1630px) {
      padding-left: 12.6%;
    }
    @media screen and (max-width: 949.98px) {
      grid-row-gap: em(60, $fz);
      padding-top: em(40, $fz);
      padding-bottom: em(10, $fz);
    }
    @media screen and (max-width: 599.98px) {
      grid-row-gap: em(40, $fz);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: em(70, $fz);
      width: 120vw;
      background-color: hsl(201, 64%, 26%);
      pointer-events: none;
  
      @media screen and (max-width: 1629px) {
        left: em(-100, $fz);
      }
      @media screen and (max-width: #{$breakpoint_HD - 5}) {
        left: em(-110, $fz);
      }
      @media screen and (max-width: 599.98px) {
        left: em(-30, $fz);
      }
    }
  
    &,
    &__block,
    &__grid {
      display: grid;
    }
  
    &__block {
      position: relative;
      grid-row-gap: em(39, $fz);
  
      @media screen and (max-width: 949.98px) {
        grid-row-gap: em(30, $fz);
      }
    }
  
    &__grid {
      grid-template-columns: repeat(auto-fit, em(404, $fz));
      grid-gap: em(40 30, $fz);
  
      @media screen and (max-width: 1199.98px) {
        grid-template-columns: repeat(auto-fit, minmax(em(300, $fz), 1fr));
      }
      @media screen and (max-width: 949.98px) {
        grid-gap: em(10, $fz);
      }
      @media screen and (max-width: 599.98px) {
        grid-template-columns: repeat(auto-fit, minmax(em(280, $fz), 1fr));
      }
    }
  
    &__card {
      height: em(175, $fz);
      overflow: hidden;
    }
  }
  
  .services-type-card {
    border: 1px solid hsla(0, 0%, 100%, 0.3);
    border-radius: em(10, $fz);
    transition: background-color 0.3s;
  
    &:hover {
      @media screen and (min-width: $breakpoint-hover) {
        background-color: hsla(0, 0%, 100%, 0.08);
      }
    }
  
    &,
    &__content {
      display: grid;
    }
  
    &__content {
      align-content: space-between;
      padding: em(25 19 19 23, $fz);
    }
  
    &__picture,
    &__content {
      grid-area: -1/1;
    }
  
    &__picture {
      opacity: 0.1;
      display: flex;
      height: inherit;
      pointer-events: none;
      user-select: none;
    }
  
    &__picture,
    &__img {
      width: 100%;
    }
  
    &__img {
      height: 100%;
      object-fit: cover;
    }
  
    &__name,
    &__price {
      color: hsl(0, 0%, 100%);
    }
  
    &__name {
      $fz: 22;
      grid-area: 1/1/2/3;
      font-size: em($fz, $fz_base);
      font-weight: 600;
  
      @media screen and (max-width: 599.98px) {
        $fz: 20;
        font-size: em($fz, $fz_base);
      }
    }
  
    &__price {
      $fz: 18;
      align-self: center;
      grid-area: 2/1/3/2;
      font-size: em($fz, $fz_base);
    }
  
    &__icon {
      justify-self: self-end;
      grid-area: 2/2/3/3;
      width: em(38, $fz);
      height: em(38, $fz);
      fill: hsla(0, 0%, 100%, 0.5);
    }
  }
  