.popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    animation: hiddenPopup 0.3s forwards;

    &--show {
        animation: showPopup 0.3s forwards;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #194073;
        opacity: 0.8;
    }

    &__block {
        position: relative;
        background-color: #022450;
        z-index: 10;
        padding: 60px;
        width: 100%;
        max-width: 678px;

        @media screen and (max-width: 649.98px) {
            padding: 40px 20px;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 44px;
        font-weight: 500;

        @media screen and (max-width: 649.98px) {
            font-size: 32px;
        }
    }

    &__close {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: none;
        cursor: pointer;

        &:hover {
            &::before,
            &::after {
                background-color: rgba(255, 255, 255, 1);
            }
        }

        &::before,
        &::after {
            content: "";
            grid-area: -1/1;
            background-color: rgba(255, 255, 255, 0.7);
            width: 40px;
            height: 3px;
            transition: background-color 0.3s;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__sharing {
        margin-bottom: 40px;
    }
}

.btn-form--popup {
    margin-top: 0;
    width: 245px;
    padding-right: 30px;
    text-align: left;

    &:disabled {
        pointer-events: none;
    }
}

@keyframes showPopup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hiddenPopup {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.input--copy {
    padding-right: 20px;
}
