.reviews {
    padding-top: 68px;
    padding-right: 16.7%;
    padding-left: 8.3%;

    &__info {
        border-left: 3px solid #4b91d8;
        max-width: 810px;
        padding-left: 32px;
        line-height: 168%;
        margin-bottom: 100px;
    }
}
