.services {
    display: grid;
    grid-row-gap: 50px;
    padding-right: 320px;
    padding-left: 8.3%;
    padding-top: 40px;

    @media screen and (max-width: 1198.98px) {
        padding-right: 17%;
    }
    @media screen and (max-width: 849.98px) {
        padding-right: 40px;
        padding-left: 40px;
    }
    @media screen and (max-width: 649.98px) {
        padding-top: 32px;
        padding-right: 14px;
        padding-left: 14px;
        grid-row-gap: 16px;
    }
}

.services-block {
    $self: &;
    display: grid;
    align-items: start;
    grid-column-gap: 60px;
    border-radius: 13px;
    border: 1px solid #4b91d8;
    padding: 75px;
    max-width: 1600px;

    @media screen and (min-width: 1600px) {
        grid-template-columns: 1fr 25%;
    }
    @media screen and (max-width: 1198.98px) {
        padding-right: 46px;
        padding-left: 57px;
    }
    @media screen and (max-width: 649.98px) {
        padding: 32px 17px;
    }

    &:first-child {
        @media screen and (min-width: 1600px) {
            --area-types: 2/2/5/3;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 32px;
        transition: opacity 0.3s;

        @media screen and (min-width: 1600px) {
            grid-column: 1/2;
        }
        @media screen and (max-width: 1599.98px) {
            margin-bottom: 24px;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 20px;
            margin-bottom: 16px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__icon {
        stroke: #fff;
        margin-left: 8px;
        transform: translateY(3px);

        @media screen and (max-width: 649.98px) {
            width: 23px;
            height: auto;
            transform: translateY(1px);
        }
    }

    &__text {
        line-height: 1.7;
        max-width: 730px;

        @media screen and (min-width: 1600px) {
            grid-column: 1/2;
        }
        @media screen and (max-width: 1599.98px) {
            margin-bottom: 60px;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 14px;
            margin-bottom: 32px;
        }
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
        grid-gap: 32px;
        margin-top: 60px;

        @media screen and (min-width: 1600px) {
            grid-column: 1/2;
        }
        @media screen and (max-width: 1599.98px) {
            grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
        }
        @media screen and (max-width: 649.98px) {
            grid-template-columns: repeat(
                auto-fit,
                minmax(100px, calc(1fr / 2))
            );
            margin-top: 32px;
            grid-gap: 13px;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__types {
        display: grid;
        grid-row-gap: 30px;

        @media screen and (min-width: 1600px) {
            grid-area: var(--area-types, 1/2/5/3);
        }
        @media screen and (max-width: 1599.98px) {
            justify-content: start;
            grid-template-columns: repeat(auto-fit, minmax(50px, auto));
            grid-auto-flow: column;
            grid-template-rows: auto auto;
            grid-column-gap: 90px;
        }
        @media screen and (max-width: 1198.98px) {
            grid-column-gap: 120px;
        }
        @media screen and (max-width: 949.98px) {
            grid-column-gap: 60px;
        }
        @media screen and (max-width: 649.98px) {
            grid-template-columns: auto;
            grid-template-rows: none;
            grid-auto-flow: inherit;
            grid-row-gap: 24px;
        }
    }

    &__type {
        display: block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.6;
        transition: opacity 0.3s;

        @media screen and (max-width: 649.98px) {
            font-size: 16px;
            line-height: normal;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
