.service {
    padding-right: 16.7%;
    padding-left: 8.3%;
    overflow: hidden;

    @media screen and (max-width: 849.98px) {
        padding-right: 40px;
        padding-left: 40px;
    }
    @media screen and (max-width: 649.98px) {
        padding-right: 15px;
        padding-left: 15px;
    }

    &__preview {
        margin-bottom: 220px;

        @media screen and (max-width: 1599.98px) {
            margin-bottom: 180px;
        }
        @media screen and (max-width: 1199.98px) {
            margin-bottom: 140px;
        }
        @media screen and (max-width: 849.98px) {
            margin-bottom: 120px;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 100px;
        }
    }

    &__title {
        margin-bottom: 80px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 60px;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 32px;
        }
    }

    &__approach,
    &__get,
    &__advantage {
        margin-bottom: 180px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 140px;
        }
        @media screen and (max-width: 849.98px) {
            margin-bottom: 120px;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 100px;
        }
    }

    &__additional,
    &__example {
        margin-bottom: 160px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 140px;
        }
        @media screen and (max-width: 849.98px) {
            margin-bottom: 120px;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 100px;
        }
    }
}

.service-preview {
    $self: &;
    position: relative;

    &__container {
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: 649.98px) {
            flex-direction: column;
        }

        #{$self}--website & {
            margin-bottom: 120px;

            @media screen and (max-width: 649.98px) {
                margin-bottom: 100px;
            }
        }
    }

    &__picture {
        display: flex;
        width: 40%;
        min-width: 40%;
        height: auto;
        margin: -30px 66px 80px -73px;

        @media screen and (max-width: 1599.98px) {
            width: 44%;
            min-width: 44%;
            margin-right: 25px;
        }
        @media screen and (max-width: 1199.98px) {
            width: 47%;
            min-width: 47%;
            padding-top: 40px;
            margin-top: -20px;
            margin-right: 13px;
            margin-bottom: 110px;
        }
        @media screen and (max-width: 849.98px) {
            padding-top: 20px;
            margin-left: -40px;
        }
        @media screen and (max-width: 649.98px) {
            width: 100%;
            min-width: 100%;
            padding-top: 0;
            margin: 0 0 26px;
        }

        #{$self}--website & {
            width: 34.5%;
            min-width: 34.5%;
            margin-right: 7%;
            margin-bottom: 0;
            margin-left: -35px;

            @media screen and (max-width: 1599.98px) {
                width: 39%;
                min-width: 39%;
                margin-right: 8%;
                margin-left: -61px;
            }
            @media screen and (max-width: 1199.98px) {
                width: 43%;
                min-width: 43%;
                margin-right: 5%;
                margin-left: -68px;
            }
            @media screen and (max-width: 849.98px) {
                margin-left: -30px;
            }
            @media screen and (max-width: 649.98px) {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 21px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__content {
        #{$self}--website & {
            padding-bottom: 60px;

            @media screen and (max-width: 1599.98px) {
                padding-bottom: 40px;
            }
            @media screen and (max-width: 1199.98px) {
                padding-bottom: 10px;
            }
            @media screen and (max-width: 849.98px) {
                padding-bottom: 0;
            }
        }
    }

    &__title {
        font-size: 52px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 32px;

        @media screen and (max-width: 1599.98px) {
            font-size: 36px;
            margin-bottom: 32px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 32px;
            margin-bottom: 24px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 28px;
        }
        @media screen and (max-width: 849.98px) {
            font-size: 24px;
        }

        #{$self}--website & {
            @media screen and (max-width: 1599.98px) {
                max-width: 420px;
            }
            @media screen and (max-width: 1199.98px) {
                max-width: 340px;
            }
            @media screen and (max-width: 849.98px) {
                max-width: 288px;
            }
        }
    }

    &__text {
        line-height: 168%;
        margin-bottom: 60px;
        max-width: 680px;

        @media screen and (max-width: 1599.98px) {
            font-size: 14px;
            margin-bottom: 50px;
        }
        @media screen and (max-width: 1199.98px) {
            margin-bottom: 30px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
    }
    &__btn {
        margin-right: 32px;
    }

    &__cost {
        position: absolute;
        bottom: 5px;
        left: 0;

        @media screen and (max-width: 1599.98px) {
            bottom: 13px;
        }
        @media screen and (max-width: 649.98px) {
            position: static;
            margin-bottom: 40px;
        }
    }
}

.service-cost {
    display: flex;

    &__box {
        &:first-child {
            margin-right: 69px;

            @media screen and (max-width: 1599.98px) {
                margin-right: 32px;
            }
        }
    }

    &__text {
        display: block;
        margin-bottom: 8px;

        @media screen and (max-width: 1599.98px) {
            font-size: 14px;
        }
    }

    &__value {
        font-size: 24px;
        font-weight: 500;

        @media screen and (max-width: 1599.98px) {
            font-size: 20px;
        }
    }
}

.service-approach {
    &__container {
        display: flex;
        margin-bottom: 100px;

        @media screen and (max-width: 1599.98px) {
            margin-bottom: 120px;
        }
        @media screen and (max-width: 849.98px) {
            flex-direction: column;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 0;
        }
    }

    &__picture {
        display: flex;
        width: 64%;
        min-width: 64%;
        height: auto;
        margin-top: -200px;
        margin-right: -20%;

        @media screen and (max-width: 1599.98px) {
            width: 77%;
            min-width: 77%;
            margin-top: -100px;
            margin-right: -29%;
        }
        @media screen and (max-width: 1199.98px) {
            width: 82%;
            min-width: 82%;
            margin-top: -130px;
        }
        @media screen and (max-width: 849.98px) {
            margin-top: -20px;
            margin-right: auto;
            margin-left: auto;
        }
        @media screen and (max-width: 649.98px) {
            position: relative;
            width: 130%;
            min-width: 130%;
            margin-top: -10px;
            margin-right: 0;
            margin-left: 0;
            left: 56%;
            transform: translate(-50%);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__block {
        margin-right: 6%;

        @media screen and (max-width: 1599.98px) {
            margin-right: 5%;
        }
        @media screen and (max-width: 1199.98px) {
            margin-right: 0;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 60px;

            @media screen and (max-width: 1599.98px) {
                margin-bottom: 40px;
            }
            @media screen and (max-width: 1199.98px) {
                margin-bottom: 30px;
            }
        }
    }

    &__stages {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        grid-gap: 45px 180px;

        @media screen and (max-width: 1199.98px) {
            grid-column-gap: 140px;
        }
        @media screen and (max-width: 849.98px) {
            grid-column-gap: 20px;
            justify-content: space-between;
        }
        @media screen and (max-width: 649.98px) {
            grid-template-columns: 1fr;
            grid-row-gap: 32px;
        }
    }

    &__stage {
        font-size: 20px;
        color: #2993de;
    }
}

.service-approach-item {
    display: flex;
    align-items: center;

    &__image {
        width: 60px;
        min-width: 60px;
        margin-right: 14px;

        @media screen and (max-width: 1199.98px) {
            margin-right: 10px;
        }
    }

    &__icon {
        stroke: #6688b4;
        fill: transparent;
        max-width: 100%;
        height: auto;

        @media screen and (max-width: 1599.98px) {
            transform: scale(0.9);
        }
        @media screen and (max-width: 1199.98px) {
            transform: scale(0.8);
        }
    }

    &__text {
        font-size: 24px;
        line-height: 158%;

        @media screen and (max-width: 1599.98px) {
            font-size: 20px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 16px;
        }
    }
}

.service-get {
    &__container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 320px);
        grid-row-gap: 60px;

        @media screen and (max-width: 1599.98px) {
            grid-template-columns: repeat(3, 275px);
        }
        @media screen and (max-width: 1199.98px) {
            grid-template-columns: repeat(3, 215px);
            grid-row-gap: 47px;
        }
        @media screen and (max-width: 649.98px) {
            grid-template-columns: 1fr;
            grid-row-gap: 40px;
        }
    }
}

.service-get-box {
    @media screen and (max-width: 649.98px) {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-column-gap: 28px;
        align-items: center;
    }

    &__image {
        display: flex;
        align-items: flex-end;
        max-width: 130px;
        height: 110px;
        margin-bottom: 30px;

        @media screen and (max-width: 649.98px) {
            width: 100%;
            height: auto;
            margin-bottom: 0;
            grid-area: 1/1/5/2;
        }
    }

    &__icon {
        fill: transparent;
        max-width: 100%;
        height: auto;

        @media screen and (max-width: 649.98px) {
            width: 100%;
        }
    }

    &__name {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 500;

        @media screen and (max-width: 649.98px) {
            font-size: 20px;
            grid-row: 2/3;
        }
    }

    &__text {
        @media screen and (max-width: 1199.98px) {
            font-size: 14px;
        }
        @media screen and (max-width: 649.98px) {
            grid-row: 3/4;
        }
    }
}

.service-additional {
    &__container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 649.98px) {
            flex-direction: column;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 50px;

            @media screen and (max-width: 1599.98px) {
                margin-bottom: 30px;
            }
            @media screen and (max-width: 649.98px) {
                margin-bottom: 20px;
            }
        }
    }

    &__picture {
        width: 62.6%;
        min-width: 62.6%;
        margin-top: -105px;
        margin-right: -56px;

        @media screen and (max-width: 1599.98px) {
            width: 71.6%;
            min-width: 71.6%;
            margin-top: -60px;
            margin-right: -140px;
        }
        @media screen and (max-width: 1199.98px) {
            width: 67.6%;
            min-width: 67.6%;
            margin-top: 0;
            margin-right: -80px;
        }
        @media screen and (max-width: 849.98px) {
            margin-right: -40px;
        }
        @media screen and (max-width: 649.98px) {
            width: 100%;
            margin-top: 60px;
            margin-right: 0;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.service-example {
    &__card {
        &:not(:last-child) {
            margin-bottom: 150px;

            @media screen and (max-width: 1599.98px) {
                margin-bottom: 100px;
            }
            @media screen and (max-width: 1199.98px) {
                margin-bottom: 80px;
            }
            @media screen and (max-width: 649.98px) {
                margin-bottom: 68px;
            }
        }
    }
}

.service-example-card {
    display: flex;

    @media screen and (max-width: 649.98px) {
        flex-direction: column;
    }

    &__picture {
        display: flex;
        width: 45%;
        min-width: 45%;
        height: 17.344vw;
        margin-right: 5.6%;

        @media screen and (max-width: 1599.98px) {
            margin-right: 4.2%;
        }
        @media screen and (max-width: 849.98px) {
            height: 20vw;
        }
        @media screen and (max-width: 649.98px) {
            width: 100%;
            margin-right: 0;
            height: 47.733vw;
            margin-bottom: 40px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-size: 32px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 10px;

        @media screen and (max-width: 1599.98px) {
            font-size: 24px;
        }
    }

    &__text {
        line-height: 168%;

        @media screen and (max-width: 1599.98px) {
            font-size: 14px;
        }
    }

    &__links {
        display: flex;
        margin-bottom: 26px;

        @media screen and (max-width: 1599.98px) {
            margin-bottom: 16px;
        }
    }

    &__link {
        display: block;
        line-height: 143.75%;
        color: #2993de;
        transition: opacity 0.3s;
        padding-top: 6px;
        padding-bottom: 6px;

        @media screen and (max-width: 1599.98px) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-right: 40px;

            @media screen and (max-width: 1599.98px) {
                margin-right: 55px;
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__name {
        display: block;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;

        @media screen and (max-width: 1599.98px) {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    &__box {
        &--task {
            margin-bottom: 32px;

            @media screen and (max-width: 1599.98px) {
                margin-bottom: 24px;
            }
        }
        &--client {
            margin-bottom: 18px;
        }
    }
}

.service-stages {
    $self: &;

    &--website {
        margin-bottom: 150px;

        @media screen and (max-width: 649.98px) {
            margin-bottom: 100px;
        }

        .title {
            @media screen and (max-width: 1199.98px) {
                max-width: 475px;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 325px);
        grid-gap: 170px 160px;
        position: relative;
        margin-top: 140px;
        margin-left: 70px;

        @media screen and (max-width: 1599.98px) {
            grid-template-columns: repeat(2, 325px);
            grid-gap: 140px 123px;
            margin-top: 130px;
            margin-left: 47px;
        }
        @media screen and (max-width: 1199.98px) {
            grid-template-columns: repeat(2, 261px);
            grid-gap: 130px 117px;
        }
        @media screen and (max-width: 849.98px) {
            grid-gap: 130px 65px;
            margin-top: 100px;
            margin-left: 30px;
        }
        @media screen and (max-width: 649.98px) {
            grid-template-columns: 1fr;
            grid-row-gap: 0;
            margin-top: 0;
            margin-left: 0;
        }

        #{$self}--website & {
            @media screen and (max-width: 1599.98px) {
                grid-gap: 115px 162px;
            }
            @media screen and (max-width: 1199.98px) {
                grid-template-columns: repeat(2, 320px);
                grid-gap: 73px 93px;
                margin-top: 80px;
                margin-left: 0;
            }
            @media screen and (max-width: 849.98px) {
                grid-column-gap: 40px;
            }
            @media screen and (max-width: 649.98px) {
                grid-template-columns: 1fr;
                grid-row-gap: 0;
            }
        }

        &::before {
            @media screen and (max-width: 1599.98px) {
                content: "";
                position: absolute;
                background: url("../img/line-1280.png") top/100% 100% no-repeat;
                width: 1000px;
                height: 638px;
                top: -2px;
                left: -88px;
                z-index: -1;
            }
            @media screen and (max-width: 1199.98px) {
                width: 830px;
                height: 565px;
                top: -11px;
                left: -67px;
            }
            @media screen and (max-width: 849.98px) {
                width: 740px;
                left: -64px;
            }
            @media screen and (max-width: 649.98px) {
                display: none;
            }

            #{$self}--website & {
                @media screen and (max-width: 1599.98px) {
                    top: -23px;
                    left: -95px;
                    background-image: url("../img/line-website1280.png");
                    width: 1109px;
                    height: 934px;
                }
                @media screen and (max-width: 1199.98px) {
                    top: -16px;
                    left: -78px;
                    width: 940px;
                    height: 820px;
                }
                @media screen and (max-width: 849.98px) {
                    width: 830px;
                    left: -71px;
                }
            }
        }
    }

    &__box {
        position: relative;

        @media screen and (max-width: 649.98px) {
            display: grid;
            grid-template-columns: 57px 1fr;
            grid-gap: 16px 20px;
            align-items: center;
            position: relative;

            &:not(:last-child) {
                padding-bottom: 60px;
            }

            &:not(:last-child)::before {
                content: "";
                position: absolute;
                top: 53px;
                bottom: -1px;
                left: 40px;
                background: url("../img/line-375.png") top/100% 100% no-repeat;
                width: 10px;
                z-index: -1;

                #{$self}--website & {
                    background-image: url("../img/line-375-2.png");
                    width: 22px;
                }
            }

            &:nth-child(even) {
                &::before {
                    transform: scaleX(-1);
                    left: 5px;

                    #{$self}--website & {
                        transform: scaleX(1);
                        left: 33px;
                    }
                }
            }

            &:nth-child(odd) {
                &::before {
                    #{$self}--website & {
                        transform: scaleX(-1);
                        left: 0px;
                    }
                }
            }
        }

        #{$self}__number {
            &::before {
                content: "";
                position: absolute;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                z-index: -1;

                @media screen and (max-width: 1599.98px) {
                    display: none;
                }
            }
        }

        &:nth-child(1) {
            order: 1;

            #{$self}__number {
                &::before {
                    width: 923px;
                    height: 93px;
                    top: -20px;
                    left: 45px;
                    background-image: url("../img/line-top.png");
                }
            }
        }
        &:nth-child(2) {
            order: 2;
        }
        &:nth-child(3) {
            order: 3;

            @media screen and (max-width: 1599.98px) {
                order: 4;
            }
            @media screen and (max-width: 649.98px) {
                order: 3;
            }

            #{$self}--website & {
                @media screen and (max-width: 1599.98px) {
                    transform: translateX(-25px);
                }
                @media screen and (max-width: 649.98px) {
                    transform: translateX(0);
                }
            }
        }
        &:nth-child(4) {
            order: 5;

            @media screen and (max-width: 1599.98px) {
                order: 3;
            }
            @media screen and (max-width: 649.98px) {
                order: 4;
            }
        }
        &:nth-child(5) {
            order: 4;

            @media screen and (max-width: 1599.98px) {
                order: 5;
            }

            #{$self}--website & {
                @media screen and (max-width: 1599.98px) and (min-width: 650px) {
                    display: grid;
                    grid-template-columns: 60px 1fr;
                    grid-gap: 24px;
                    align-items: center;
                    transform: translateX(156px);
                    grid-column: 1/3;
                    max-width: 472px;
                }
                @media screen and (max-width: 1199.98px) {
                    transform: translate(138px, 10px);
                }
                @media screen and (max-width: 849.98px) {
                    transform: translate(120px, 10px);
                }
                @media screen and (max-width: 649.98px) {
                    transform: translate(0, 0);
                }
            }

            #{$self}__number {
                &::before {
                    width: 1110px;
                    height: 255px;
                    top: -200px;
                    left: 54px;
                    background-image: url("../img/line-bottom.png");
                }

                #{$self}--website & {
                    @media screen and (max-width: 1599.98px) {
                        margin-bottom: 0;
                    }
                }
            }

            #{$self}__name {
                #{$self}--website & {
                    @media screen and (max-width: 1599.98px) {
                        margin-bottom: 0;
                        max-width: 300px;
                    }
                }
            }

            #{$self}__text {
                #{$self}--website & {
                    @media screen and (max-width: 1599.98px) and (min-width: 650px) {
                        grid-column: 1/3;
                    }
                }
            }
        }
    }

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 60px;
        height: 60px;
        background-color: #022450;
        border-radius: 5px;
        border: 2px solid #989cf8;
        color: #989cf8;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 32px;

        @media screen and (max-width: 1199.98px) {
            width: 57px;
            min-width: 57px;
            height: 54px;
            font-size: 28px;
            margin-bottom: 24px;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 0;
        }
    }

    &__label {
        display: block;
        font-size: 20px;
        font-weight: 500;
        line-height: 156%;

        @media screen and (max-width: 1199.98px) {
            font-size: 16px;
        }
    }

    &__name {
        display: block;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 24px;

        @media screen and (max-width: 649.98px) {
            grid-area: 1/2/2/3;
            margin-bottom: 0;
            font-size: 20px;
        }
    }

    &__text {
        line-height: 168%;
        @media screen and (max-width: 649.98px) {
            grid-area: 2/2/3/3;
            font-size: 14px;
        }
    }
}

.faq {
    padding-top: 180px;
    padding-right: 16.7%;
    padding-left: 8.3%;

    @media screen and (max-width: 1199.98px) {
        padding-top: 140px;
    }
    @media screen and (max-width: 849.98px) {
        padding-right: 40px;
        padding-left: 40px;
    }
    @media screen and (max-width: 649.98px) {
        padding-top: 100px;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__container {
        margin-top: 90px;
        padding-left: 21%;

        @media screen and (max-width: 1599.98px) {
            padding-left: 0;
            margin-top: 80px;
        }
        @media screen and (max-width: 1199.98px) {
            margin-top: 75px;
        }
        @media screen and (max-width: 649.98px) {
            margin-top: 60px;
        }
    }

    &__btn {
        position: relative;
        width: 100%;
        background: none;
        text-align: left;
        font-size: 28px;
        font-weight: 500;
        line-height: 168%;
        padding-right: 100px;
        cursor: pointer;
        transition: margin 0.3s;

        @media screen and (max-width: 1599.98px) {
            font-size: 20px;
            line-height: 158%;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 16px;
            line-height: 156%;
            padding-right: 50px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 22px;
            width: 28px;
            height: 2px;
            border-radius: 50%;
            background-color: #4b91d8;

            @media screen and (max-width: 1599.98px) {
                top: 15px;
            }
            @media screen and (max-width: 649.98px) {
                width: 20px;
                top: 13px;
            }
        }

        &::after {
            transform: rotate(90deg);
            transition: opacity 0.1s;
            will-change: opacity;
        }

        &--is-active {
            &::after {
                opacity: 0;
            }
        }

        span {
            display: block;
        }
    }

    &__item {
        padding-bottom: 50px;
        border-bottom: 1px solid #4b91d8;

        @media screen and (max-width: 649.98px) {
            padding-bottom: 40px;
        }

        &:not(:last-child) {
            margin-bottom: 50px;

            @media screen and (max-width: 649.98px) {
                margin-bottom: 40px;
            }
        }
    }

    &__content {
        overflow: hidden;
        height: 0;
        padding-right: 100px;
        line-height: 168%;
        max-width: 920px;
        transition: height 0.3s;
        will-change: height;

        @media screen and (max-width: 1599.98px) {
            font-size: 14px;
        }
        @media screen and (max-width: 649.98px) {
            padding-right: 0;
        }
    }

    &__inner {
        padding-top: 28px;

        @media screen and (max-width: 649.98px) {
            padding-top: 24px;
        }
    }
}

.service-preview-desc {
    display: flex;
    align-items: center;

    @media screen and (max-width: 649.98px) {
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 64px;
        margin-right: 210px;

        @media screen and (max-width: 1599.98px) {
            margin-right: 19%;
            padding-left: 40px;
        }
        @media screen and (max-width: 1199.98px) {
            margin-right: 13%;
        }
        @media screen and (max-width: 849.98px) {
            margin-right: 8%;
        }
        @media screen and (max-width: 649.98px) {
            margin-right: 0;
            margin-bottom: 60px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border-radius: 3px;
            background-color: #4b91d8;
            width: 3px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        width: max-content;
        transition: opacity 0.3s;

        @media screen and (max-width: 1599.98px) {
            font-size: 20px;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @media screen and (max-width: 1599.98px) {
                margin-bottom: 30px;
            }
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__icon {
        width: 28px;
        height: auto;
        fill: transparent;
        stroke: #fff;
        margin-left: 10px;

        @media screen and (max-width: 1599.98px) {
            width: 26px;
        }
    }

    &__text {
        line-height: 168%;
        max-width: 480px;

        @media screen and (max-width: 1199.98px) {
            font-size: 14px;
        }
    }
}

.text-block {
    position: relative;
    padding-left: 32px;
    font-size: 24px;
    line-height: 168%;
    max-width: 990px;

    @media screen and (max-width: 1599.98px) {
        font-size: 20px;
        max-width: 725px;
        padding-left: 24px;
    }
    @media screen and (max-width: 649.98px) {
        padding-top: 24px;
        padding-left: 0;
        font-size: 14px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 3px;
        background-color: #4b91d8;
        width: 3px;

        @media screen and (max-width: 649.98px) {
            width: 80px;
            height: 4px;
        }
    }
}

.service-advantage {
    &__title {
        margin-bottom: 60px;
        max-width: 745px;

        @media screen and (max-width: 1599.98px) {
            max-width: 700px;
        }
        @media screen and (max-width: 1199.98px) {
            max-width: 600px;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 32px;
        }
    }

    &__text {
        margin-bottom: 100px;

        @media screen and (max-width: 649.98px) {
            margin-bottom: 80px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        grid-gap: 36px;

        @media screen and (max-width: 1599.98px) {
            grid-template-columns: repeat(2, 0.5fr);
        }
        @media screen and (max-width: 1199.98px) {
            grid-gap: 24px;
        }
        @media screen and (max-width: 649.98px) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        @media screen and (min-width: 1600px) {
            min-height: 491px;
        }

        &:nth-child(5) {
            align-self: self-start;

            @media screen and (min-width: 1600px) {
                grid-area: 1/3/3/4;
                min-height: 642px;
            }
            @media screen and (max-width: 1599.98px) {
                grid-column: 1/3;
            }
            @media screen and (max-width: 649.98px) {
                grid-column: 1/2;
            }
        }
    }
}

.service-advantage-card {
    $self: &;
    padding: 50px 68px 60px;
    background-color: #0c2e5a;
    border-radius: 10px;

    @media screen and (max-width: 1199.98px) {
        padding-right: 38px;
        padding-bottom: 75px;
        padding-left: 40px;
    }
    @media screen and (max-width: 649.98px) {
        padding-right: 35px;
        padding-bottom: 70px;
        padding-left: 35px;
    }

    &:nth-child(5) {
        padding-right: 49px;
        padding-left: 46px;

        @media screen and (max-width: 1599.98px) and (min-width: 650px) {
            display: grid;
            grid-template-columns: 100px 1fr;
            align-items: center;
            grid-gap: 32px;
        }
        @media screen and (max-width: 649.98px) {
            padding-right: 35px;
            padding-bottom: 70px;
            padding-left: 35px;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        min-height: 106px;
        margin-bottom: 20px;

        #{$self}:nth-child(5) & {
            @media screen and (max-width: 1599.98px) and (min-width: 650px) {
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        fill: transparent;
    }

    &__name {
        display: block;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 24px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 16px;
        }

        #{$self}:nth-child(5) & {
            @media screen and (max-width: 1599.98px) and (min-width: 650px) {
                margin-bottom: 0;
                max-width: 320px;
            }
        }
    }

    &__text {
        line-height: 168%;

        #{$self}:nth-child(5) & {
            @media screen and (max-width: 1599.98px) and (min-width: 650px) {
                grid-column: 1/3;
                max-width: 750px;
            }
            @media screen and (max-width: 1199.98px) {
                max-width: 620px;
            }
        }

        @media screen and (max-width: 1199.98px) {
            font-size: 14px;
        }
    }
}

.service-cost-website {
    &__title {
        max-width: 800px;
        margin-bottom: 18px;

        @media screen and (max-width: 1599.98px) {
            max-width: 650px;
            margin-bottom: 32px;
        }
        @media screen and (max-width: 1199.98px) {
            max-width: 600px;
            margin-bottom: 48px;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 32px;
            margin-bottom: 60px;
        }
    }

    &__container {
        display: flex;
        align-items: flex-end;

        @media screen and (max-width: 1599.98px) {
            align-items: center;
        }
        @media screen and (max-width: 649.98px) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        line-height: 168%;
        max-width: 634px;
        margin-right: 7%;
        margin-bottom: 40px;

        @media screen and (max-width: 1599.98px) {
            margin-right: 2.5%;
            margin-bottom: 0;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 14px;
            max-width: 363px;
            margin-right: 6.5%;
        }
        @media screen and (max-width: 649.98px) {
            margin-right: 0;
        }
    }

    &__picture {
        width: 45%;
        min-width: 45%;

        @media screen and (max-width: 1599.98px) {
            width: 60%;
            min-width: 60%;
            margin-right: -109px;
        }
        @media screen and (max-width: 1199.98px) {
            width: 49%;
            min-width: 49%;
            margin-right: -40px;
        }
        @media screen and (max-width: 649.98px) {
            width: calc(100% + 30px);
            margin-right: 10px;
            margin-bottom: 40px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
