.team {
    &:not(.team--detail) {
        padding-top: 80px;
    }

    padding-left: 8.3%;
    padding-right: 16%;

    @media screen and (max-width: 1599.98px) {
        &:not(.team--detail) {
            padding-top: 60px;
        }
        padding-right: 12%;
    }
    @media screen and (max-width: 849.98px) {
        padding-right: 40px;
        padding-left: 40px;
    }
    @media screen and (max-width: 649.98px) {
        &:not(.team--detail) {
            padding-top: 20px;
        }
        padding-right: 15px;
        padding-left: 15px;
    }

    &__card {
        width: 16.7vw;
        height: 16.7vw;
        margin-right: 1.7vw;
        margin-bottom: 117px;

        @media screen and (max-width: 1599.98px) {
            width: 17.8vw;
            height: 17.8vw;
            margin-right: 1.9vw;
            margin-bottom: 84px;
        }
        @media screen and (max-width: 1199.98px) {
            margin-bottom: 63px;
        }
        @media screen and (max-width: 849.98px) {
            width: 21.5vw;
            height: 21.5vw;
            margin-bottom: 60px;
        }
        @media screen and (max-width: 649.98px) {
            width: 100%;
            height: 44.933vw;
            margin-right: 0;
            margin-bottom: 0;
        }

        &:nth-child(3n):not(:nth-child(6n)),
        &:nth-child(4n):not(:nth-child(8n)):not(:nth-child(12n)):not(
                :nth-child(20n)
            ),
        &:nth-child(10n):not(:nth-child(20n)):not(:nth-child(30n)),
        &:nth-child(16n),
        &:nth-child(22n) {
            width: 28.6vw;
            height: 28.6vw;

            @media screen and (max-width: 1599.98px) {
                width: 30.6vw;
                height: 30.6vw;
            }
            @media screen and (max-width: 849.98px) {
                width: 35vw;
                height: 35vw;
            }
            @media screen and (max-width: 649.98px) {
                width: 100%;
                height: 44.933vw;
            }
        }

        &:nth-child(3n):not(:nth-child(6n)) {
            margin-right: 0;
            margin-left: 5vw;

            @media screen and (max-width: 849.98px) {
                margin-left: 3.8vw;
            }
            @media screen and (max-width: 763.98px) {
                margin-left: 2vw;
            }
            @media screen and (max-width: 649.98px) {
                margin-left: 0;
            }
        }

        &:nth-child(4n):not(:nth-child(8n)):not(:nth-child(12n)):not(
                :nth-child(20n)
            ),
        &:nth-child(10n):not(:nth-child(20n)):not(:nth-child(30n)),
        &:nth-child(16n),
        &:nth-child(22n) {
            margin-right: 6.7vw;
            margin-top: -12vw;

            @media screen and (max-width: 1599.98px) {
                margin-top: -12.8vw;
            }
            @media screen and (max-width: 849.98px) {
                margin-top: -13.5vw;
                margin-right: 5.5vw;
            }
            @media screen and (max-width: 763.98px) {
                margin-right: 3.2vw;
            }
            @media screen and (max-width: 649.98px) {
                margin-top: 0;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 649.98px) {
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            grid-gap: 8px;
        }
    }

    &__slider {
        margin-right: 7%;
        margin-bottom: 180px;

        @media screen and (max-width: 1599.98px) {
            margin-right: 4%;
            margin-bottom: 100px;
        }
        @media screen and (max-width: 1199.98px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 849.98px) {
            margin-right: 1%;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 60px;
        }
    }
}

.team-card {
    display: grid;

    &:nth-child(3n):not(:nth-child(6n)),
    &:nth-child(4n):not(:nth-child(8n)):not(:nth-child(12n)):not(
            :nth-child(20n)
        ),
    &:nth-child(10n):not(:nth-child(20n)):not(:nth-child(30n)),
    &:nth-child(16n),
    &:nth-child(22n) {
        @media screen and (max-width: 1599.98px) {
            --team-card-padding: 24px;
            --team-card-size-name: 36px;
        }
        @media screen and (max-width: 1199.98px) {
            --team-card-size-name: 32px;
        }
        @media screen and (max-width: 849.98px) {
            --team-card-size-name: 30px;
        }
        @media screen and (max-width: 763.98px) {
            --team-card-size-name: 26px;
        }
    }

    &:hover {
        --opacity-content-team: 1;
    }

    &__bg {
        display: flex;
        align-items: center;
        position: relative;
        grid-area: -1/1;
        overflow: hidden;
        width: 100%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(120, 124, 216, 0.6);
            opacity: var(--opacity-content-team, 0);
            transition: opacity 0.3s;
            will-change: opacity;

            @media screen and (max-width: 649.98px) {
                display: none;
            }
        }
    }

    &__picture {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        grid-area: -1/1;
        padding: var(--team-card-padding, 24px);
        opacity: var(--opacity-content-team, 0);
        transition: opacity 0.3s;
        will-change: opacity;

        @media screen and (max-width: 1599.98px) {
            padding: var(--team-card-padding, 16px 14px);
        }
        @media screen and (max-width: 1199.98px) {
            padding: var(--team-card-padding, 16px);
        }
        @media screen and (max-width: 649.98px) {
            display: none;
        }
    }

    &__name {
        display: flex;
        font-size: var(--team-card-size-name, 36px);
        font-weight: 500;
        margin-bottom: 16px;

        @media screen and (max-width: 1599.98px) {
            font-size: var(--team-card-size-name, 28px);
        }
        @media screen and (max-width: 1199.98px) {
            font-size: var(--team-card-size-name, 24px);
            margin-bottom: 8px;
        }
        @media screen and (max-width: 849.98px) {
            font-size: var(--team-card-size-name, 22px);
        }
        @media screen and (max-width: 763.98px) {
            font-size: var(--team-card-size-name, 20px);
        }
    }

    &__position {
        font-size: 20px;
        line-height: 158%;

        @media screen and (max-width: 1599.98px) {
            font-size: 16px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 14px;
        }
    }
}

.team-slider {
    &__btn {
        position: static;
        margin-top: 0;
        height: 100%;
        border: 1px solid #677b94;

        &--prev {
            width: 82px;
            border-right: none;

            @media screen and (min-width: 1600px) {
                width: 110px;
            }
        }
        &--next {
            width: 133px;

            @media screen and (min-width: 1600px) {
                width: 177px;
            }

            .team-slider-btn__icon {
                transform: scaleX(-1);
            }
        }
    }

    &__btns {
        display: flex;
        position: relative;
        width: max-content;
        height: 50px;
        z-index: 1;

        @media screen and (min-width: 1600px) {
            margin-left: auto;
            transform: translateY(-63px);
            height: 63px;
        }
        @media screen and (max-width: 1599.98px) {
            margin-top: 32px;
        }
        @media screen and (max-width: 649.98px) {
            margin-top: 40px;
        }
    }
}

.team-slide {
    $self: &;
    display: flex;
    align-items: center;
    overflow: hidden;

    @media screen and (min-width: 1600px) {
        align-items: flex-end;
    }
    @media screen and (max-width: 649.98px) {
        flex-direction: column;
    }

    &__picture {
        display: flex;
        width: 33.333vw;
        min-width: 33.333vw;
        height: 33.333vw;

        @media screen and (min-width: 650px) {
            transition: transform 1s, opacity 0.5s;
            will-change: transform, opacity;
            transform: translateX(500px);
            opacity: 0;

            .swiper-slide-active & {
                transform: translateX(0);
                opacity: 1;
            }
        }
        @media screen and (max-width: 1199.98px) {
            width: 41.5vw;
            min-width: 41.5vw;
            height: 41.5vw;
        }
        @media screen and (max-width: 649.98px) {
            width: 100%;
            min-width: 100%;
            height: 86.667vw;
            margin-bottom: 24px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        padding: 40px 58px;
        background-color: #787cd8;
        margin-left: -100px;

        @media screen and (min-width: 1600px) {
            margin-bottom: 106px;
        }
        @media screen and (min-width: 650px) {
            transition: transform 0.7s, opacity 0.5s;
            will-change: transform, opacity;
            opacity: 0;
            transform: translateX(500px);

            .swiper-slide-active & {
                transform: translateX(0);
                opacity: 1;
            }
        }
        @media screen and (max-width: 1599.98px) {
            margin-left: -58px;
        }
        @media screen and (max-width: 1199.98px) {
            padding: 23px 40px;
            margin-left: -40px;
        }
        @media screen and (max-width: 849.98px) {
            padding: 20px 30px;
            margin-left: -30px;
        }
        @media screen and (max-width: 649.98px) {
            padding: 24px 40px;
            margin-left: 0;
        }
    }

    &__name {
        font-size: 52px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 27px;

        @media screen and (max-width: 1799.98px) {
            font-size: 42px;
        }
        @media screen and (max-width: 1599.98px) {
            font-size: 36px;
            margin-bottom: 16px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 32px;
        }
        @media screen and (max-width: 849.98px) {
            font-size: 24px;
            margin-bottom: 12px;
        }
        @media screen and (max-width: 649.98px) {
            font-size: 32px;
            margin-bottom: 16px;
        }
    }

    &__position {
        display: flex;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 40px;

        @media screen and (max-width: 1599.98px) {
            font-size: 20px;
            margin-bottom: 25px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 16px;
        }
        @media screen and (max-width: 849.98px) {
            margin-bottom: 18px;
        }
        @media screen and (max-width: 649.98px) {
            margin-bottom: 25px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 171%;

        @media screen and (max-width: 1599.98px) {
            font-size: 16px;
        }
        @media screen and (max-width: 1199.98px) {
            font-size: 14px;
        }
    }
}

.team-slider-btn {
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
        @media screen and (min-width: 1200px) {
            --btn-icon-slider-fill: #fff;
            background-color: #787cd8;
            border-color: #787cd8;
        }
    }

    &::after {
        display: none;
    }

    &__icon,
    svg {
        width: 20px;
        height: auto;
        fill: var(--btn-icon-slider-fill, #677b94);
        transition: fill 0.3s;
    }
}
