.header {
    padding: 27px 8.3% 32px;
    background-color: #fff;

    @media screen and (max-width: 1500px) {
        padding-left: 3.8%;
    }
    @media screen and (max-width: 1230px) {
        padding-right: 3.8%;
    }
    @media screen and (max-width: 1199.98px) {
        padding-right: 8.2%;
        padding-bottom: 13px;
        padding-left: 4.8%;
    }
    @media screen and (max-width: 899.98px) {
        padding: 17px 26px 15px 20px;
    }

    &__container {
        display: flex;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 1199.98px) and (min-width: 899.99px) {
            align-items: flex-start;
        }
        @media screen and (max-width: 899.98px) {
            justify-content: space-between;
        }
    }

    &__wrapper {
        display: flex;
        width: 100%;

        @media screen and (max-width: 899.98px) {
            display: none;
            position: fixed;
            flex-direction: column-reverse;
            justify-content: flex-end;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            background-color: #fff;
            padding-top: 83px;
            height: 100%;
            opacity: 0;
            animation: hidden 0.3s forwards;

            &--is-active {
                animation: shows 0.3s forwards;
            }
        }
    }

    &__logo {
        display: flex;
        margin-right: 3.4%;
        width: 236px;
        min-width: 236px;

        @media screen and (max-width: 1500px) {
            margin-right: 4.9%;
        }
        @media screen and (max-width: 1199.98px) {
            margin-top: 8px;
        }
        @media screen and (max-width: 930px) {
            width: 196px;
            min-width: 196px;
        }
        @media screen and (max-width: 899.98px) {
            margin-top: 0;
            z-index: 110;
        }
    }

    &__lk {
        margin-bottom: 20px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 5px;
        }
        @media screen and (max-width: 899.98px) {
            margin-bottom: 32px;
        }
    }

    &__phone {
        @media screen and (min-width: 899.99px) {
            margin-left: auto;
        }
    }

    &__block {
        @media screen and (max-width: 899.98px) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}

@keyframes shows {
    100% {
        opacity: 1;
    }
}

@keyframes hidden {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.header-logo {
    &__img {
        width: 100%;
        height: auto;
    }
}

.header-lk {
    @media screen and (max-width: 899.98px) {
        display: flex;
        justify-content: center;
        padding: 20px;
        border-bottom: 1px solid #d8d8d8;
    }
    &__link {
        color: #2d3da0;
        font-size: 14px;
        transition: opacity 0.3s;
        text-align: center;

        &:not(:last-child) {
            margin-right: 40px;
            @media screen and (max-width: 899.98px) {
                margin-right: 77px;
            }
        }
        @media screen and (max-width: 899.98px) {
            color: #2d3da0;
        }
        @media screen and (max-width: 599.98px) {
            max-width: 103px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.header-nav {
    @media screen and (max-width: 899.98px) {
        display: flex;
        justify-content: center;
        overflow: auto;
        flex-grow: 1;
        padding-right: 55px;
    }
    @media screen and (max-width: 599.98px) {
        padding-right: 0;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;

        @media screen and (max-width: 1199.98px) {
            flex-wrap: wrap;
            max-width: 350px;
        }

        @media screen and (max-width: 899.98px) {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            height: max-content;
            padding-bottom: 50px;
        }

        @media screen and (max-width: 599.98px) {
            max-width: 245px;
        }
    }

    &__item {
        position: relative;
        margin-right: 30px;

        @media screen and (max-width: 1199.98px) {
            margin-right: 15px;
            margin-top: 7px;
        }

        @media screen and (max-width: 899.98px) {
            margin-top: 0;
            margin-bottom: 34px;
        }

        &:hover {
            @media screen and (min-width: 899.99px) {
                --nav-dropdown: block;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 17px;
        color: #2d3da0;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__icon {
        fill: #2d3da0;
        margin-left: 8px;

        @media screen and (max-width: 899.98px) {
            display: none;
        }
    }
}

.header-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 899.98px) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #d8d8d8;
    }

    &__btn {
        background: none;
        color: #2d3da0;
        font-size: 14px;
        margin-bottom: 18px;
        transition: opacity 0.3s;

        @media screen and (max-width: 899.98px) {
            margin-bottom: 0;
            margin-left: 34px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__link {
        color: #6f6f6f;
        font-size: 20px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.nav-dropdown {
    position: absolute;
    top: 100%;
    left: 77%;
    transform: translateX(-50%);
    padding-top: 15px;
    display: var(--nav-dropdown, none);
    z-index: 10;

    @media screen and (max-width: 1199.98px) {
        padding-top: 10px;
    }
    @media screen and (max-width: 899.98px) {
        --nav-dropdown: block;
        position: static;
        transform: translateX(0);
        padding-top: 34px;
    }

    &__block {
        @media screen and (min-width: 899.99px) {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.7));
            min-width: 260px;
        }

        @media screen and (max-width: 899.98px) {
            padding-left: 20px;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;

            @media screen and (max-width: 899.98px) {
                margin-bottom: 34px;
            }
        }
    }

    &__link {
        font-size: 17px;
        color: #2d3da0;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }

        @media screen and (max-width: 899.98px) {
            opacity: 0.7;
        }
    }
}

.popup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.3s;

    &--show {
        opacity: 1;
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.7;
        background-color: #000;
        cursor: url("../img/close.svg"), auto;
    }

    &__block {
        z-index: 50;
        background-color: #5c60a7;
        min-width: 436px;

        @media screen and (max-width: 599.98px) {
            min-width: 0;
            width: 100%;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 46px 40px 35px 35px;
        border-bottom: 1px solid #d8d8d8;

        @media screen and (max-width: 599.98px) {
            padding: 20px;
        }
    }

    &__title {
        color: #fff;
        font-size: 30px;
        font-weight: 600;

        @media screen and (max-width: 599.98px) {
            font-size: 24px;
        }
    }

    &__close {
        display: grid;
        justify-items: center;
        align-content: center;
        width: 23px;
        height: 23px;
        background: none;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }

        &::before,
        &::after {
            content: "";
            grid-area: -1/1;
            width: 2px;
            height: 30px;
            background-color: #fff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__content {
        padding-top: 49px;
        padding-bottom: 40px;
        padding-left: 35px;

        @media screen and (max-width: 599.98px) {
            padding: 20px;
        }
    }

    &__text {
        color: #fff;
        line-height: 20px;
        max-width: 270px;
        margin-bottom: 33px;
    }
}

.burger {
    display: none;
    width: 30px;
    height: 19px;
    background: none;
    align-content: center;
    z-index: 110;

    &--is-active {
        --burget-item-rotate-first: 45deg;
        --burget-item-rotate-last: -45deg;
        --burget-item-y: 0;
        --item-center: none;
    }

    @media screen and (max-width: 899.98px) {
        display: grid;
    }

    &__item {
        grid-area: -1/1;
        width: 30px;
        height: 3px;
        background-color: #313c84;
        transition: transform 0.2s;

        &:first-child {
            display: var(--item-center, block);
        }

        &:nth-child(2) {
            transform: translateY(var(--burget-item-y, -8px))
                rotate(var(--burget-item-rotate-first, 0));
        }

        &:nth-child(3) {
            transform: translateY(var(--burget-item-y, 8px))
                rotate(var(--burget-item-rotate-last, 0));
        }
    }
}

.title-block {
    padding-top: 26px;
    padding-left: 16.7%;
    padding-right: 60px;

    @media screen and (max-width: 1500px) {
        padding-left: 8.3%;
    }
    @media screen and (max-width: 899.98px) {
        padding-right: 6%;
        padding-left: 6%;
    }
    @media screen and (max-width: 599.98px) {
        padding-top: 20px;
        padding-right: 5.4%;
        padding-left: 5.4%;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 950px;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding-bottom: 17px;

    @media screen and (max-width: 599.98px) {
        padding-bottom: 10px;
    }

    &__link {
        font-weight: 400;
        color: #fff;
        opacity: 0.5;
        margin-right: 15px;
        transition: opacity 0.3s;

        &[href]:hover {
            opacity: 0.7;
        }
    }
}
