.vacancy {
    padding-top: 45px;
    padding-right: 16.7%;
    padding-left: 16.7%;
    margin-bottom: 65px;

    @media screen and (max-width: 1500px) {
        padding-right: 8.3%;
        padding-left: 8.3%;
    }
    @media screen and (max-width: 899.98px) {
        padding-right: 6%;
        padding-left: 6%;
    }
    @media screen and (max-width: 599.98px) {
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 43px;
    }

    &__block {
        background-color: var(--primary-color-10);
    }

    &__head {
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color-14);
        padding: 35px 32px 35px 40px;

        @media screen and (max-width: 599.98px) {
            flex-direction: column;
            padding: 24px 5.4% 34px;
        }
    }

    &__inner {
        @media screen and (max-width: 599.98px) {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 7px;

        @media screen and (max-width: 899.98px) {
            font-size: 25px;
        }
        @media screen and (max-width: 599.98px) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &__city {
        font-size: 20px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 267px;
        min-width: 250px;
        height: 48px;
        border-radius: 3px;
        background-color: var(--primary-color-5);
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__desc {
        display: grid;
        grid-template-columns: repeat(2, 315px);
        grid-column-gap: 20%;
        padding: 43px 106px 50px;

        @media screen and (max-width: 1500px) {
            grid-column-gap: 16%;
        }
        @media screen and (max-width: 1199.98px) {
            grid-column-gap: 3%;
        }
        @media screen and (max-width: 899.98px) {
            grid-template-columns: repeat(2, 1fr);
            padding-right: 35px;
            padding-left: 40px;
        }
        @media screen and (max-width: 599.98px) {
            grid-template-columns: 1fr;
            padding: 29px 5.4% 15px;
        }
    }

    &__box {
        margin-bottom: 29px;
    }

    &__text {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        position: relative;
        font-size: 18px;
        line-height: 25px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &::before {
            content: "•";
            font-size: 18px;
            display: inline;
            padding-right: 5px;
        }

        p {
            display: inline;
        }
    }
}

.career {
    padding-top: 53px;
    padding-right: 8.3%;
    padding-left: 8.3%;

    @media screen and (max-width: 899.98px) {
        padding-right: 0;
        padding-left: 0;
    }
    @media screen and (max-width: 599.98px) {
        padding-top: 20px;
    }

    &__achievements {
        margin-bottom: 100px;

        @media screen and (max-width: 599.98px) {
            margin-bottom: 50px;
        }
    }

    &__conditions {
        margin-bottom: 100px;

        @media screen and (max-width: 1500px) {
            margin-bottom: 40px;
        }
        @media screen and (max-width: 599.98px) {
            margin-bottom: 10px;
        }
    }
}

.career-achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 899px) {
        grid-template-columns: 1fr;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px 60px;

        &:first-child {
            background-color: var(--secondary-color-6);
        }

        &:nth-child(2) {
            background-color: var(--secondary-color-7);
        }
        &:last-child {
            background-color: var(--primary-color-10);
        }
    }

    &__name {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    &__number {
        display: flex;
        font-size: 50px;
        font-size: 600;
        margin-bottom: 7px;
    }

    &__text {
        display: flex;
        text-align: center;
        font-size: 20px;
        max-width: 232px;
    }
}

.career-conditions {
    $self: &;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1500px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 899.98px) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @media screen and (max-width: 599.98px) {
        grid-template-columns: 1fr;
        padding-right: 0;
        padding-left: 0;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;

        @media screen and (max-width: 1500px) {
            margin-bottom: 60px;
        }
        @media screen and (max-width: 599.98px) {
            margin-bottom: 50px;
        }
    }

    &__icon {
        fill: var(--primary-color-15);
    }

    &__image {
        display: flex;
        align-items: center;
        height: 65px;
        margin-bottom: 23px;
    }

    &__name {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;

        #{$self}__block:nth-child(1) & {
            max-width: 350px;
        }

        #{$self}__block:nth-child(2) & {
            max-width: 250px;
        }

        #{$self}__block:nth-child(3) &,
        #{$self}__block:nth-child(4) & {
            max-width: 175px;
        }
    }

    &__text {
        line-height: 24px;
        text-align: center;
        max-width: 307px;

        #{$self}__block:nth-child(1) & {
            max-width: 300px;
        }
        #{$self}__block:nth-child(4) & {
            max-width: 255px;
        }
    }
}

.vacancies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    @media screen and (max-width: 899.98px) {
        padding-top: 50px;
    }
    @media screen and (max-width: 599.98px) {
        padding-right: 5.4%;
        padding-left: 5.4%;
    }

    &__title {
        font-size: 47px;
        font-weight: 400;
        margin-bottom: 33px;

        @media screen and (max-width: 599.98px) {
            font-size: 23px;
            margin-bottom: 22px;
        }
    }

    &__selectes {
        display: flex;
        margin-bottom: 53px;

        @media screen and (max-width: 899.98px) {
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 599.98px) {
            width: 100%;
        }
    }

    &__select {
        @media screen and (min-width: 899.99px) {
            margin-right: 11px;
            margin-left: 11px;
        }
        @media screen and (max-width: 899.98px) {
            margin-bottom: 8px;
        }
        @media screen and (max-width: 599.98px) {
            width: 100%;
        }
    }
}

.vacancies-select {
    &__select {
        display: block;
        background-color: var(--secondary-color-6);
        width: 358px;
        height: 48px;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 15px;

        option {
            color: var(--black-color);
        }

        &[hidden] {
            display: none;
        }
    }

    &__placeholder {
        font-size: 12px;
        line-height: 22px;
    }
}

.vacancies-sort {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }

    &__sity {
        display: flex;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 18px;
    }

    &__specialization {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        display: flex;
        font-size: 21px;
        color: var(--primary-color-11);
        text-align: center;
        margin-bottom: 15px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.smartfilter {
    @media screen and (max-width: 599.98px) {
        width: 100%;
    }
}
