.warehouses-desc {
    $self: &;
    background-color: var(--primary-color-11);

    &__head {
        padding: 75px 20px 75px 8.6vw;

        @media screen and (max-width: 1500px) {
            padding-left: 8.3vw;
        }
        @media screen and (max-width: 1199.98px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @media screen and (max-width: 1199.98px) {
            padding-left: 6vw;
        }
        @media screen and (max-width: 599.98px) {
            padding: 40px 5.4%;
        }

        #{$self}--wms & {
            padding-top: 65px;
            padding-bottom: 65px;

            @media screen and (max-width: 599.98px) {
                padding-top: 50px;
                padding-bottom: 40px;
            }
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 600;

        @media screen and (max-width: 599.98px) {
            font-size: 25px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 457px 318px;
        background-color: var(--primary-color);

        @media screen and (max-width: 1199.98px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 400px 300px 300px;
        }
        @media screen and (max-width: 599.98px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }

        #{$self}--ring & {
            @media screen and (max-width: 1199.98px) {
                grid-template-rows: 400px 300px 300px 200px;
            }
            @media screen and (max-width: 599.98px) {
                grid-template-rows: auto;
            }
        }

        #{$self}--work & {
            grid-template-rows: 457px 173px;

            @media screen and (max-width: 1199.98px) {
                grid-template-rows: 400px 260px 260px;
            }
            @media screen and (max-width: 599.98px) {
                grid-template-rows: auto;
            }
        }
    }

    &__box {
        display: grid;
        padding: 50px;

        @media screen and (max-width: 1199.98px) {
            padding: 40px;
        }
        @media screen and (max-width: 599.98px) {
            min-height: 230px;
            padding: 30px 5.4%;
        }

        &:nth-child(1) {
            grid-area: 1/1/1/3;

            @media screen and (max-width: 599.98px) {
                grid-area: initial;
            }

            #{$self}--work & {
                grid-area: 1/1/1/2;

                @media screen and (max-width: 1199.98px) {
                    grid-area: 2/2/2/3;
                }
                @media screen and (max-width: 599.98px) {
                    grid-area: initial;
                }

                #{$self}__text {
                    max-width: 180px;
                }
            }
        }

        #{$self}--ring &:nth-child(6) {
            grid-area: 2/3/3/5;

            @media screen and (max-width: 1199.98px) {
                grid-area: 4/1/5/3;
            }
            @media screen and (max-width: 599.98px) {
                grid-area: initial;
            }
        }

        #{$self}--work &:nth-child(3) {
            grid-area: 1/3/1/5;
            padding: 0;

            @media screen and (max-width: 1199.98px) {
                grid-area: 1/1/1/3;
            }
            @media screen and (max-width: 599.98px) {
                grid-area: initial;
            }

            .warehouses-desc__label {
                width: 211px;
            }
        }

        #{$self}--work &:nth-child(4) {
            grid-area: 2/1/2/3;

            @media screen and (max-width: 1199.98px) {
                grid-area: 3/1/4/2;
            }
            @media screen and (max-width: 599.98px) {
                grid-area: initial;
            }
        }

        #{$self}--work &:nth-child(5) {
            grid-area: 2/3/2/5;

            @media screen and (max-width: 1199.98px) {
                grid-area: 3/2/4/3;
            }
            @media screen and (max-width: 599.98px) {
                grid-area: initial;
            }
        }

        #{$self}--work &:nth-child(4),
        #{$self}--work &:nth-child(5) {
            display: flex;

            @media screen and (min-width: 1199.99px) {
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;

                #{$self}__text {
                    align-self: center;
                }

                #{$self}__inner {
                    align-self: center;
                    margin-right: 45px;
                }
            }
            @media screen and (max-width: 1199.99px) {
                flex-direction: column-reverse;
                justify-content: space-between;

                #{$self}__inner {
                    align-self: self-start;
                }
            }
        }

        #{$self}--wms &:first-child,
        #{$self}--ring &:first-child {
            padding: 0;
        }

        #{$self}--wms &:nth-child(3),
        #{$self}--wms &:nth-child(6),
        #{$self}--ring &:nth-child(3),
        #{$self}--ring &:nth-child(4),
        #{$self}--ring &:nth-child(6),
        #{$self}--work &:nth-child(2),
        #{$self}--work &:nth-child(5) {
            background-color: var(--secondary-color-7);
        }

        #{$self}--wms &:nth-child(5),
        #{$self}--work &:nth-child(4) {
            background-color: var(--secondary-color-6);

            #{$self}__text {
                max-width: 100%;
            }
        }

        #{$self}--wms &:nth-child(4),
        #{$self}--ring &:nth-child(4),
        #{$self}--work &:nth-child(1),
        #{$self}--work &:nth-child(4) {
            padding-left: 8.6vw;

            @media screen and (max-width: 1500px) {
                padding-left: 8.3vw;
            }
            @media screen and (max-width: 1199.98px) {
                padding-left: 40px;
            }
            @media screen and (max-width: 599.98px) {
                padding-left: 5.4%;
            }
        }

        #{$self}--wms &:nth-child(2),
        #{$self}--wms &:nth-child(4),
        #{$self}--wms &:nth-child(6),
        #{$self}--ring &:nth-child(2),
        #{$self}--ring &:nth-child(4),
        #{$self}--ring &:nth-child(6),
        #{$self}--work &:nth-child(2),
        #{$self}--work &:nth-child(4) {
            @media screen and (max-width: 1199.98px) {
                padding-left: 8.3vw;
            }
            @media screen and (max-width: 850px) {
                padding-left: 6vw;
            }
            @media screen and (max-width: 599.98px) {
                padding-left: 5.4%;
            }
        }

        #{$self}--ring &:nth-child(2) {
            #{$self}__text {
                max-width: 235px;
            }
        }

        #{$self}--ring &:nth-child(4) {
            #{$self}__text {
                max-width: 250px;
            }
        }

        #{$self}--ring &:nth-child(5) {
            display: block;

            #{$self}__text {
                max-width: 210px;
            }
        }

        #{$self}--ring &:nth-child(6) {
            @media screen and (max-width: 1199.98px) and (min-width: 600px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;

                #{$self}__text,
                #{$self}__inner {
                    align-self: center;
                }

                #{$self}__inner {
                    margin-right: 40px;
                }
            }

            #{$self}__text {
                font-size: 20px;
                max-width: 450px;
            }
        }

        #{$self}--work &:nth-child(2) {
            #{$self}__text {
                max-width: 150px;
            }
        }
    }

    &__picture {
        display: flex;
        overflow: hidden;
        grid-area: -1/1;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__label {
        display: flex;
        grid-area: -1/1;
        justify-self: self-end;
        align-self: self-start;
        padding: 12px 20px 16px 22px;
        margin-top: 20px;
        margin-right: 20px;
        width: 174px;
        background-color: var(--primary-color);
        font-size: 20px;
        font-weight: 600;

        #{$self}--work & {
            justify-self: self-start;
            margin-top: 34px;
            margin-left: 35px;
            padding: 13px 15px 15px 19px;
            width: 211px;

            @media screen and (max-width: 1199.98px) {
                margin-left: 8.3%;
            }
            @media screen and (max-width: 850px) {
                margin-left: 6%;
            }
        }
    }

    &__text {
        display: flex;
        align-self: self-start;
        line-height: 24px;
        max-width: 196px;

        &--size-md {
            font-size: 20px;
            line-height: normal;
            max-width: 250px;
        }

        &--weight-600 {
            font-weight: 600;
        }

        @media screen and (max-width: 599.98px) {
            max-width: 100% !important;
        }
    }

    &__icon {
        fill: var(--gray-color-5);
        opacity: 0.375;
    }

    &__inner {
        display: flex;
        align-items: center;
        align-self: self-end;
        min-height: 80px;

        @media screen and (max-width: 599.98px) {
            min-height: 0;
        }
    }

    &__number {
        display: flex;
        align-self: self-start;
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.warehouses-scheme {
    &__container {
        display: grid;
        align-content: center;
        position: relative;
        overflow: hidden;
        background-color: var(--primary-color-10);
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
        padding-top: 200px;
        margin-top: -200px;
        z-index: -1;

        @media screen and (max-width: 1500px) {
            padding-top: 150px;
            margin-top: -150px;
        }

        @media screen and (max-width: 1199.98px) {
            margin-top: -100px;
        }

        @media screen and (max-width: 850px) {
            display: flex;
            flex-direction: column;
            margin-top: -50px;
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
            padding-top: 70px;
        }
        @media screen and (max-width: 599.98px) {
            clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
            padding-top: 50px;
            margin-top: -30px;
        }
    }

    &__images {
        grid-area: -1/1;
        width: 100%;
    }

    &__picture {
        display: flex;
        width: 100%;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__block {
        display: grid;
        position: relative;
        align-items: center;
        justify-content: center;
        grid-area: -1/1;
        padding-right: 7vw;

        @media screen and (max-width: 1700px) {
            padding-top: 2vw;
            padding-right: 3.5vw;
        }
        @media screen and (max-width: 1500px) {
            padding-top: 3vw;
            padding-right: 3.3vw;
        }
        @media screen and (max-width: 1340px) {
            padding-top: 3vw;
            padding-right: 1vw;
        }

        @media screen and (max-width: 1199.98px) {
            padding-top: 0;
            padding-right: 0;
        }

        @media screen and (max-width: 850px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 50px;
            align-items: start;
            justify-content: start;
            padding-right: 6%;
            padding-left: 6%;
        }

        @media screen and (max-width: 599.98px) {
            padding-right: 5.4%;
            padding-left: 5.4%;
            grid-column-gap: 20px;
        }
    }

    &__item {
        grid-area: -1/1;
        @media screen and (max-width: 850px) {
            grid-area: initial;
            margin-bottom: 30px;
        }
    }

    &__desc {
        grid-area: -1/1;
        align-self: self-start;
        margin-top: -20px;
        margin-left: 16%;

        @media screen and (max-width: 1500px) {
            margin-left: 7.5%;
        }
        @media screen and (max-width: 1199.98px) {
            margin-top: -40px;
        }
        @media screen and (max-width: 850px) {
            margin-top: -100px;
            margin-left: 6%;
            margin-bottom: 70px;
        }
        @media screen and (max-width: 599.98px) {
            margin-top: -80px;
            margin-bottom: 50px;
            margin-left: 5.4%;
        }
    }

    &__area {
        justify-self: self-end;
        align-self: self-end;
        grid-area: -1/1;
        margin-right: 8.3%;
        margin-bottom: 80px;

        @media screen and (max-width: 1199.98px) {
            margin-bottom: 20px;
            margin-right: 6%;
        }
        @media screen and (max-width: 850px) {
            align-self: self-start;
            margin-left: 6%;
        }
    }
}

.warehouses-scheme-item {
    $self: &;
    position: relative;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 850px) {
        transform: translate(0, 0) !important;
        max-width: 100% !important;
    }

    &::before {
        content: "";
        position: absolute;
        left: -20px;
        width: 1px;
        background-image: linear-gradient(
            0deg,
            var(--primary-on-color),
            var(--primary-on-color) 50%,
            transparent 50%,
            transparent 100%
        );
        background-size: 1px 8px;

        @media screen and (max-width: 850px) {
            display: none;
        }
    }

    &--1 {
        transform: translate(-33vw, 22vw);
        max-width: 177px;

        @media screen and (max-width: 1500px) {
            transform: translate(-33vw, 23vw);
        }
        @media screen and (max-width: 1340px) {
            transform: translate(-33vw, 25vw);
        }
        @media screen and (max-width: 1199.98px) {
            transform: translate(-32vw, 25vw);
        }
        @media screen and (max-width: 850px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 100%;
            grid-area: 1/1/1/3;
            grid-column-gap: 50px;
        }
        @media screen and (max-width: 599.98px) {
            grid-column-gap: 20px;
        }

        &::before {
            height: 234px;
            bottom: 15px;

            @media screen and (max-width: 1199.98px) {
                height: 198px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 75%;
            left: -20px;
            width: 1px;
            height: 35.4vw;
            z-index: -1;
            transform: rotate(78deg);
            transform-origin: left bottom;
            background-image: linear-gradient(
                0deg,
                var(--primary-on-color),
                var(--primary-on-color) 50%,
                transparent 50%,
                transparent 100%
            );
            background-size: 1px 8px;

            @media screen and (max-width: 1199.98px) {
                bottom: 78%;
                height: 36vw;
                transform: rotate(83deg);
            }
            @media screen and (max-width: 850px) {
                display: none;
            }
        }
    }

    &--2 {
        transform: translate(-0.5vw, -0.2vw);
        max-width: 177px;

        &::before {
            height: 44px;
            bottom: 100%;

            @media screen and (max-width: 1199.98px) {
                display: none;
            }
        }
    }

    &--3 {
        transform: translate(-18vw, 6vw);
        max-width: 165px;

        @media screen and (max-width: 1500px) {
            transform: translate(-21vw, 5.5vw);
        }
        @media screen and (max-width: 1199.98px) {
            transform: translate(-23vw, 6.5vw);
        }
        @media screen and (min-width: 851px) {
            text-align: right;
        }
    }

    &--4 {
        transform: translate(0, 28vw);
        max-width: 220px;

        &::before {
            height: 71px;
            bottom: 100%;

            @media screen and (max-width: 1199.98px) {
                height: 40px;
            }
        }
    }

    &--5 {
        transform: translate(15vw, -2vw);
        max-width: 165px;

        @media screen and (max-width: 1199.98px) {
            transform: translate(15vw, 0.5vw);
        }
    }

    &--6 {
        transform: translate(17vw, 26vw);
        max-width: 100px;

        @media screen and (max-width: 1340px) {
            transform: translate(21.5vw, 28.5vw);
        }
        @media screen and (max-width: 1199.98px) {
            transform: translate(26.5vw, 28.5vw);
        }

        &::before {
            height: 71px;
            bottom: 100%;

            @media screen and (max-width: 1199.98px) {
                height: 25px;
            }
        }
    }

    &--7 {
        transform: translate(43vw, 16vw);
        max-width: 130px;

        @media screen and (min-width: 851px) {
            text-align: right;
        }

        &::before {
            height: 134px;
            left: auto;
            right: -11px;
            bottom: 100%;

            @media screen and (max-width: 1199.98px) {
                height: 70px;
            }
        }
    }

    &--8 {
        transform: translate(33.3vw, -3.6vw);
        max-width: 130px;

        @media screen and (max-width: 1500px) {
            transform: translate(34vw, -6vw);
        }
        @media screen and (max-width: 1199.98px) {
            transform: translate(36vw, -5vw);
        }

        &::before {
            height: 55px;
        }
    }

    &--9 {
        transform: translate(24vw, -12vw);
        max-width: 100px;

        &::before {
            height: 50px;
            bottom: 120%;
            left: 7px;

            @media screen and (max-width: 1199.98px) {
                display: none;
            }
        }
    }

    &--10 {
        transform: translate(42vw, -26.5vw);
        max-width: 100px;

        &::before {
            height: 87px;
        }

        @media screen and (max-width: 1500px) {
            transform: translate(44vw, -29vw);
        }
        @media screen and (max-width: 1199.98px) {
            transform: translate(47vw, -29vw);
        }
    }

    &--11 {
        transform: translate(32vw, -38vw);
        max-width: 158px;

        @media screen and (max-width: 1500px) {
            transform: translate(32vw, -42vw);
        }

        &::before {
            height: 155px;
        }
    }

    &__box {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 40px;
            @media screen and (max-width: 1199.98px) {
                margin-bottom: 20px;
            }
            @media screen and (max-width: 850px) {
                margin-bottom: 35px;
            }

            #{$self}--11 & {
                margin-bottom: 25px;

                @media screen and (max-width: 850px) {
                    margin-bottom: 35px;
                }
            }
        }

        @media screen and (max-width: 850px) {
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-size: 100% 100%;
            z-index: 1;
            background-image: url(../img/point.svg);
            width: 19px;
            height: 18px;
            top: -1px;
            left: -29px;

            @media screen and (max-width: 850px) {
                display: none;
            }
        }

        #{$self}--1 &:first-child {
            transform: translate(33vw, -6.5vw);

            @media screen and (max-width: 1199.98px) {
                transform: translate(33vw, -5vw);
            }
            @media screen and (max-width: 850px) {
                transform: translate(0, 0);
            }

            &::after {
                top: auto;
                bottom: -25px;
                left: 0;
            }
        }

        #{$self}--1 &:nth-child(2) {
            &::after {
                top: -15px;
            }
        }

        #{$self}--3 & {
            &::after {
                left: 90%;
                top: -25px;
            }
        }

        #{$self}--5 &,
        #{$self}--9 & {
            &::after {
                left: -2px;
                top: -25px;
            }
        }

        #{$self}--7 & {
            &::after {
                right: -20px;
                left: auto;
            }
        }
    }

    &__text {
        display: flex;
        font-size: 14px;
    }

    &__number {
        display: flex;
        margin-bottom: 9px;
        font-size: 26px;
        font-weight: 500;
    }
}

.warehouses-scheme-desc {
    display: flex;
    align-items: flex-end;
    transform: rotate(-12deg) skew(-13deg);

    &__number {
        display: flex;
        margin-right: 25px;
        font-size: 90px;
        font-weight: 600;

        @media screen and (max-width: 599.98px) {
            font-size: 60px;
            margin-right: 15px;
        }
    }

    &__text {
        font-size: 40px;
        padding-bottom: 12px;

        @media screen and (max-width: 599.98px) {
            font-size: 24px;
        }
    }
}

.warehouses-scheme-area {
    font-size: 44px;

    @media screen and (max-width: 859px) {
        font-size: 34px;
    }

    &__text {
        font-weight: 200;
    }

    &__number {
        font-weight: 600;

        span {
            font-size: 28px;

            @media screen and (max-width: 850px) {
                font-size: 18px;
            }
        }
    }
}

.warehouses-map {
    display: grid;
    position: relative;
    background-color: var(--primary-color-11);

    &__container {
        display: grid;
        position: relative;
        grid-area: -1/1;
        height: em(663, $fz);
        background: url("../img/warehouses-map.jpg") center/cover no-repeat;

        @media screen and (max-width: 1199.98px) {
            background-position-x: 32%;
            font-size: 1.6vw;
        }

        &::before,
        &:after {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            height: em(168, $fz);
        }

        &::before {
            top: -1px;
            background-image: linear-gradient(
                0deg,
                var(--secondary-color-2) 0%,
                var(--primary-color-17) 100%
            );
            z-index: 2;
        }

        &::after {
            bottom: 0;
            background-image: linear-gradient(
                0deg,
                var(--primary-color-10) 0%,
                rgba(34, 45, 110, 0) 100%
            );
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: -1/1;
        padding-top: 110px;
        padding-bottom: 113px;
        padding-left: 16.7%;
        z-index: 3;

        @media screen and (max-width: 1500px) {
            padding-left: 8.3%;
        }
        @media screen and (max-width: 1199.98px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @media screen and (max-width: 850px) {
            padding-left: 6%;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 599.98px) {
            padding-top: 20px;
            padding-bottom: 0;
        }
    }

    &__city {
        position: relative;
        grid-area: -1/1;
        width: em(940, $fz);

        @media screen and (max-width: 1199.98px) {
            font-size: inherit;
            padding-left: em(335, $fz);
        }
    }

    &__title {
        position: relative;
        font-size: 36px;
        font-weight: 600;
        max-width: 550px;

        @media screen and (max-width: 599.98px) {
            font-size: 20px;
        }
    }

    &__row {
        display: flex;

        @media screen and (max-width: 599.98px) {
            flex-direction: column;
            margin-top: 100px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        margin-right: 60px;

        @media screen and (max-width: 599.98px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    &__number {
        display: flex;
        align-items: flex-end;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 2px;

        span {
            font-size: 30px;
            margin-bottom: 4px;
        }
    }

    &__text {
        font-size: 20px;
    }

    .map-city {
        &__item {
            &--сhelyabinsk {
                transform: translate(em(-375, $fz), em(-30, $fz));
            }

            &--omsk {
                transform: translate(em(-147, $fz), em(50, $fz));
            }

            &--novosibirsk {
                transform: translate(em(-54, $fz), em(90, $fz));
            }

            &--novokuznetsk {
                transform: translate(em(10, $fz), em(130, $fz));
            }

            &--abakan {
                transform: translate(em(180, $fz), em(155, $fz));
            }

            &--krasnoyarsk {
                transform: translate(em(108, $fz), em(45, $fz));
            }
        }
    }
}
