.catalog {
    display: flex;
    padding: em(40, $fz) 6.6% em(100, $fz) 5.5%;
    width: 100%;

    @media screen and (max-width: 1499.98px) {
        padding-right: 4.2%;
        padding-left: 4.5%;
    }
    @media screen and (max-width: 1149.98px) {
        padding-right: 2%;
        padding-bottom: em(60, $fz);
        padding-left: 4.6%;
    }
    @media screen and (max-width: 949.98px) {
        padding-top: em(5, $fz);
        padding-right: 4.6%;
        padding-left: 4.6%;
    }
    @media screen and (max-width: 499.98px) {
        padding-right: 3%;
        padding-left: 3%;
    }

    &__filters {
        display: flex;
        flex-direction: column;
        width: em(268, $fz);
        min-width: em(268, $fz);
        margin-right: em(55, $fz);

        @media screen and (max-width: 1149.98px) {
            width: em(248, $fz);
            min-width: em(248, $fz);
            margin-right: em(28, $fz);
        }
        @media screen and (max-width: 949.98px) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 101;
            width: 100%;
        }
    }

    &__block {
        width: 100%;
    }

    &__head {
        margin-bottom: em(20, $fz);

        @media screen and (max-width: 499.98px) {
            padding-right: 2.5%;
            padding-left: 2.5%;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(em(320, $fz), 1fr));
        grid-gap: em(33 25, $fz);

        @media screen and (min-width: 2300px) {
            grid-template-columns: repeat(auto-fill, minmax(em(350, $fz), 1fr));
        }

        @media screen and (max-width: 1499.98px) {
            grid-column-gap: em(14, $fz);
        }
        @media screen and (max-width: 1199.98px) {
            grid-template-columns: repeat(auto-fill, minmax(em(260, $fz), 1fr));
            grid-gap: em(30 11, $fz);
        }
        @media screen and (max-width: 949.98px) {
            grid-column-gap: em(7, $fz);
        }
        @media screen and (max-width: 499.98px) {
            grid-row-gap: em(25, $fz);
        }

        &--favorites {
            @media screen and (min-width: 1500px) {
                grid-column-gap: em(20, $fz);
            }
            @media screen and (min-width: 950px) and (max-width: 1149.98px) {
                grid-template-columns: repeat(
                    auto-fill,
                    minmax(em(280, $fz), 1fr)
                );
            }
        }

        .product-card {
            @media screen and (min-width: 950px) and (max-width: 1149.98px) {
                padding: em(9 8 12, $fz);
            }
        }
    }

    &__card {
        width: 100%;
    }

    &__sort {
        display: flex;
        justify-content: space-between;
        margin-bottom: em(20, $fz);

        @media screen and (max-width: 949.98px) {
            margin-bottom: em(10, $fz);
            margin-left: em(-10, $fz);
        }
    }

    &__tags {
        display: flex;
        align-items: center;

        @media screen and (min-width: 500px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 499.98px) {
            overflow: auto;
        }
    }

    &__tag {
        margin-top: em(5, $fz);
        margin-right: em(10, $fz);
        margin-bottom: em(5, $fz);
    }

    &__pagination {
        margin-top: em(50, $fz);

        @media screen and (max-width: 1149.98px) {
            margin-top: em(20, $fz);
        }
    }

    &__setting {
        width: em(55, $fz);
        height: em(55, $fz);
    }
}

.sort {
    display: flex;
    align-items: center;

    &--number {
        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__text {
        margin-right: em(14, $fz);

        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }
}

.tag {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: em(5, $fz);
    min-height: em(34, $fz);
    padding: em(6 10 6 8, $fz);
    background-color: #533dd4;

    &__btn {
        display: flex;
        width: em(16, $fz);
        height: em(16, $fz);
        background-color: transparent;
        margin-left: em(7, $fz);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__icon {
        fill: #fff;
        width: em(16, $fz);
        height: auto;
    }

    &__name {
        $fz: 14;
        color: #fff;
        font-size: em($fz, $fz_base);
    }
}

.btn-reset {
    display: flex;
    align-items: center;
    min-height: em(34, $fz);
    padding-right: em(9, $fz);
    padding-left: em(9, $fz);
    border-radius: em(5, $fz);
    background-color: transparent;
    transition: background-color 0.3s;

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            background-color: rgba(99, 99, 99, 0.1);
        }
    }

    &__icon {
        width: em(17, $fz);
        height: auto;
        margin-right: em(10, $fz);
        fill: #8a8a8a;
    }

    &__text {
        $fz: 14;
        font-size: em($fz, $fz_base);
    }
}

.filters {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 949.98px) {
        display: none;
        background-color: #fff;
        animation: var(--overlay-show, overlay-hidden) 0.3s forwards;
    }

    &__form {
        @media screen and (max-width: 949.98px) {
            padding-right: 8%;
            padding-bottom: em(50, $fz);
            padding-left: 8%;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &__box {
        margin-bottom: em(40, $fz);

        @media screen and (max-width: 949.98px) {
            margin-bottom: em(35, $fz);
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__head {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: em(20, $fz) 8%;
        border-bottom: 1px solid #cacaca;
        margin-bottom: em(26, $fz);

        @media screen and (max-width: 949.98px) {
            display: flex;
        }
    }
}

.filters-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(40, $fz);
    height: em(40, $fz);
    background-color: transparent;

    &__icon {
        fill: #575757;
    }
}

.filter {
    display: flex;
    flex-direction: column;

    &--categories {
        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__head {
        display: flex;
        margin-bottom: em(20, $fz);

        @media screen and (max-width: 949.98px) {
            margin-bottom: em(17, $fz);
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &__title {
        $fz: 17;
        font-size: em($fz, $fz_base);
        font-weight: 600;

        @media screen and (max-width: 949.98px) {
            margin-right: em(10, $fz);
        }
    }

    &__categories {
        display: flex;
        flex-direction: column;
    }

    &__content {
        padding-bottom: em(4, $fz);

        @media screen and (min-width: 950px) {
            @include scrollbar;
            max-height: em(243, $fz);
        }

        @media screen and (max-width: 949.98px) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-bottom: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        color: #000;
        border-radius: em(35, $fz);
        border: 1px solid transparent;
        padding-right: em(20, $fz);
        padding-left: em(20, $fz);
        width: calc(100% + em(20, $fz));
        min-height: em(52, $fz);
        margin-left: em(-20, $fz);
        transition: border-color 0.3s;

        &:not(:last-child) {
            margin-bottom: 2px;
        }

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                border-color: #8a8a8a;
            }
        }

        &--active {
            border-color: #8a8a8a;
            cursor: default;
        }
    }

    &__checkbox {
        &:not(:last-child) {
            margin-bottom: em(16, $fz);

            @media screen and (max-width: 949.98px) {
                margin-bottom: em(8, $fz);
                margin-right: em(12, $fz);
            }
        }
    }
}

.checkbox {
    $self: &;
    display: flex;

    @media screen and (max-width: 949.98px) {
        display: none;

        &:nth-child(-n + 6) {
            display: flex;
        }

        .filter--is-show & {
            display: flex;
        }
    }

    &__input {
        display: none;

        &:checked ~ #{$self}__label::before {
            background-color: #4c4c4c;
            border-color: #4c4c4c;
        }

        @media screen and (max-width: 949.98px) {
            &:checked ~ #{$self}__label {
                background-color: #4c4c4c;

                #{$self}__text {
                    color: #fff;
                }
            }
        }
    }

    &__text {
        color: #5b5b5b;
        line-height: 1.37;
        user-select: none;
        margin-top: em(3, $fz);

        @media screen and (max-width: 949.98px) {
            $fz: 14;
            font-size: em($fz, $fz_base);
            margin-top: 0;
            transition: color 0.3s;
            line-height: 1;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 949.98px) {
            justify-content: center;
            padding: em(6 12, $fz);
            border-radius: em(19, $fz);
            background-color: #f2eef4;
            min-height: em(34, $fz);
            transition: background-color 0.3s;
        }

        &:hover {
            &::before {
                @media screen and (min-width: $breakpoint-hover) {
                    background-color: rgba(0, 0, 0, 0.05);
                    border-color: rgba(0, 0, 0, 0.05);
                }
            }
        }

        &::before {
            content: "";
            display: flex;
            border-radius: em(5, $fz);
            border: 1px solid rgba(0, 0, 0, 0.23);
            background-color: #fff;
            box-shadow: em(0 2 4, $fz) -1px rgba(0, 0, 0, 0.4);
            width: em(24, $fz);
            min-width: em(24, $fz);
            height: em(24, $fz);
            margin-right: em(8, $fz);
            background-size: em(16 12, $fz);
            background-image: url("../img/cheker.svg");
            background-position: center;
            background-repeat: no-repeat;
            transition: border-color 0.3s, background-color 0.3s;

            @media screen and (max-width: 949.98px) {
                content: none;
            }
        }
    }
}

.pagination {
    $self: &;
    display: flex;
    grid-column: -1/1;

    &__link {
        $fz: 18;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: em($fz, $fz_base);
        width: 11.4%;
        min-height: em(40, $fz);
        border: 1px solid #cacaca;
        background-color: #fff;
        color: var(--pagination-link-color, #000);
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;

        &--prev {
            margin-right: 2.4%;
        }
        &--next {
            margin-left: 2.4%;
        }

        &--active {
            pointer-events: none;
            --pagination-link-color: #fff;
            background-color: #4b8702;
            border-color: #4b8702;
        }

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                --pagination-link-color: #fff;
                background-color: rgba(75, 135, 2, 0.8);
                border-color: rgba(75, 135, 2, 0.8);
            }
        }
    }

    &__dots {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: em(10, $fz);
        width: 7.5%;
    }

    &__icon {
        width: em(22, $fz);
        height: auto;
        fill: var(--pagination-link-color, rgba(0, 0, 0, 0.55));
        transition: fill 0.3s;

        #{$self}__link--next & {
            transform: scaleX(-1);
        }
    }
}

.range {
    &__values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: em(12, $fz);
    }

    &__input {
        $fz: 18;
        font-size: em($fz, $fz_base);
        max-width: em(100, $fz);
        min-height: em(48, $fz);
        border: 1px solid rgba(0, 0, 0, 0.23);
        background-color: #fff;
        border-radius: em(5, $fz);
        text-align: center;

        @media screen and (max-width: 949.98px) {
            max-width: 40%;
        }
    }

    &__line {
        $fz: 18;
        font-size: em($fz, $fz_base);
    }

    &__slider {
        padding-top: 13px;
        padding-bottom: 13px;
        .noUi-horizontal {
            height: 2px;
            background: rgba(0, 0, 0, 0.14);
            border: none;
            box-shadow: none;
        }

        .noUi-connect {
            background: transparent;
        }

        .noUi-handle {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background: #b39785;
            box-shadow: none;
            cursor: pointer;
            top: -13px;
            right: -13.5px;
            border: 5px solid transparent;
            transition: background-color 0.3s, border-color 0.3s;

            &:hover {
                @media screen and (min-width: $breakpoint-hover) {
                    background-color: #fff;
                    border-color: #533dd4;
                }
            }

            &:active {
                background-color: #fff;
                border-color: #533dd4;
            }

            &::before,
            &::after {
                content: none;
            }
        }
    }
}

.btn-setting-filter {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: em(3, $fz);
    background-color: #fff;

    @media screen and (max-width: 949.98px) {
        display: flex;
    }

    &__icon {
        fill: #533dd4;
    }
}

.empty-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: em(25 20 100, $fz);
    padding-top: em(25, $fz);
    padding-bottom: em(100, $fz);
    margin-top: auto;
    margin-bottom: auto;

    @media screen and (max-width: 949.98px) {
        padding-bottom: em(50, $fz);
    }

    &__oval {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.07);
        width: em(170, $fz);
        height: em(170, $fz);
    }

    &__name {
        $fz: 24;
        display: block;
        font-size: em($fz, $fz_base);
        line-height: 1.5;
        margin-top: em(-42, $fz);
        margin-bottom: em(30, $fz);
    }

    &__text {
        text-align: center;
    }
}

.filter-uncover {
    display: none;
    background-color: transparent;
    padding-top: em(5, $fz);
    padding-bottom: em(5, $fz);

    @media screen and (max-width: 949.98px) {
        display: flex;
    }

    &__text {
        color: #533dd4;
        line-height: 1.25;
    }
}

.filters-panel-mobi {
    display: none;
    position: fixed;
    right: em(8, $fz);
    left: em(8, $fz);
    bottom: em(11, $fz);
    justify-content: space-between;
    align-items: center;
    padding: em(9 13 9 16, $fz);
    background-color: #4c4c4c;
    border-radius: em(5, $fz);

    @media screen and (max-width: 949.98px) {
        display: flex;
    }

    &__btn {
        width: 70%;
        min-width: 70%;
        height: em(48, $fz);
        margin-left: em(10, $fz);
    }

    &__text {
        $fz: 12;
        font-size: em($fz, $fz_base);
        line-height: 1.5;
        color: #fff;
    }
}

.filter-btn-show {
    border-radius: em(3, $fz);
    background-color: #fff;
}
