.footer {
    padding-left: 5.2%;

    @media screen and (max-width: 1499.98px) {
        padding-left: 4.3%;
    }
    @media screen and (max-width: 949.99px) {
        padding-left: 0;
    }

    &__newsletter {
        display: flex;
        position: relative;
        align-items: center;
        padding: em(51 440 47 90, $fz);
        background-color: #4b8702;
        border-top-left-radius: em(40, $fz);

        @media screen and (min-width: 1750px) {
            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                background: url("../img/flowers-footer.png") top/100% auto
                    no-repeat;
                width: em(436, $fz);
                height: em(224, $fz);
            }
        }

        @media screen and (max-width: 1749.99px) {
            padding-right: em(65, $fz);
        }
        @media screen and (max-width: 1499.99px) {
            padding-right: em(55, $fz);
        }
        @media screen and (max-width: 1249.99px) {
            padding-left: em(82, $fz);
        }
        @media screen and (max-width: 999.99px) {
            padding-left: em(70, $fz);
        }
    }

    &__text {
        display: block;
        $fz: 24;
        font-size: em($fz, $fz_base);
        color: #fff;
        width: 100%;
        max-width: em(540, $fz);
        margin-right: 5%;

        @media screen and (max-width: 1749.99px) {
            margin-right: em(65, $fz);
        }
        @media screen and (max-width: 1499.99px) {
            margin-right: em(10, $fz);
        }
        @media screen and (max-width: 1249.99px) {
            margin-right: em(60, $fz);
        }
    }

    &__form {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1249.99px) {
            flex-direction: column;
            width: em(332, $fz);
            min-width: em(332, $fz);
        }
    }

    &__input {
        $fz: 18;
        width: em(261, $fz);
        height: em(48, $fz);
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: em(5, $fz);
        margin-right: em(20, $fz);
        padding-left: em(16, $fz);
        font-size: em($fz, $fz_base);

        &::placeholder {
            color: rgba(0, 0, 0, 0.6);
        }

        @media screen and (max-width: 1499.99px) {
            width: em(226, $fz);
        }
        @media screen and (max-width: 1249.99px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: em(20, $fz);
        }
    }

    &__submit {
        width: em(261, $fz);

        @media screen and (max-width: 1249.99px) {
            width: 100%;
        }
    }

    &__content {
        padding: em(72, $fz) 7.6% em(26 90, $fz);
        background-color: #444644;

        @media screen and (max-width: 1749.98px) {
            padding-right: 5%;
        }
        @media screen and (max-width: 1249.99px) {
            padding-left: em(82, $fz);
            padding-right: 3%;
        }
        @media screen and (max-width: 1099.98px) {
            padding-right: 0;
        }
        @media screen and (max-width: 999.99px) {
            padding-left: em(70, $fz);
        }
    }

    &__nav {
        margin-bottom: em(50, $fz);
    }

    &__contact {
        margin-bottom: em(36, $fz);
    }

    &__info {
        display: flex;
        position: relative;
        align-items: center;

        @media screen and (max-width: 1499.98px) {
            align-items: flex-start;
        }
        @media screen and (max-width: 1099.99px) {
            padding-right: em(50, $fz);
        }
    }

    &__copyright,
    &__link,
    &__developers {
        color: #fff;
        line-height: 1.6;
    }

    &__link,
    &__developers {
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__copyright {
        $fz: 14;
        font-size: em($fz, $fz_base);
        margin-right: em(58, $fz);
    }

    &__link {
        $fz: 14;
        font-size: em($fz, $fz_base);
        margin-right: em(50, $fz);

        @media screen and (max-width: 1499.98px) {
            &:first-child {
                margin-bottom: em(9, $fz);
            }
        }
    }

    &__developers {
        $fz: 14;
        display: flex;
        align-items: center;
        font-size: em($fz, $fz_base);
        margin-left: auto;

        @media screen and (max-width: 1099.99px) {
            position: absolute;
            top: 0;
            right: em(50, $fz);
        }
    }

    &__img {
        display: flex;
        margin-left: em(10, $fz);
    }

    &__inner {
        display: flex;

        @media screen and (max-width: 1499.98px) {
            flex-direction: column;
        }
    }
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;

    &__link {
        color: #fff;
        transition: opacity 0.3s;
        margin-bottom: em(25, $fz);

        &:not(:last-child) {
            margin-right: em(46, $fz);

            @media screen and (max-width: 1099.98px) {
                margin-right: em(39, $fz);
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-contact {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }

        &:not(:last-child) {
            margin-right: em(70, $fz);
        }
    }

    &__text {
        $fz: 14;
        font-size: em($fz, $fz_base);
        color: #fff;
        line-height: 1.6;
    }

    &__icon {
        margin-right: em(10, $fz);

        &--theme-orange {
            fill: #fe7200;
        }

        &--theme-blue {
            fill: #4f7fff;
        }

        &--theme-purple {
            fill: #be3ebe;
        }
    }
}
