.header {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: em(31, $fz);
    padding-bottom: em(18, $fz);
    padding-left: 4.7%;
    padding-right: 2%;

    @media screen and (max-width: 1749.98px) {
        display: grid;
        grid-template-columns: em(410, $fz) 1fr em(285 65 65 65, $fz);
        padding-right: 2.5%;
        grid-row-gap: em(10, $fz);
    }
    @media screen and (max-width: 1499.98px) {
        padding-left: 3.5%;
        grid-template-columns: 1fr em(285 65 65 65, $fz);
    }
    @media screen and (max-width: 1099.98px) {
        grid-template-columns: 1fr em(270 65 65 65, $fz);
    }
    @media screen and (max-width: 999.98px) {
        grid-template-columns: 1fr em(230 65 65 65, $fz);
    }
    @media screen and (max-width: 949.98px) {
        grid-template-columns: em(50, $fz) repeat(2, 1fr) em(50, $fz);
        justify-items: center;
        padding: em(15, $fz) 9%;
    }
    @media screen and (max-width: 499.98px) {
        padding-right: em(20, $fz);
        padding-left: em(20, $fz);
    }
    @media screen and (max-width: 339.98px) {
        padding-right: em(10, $fz);
        padding-left: em(10, $fz);
    }

    &:not(.header--home)::before {
        @media screen and (min-width: 950px) {
            content: "";
            position: absolute;
            bottom: 0;
            left: 3.7%;
            right: 6.2%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);

            @media screen and (max-width: 1149.98px) {
                left: 4.4%;
                right: 4.4%;
            }
        }
    }

    &__sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: em(105, $fz);
        height: 100vh;

        @media screen and (max-width: 949.98px) {
            position: static;
            grid-area: 3/1/4/5;
            height: em(37, $fz);
            width: 111%;
        }
        @media screen and (max-width: 499.98px) {
            width: 100%;
        }
        @media screen and (max-width: 339.98px) {
            width: 94%;
        }
    }

    &__logo {
        margin-right: auto;

        @media screen and (max-width: 1749.98px) {
            grid-area: 1/1/2/2;
        }
        @media screen and (max-width: 949.98px) {
            margin-right: 0;
        }
        @media screen and (max-width: 949.98px) {
            grid-column: 2/4;
        }
    }

    &__nav {
        margin-right: auto;

        @media screen and (max-width: 1749.98px) {
            grid-area: 1/2/2/3;
            margin-left: auto;
        }
        @media screen and (max-width: 1499.98px) {
            grid-area: 2/1/3/2;
            margin-left: em(15, $fz);
        }
        @media screen and (max-width: 1149.98px) {
            margin-left: em(10, $fz);
        }
    }

    &__phone {
        margin-bottom: em(7, $fz);

        @media screen and (max-width: 1749.98px) {
            margin-right: em(25, $fz);
            margin-bottom: 0;
        }
        @media screen and (max-width: 949.98px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            width: em(50, $fz);
            height: em(50, $fz);
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: auto;

        @media screen and (max-width: 1749.98px) {
            grid-area: 2/3/3/7;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
        }
        @media screen and (max-width: 1499.98px) {
            grid-column: 2/6;
        }
        @media screen and (max-width: 1149.98px) {
            margin-right: 0;
            margin-left: em(20, $fz);
        }
        @media screen and (max-width: 949.98px) {
            margin-right: 0;
            margin-left: 0;
            grid-column: 1/2;
        }
    }

    &__search {
        width: em(270, $fz);
        height: em(58, $fz);
        margin-right: em(15, $fz);

        @media screen and (max-width: 1749.98px) {
            grid-area: 1/3/2/4;
        }
        @media screen and (max-width: 1499.98px) {
            grid-column: 2/3;
        }
        @media screen and (max-width: 1099.98px) {
            margin-right: 0;
        }
        @media screen and (max-width: 999.98px) {
            width: em(230, $fz);
        }
        @media screen and (max-width: 949.98px) {
            grid-column: 4/5;
            width: em(50, $fz);
            height: em(50, $fz);
        }
    }

    &__control {
        width: em(50, $fz);
        height: em(50, $fz);
        margin-left: em(15, $fz);

        @media screen and (max-width: 949.98px) {
            margin-left: 0;
        }
    }

    &__call {
        @media screen and (max-width: 949.98px) {
            display: none !important;
        }
    }

    &__hamburger {
        grid-column: 1/2;
    }
}

.header-logo {
    display: flex;
    align-items: center;

    &__picture {
        display: flex;
        width: em(95, $fz);
        min-width: em(95, $fz);
        margin-right: em(6, $fz);

        @media screen and (max-width: 1099.98px) {
            width: em(75, $fz);
            min-width: em(75, $fz);
        }
        @media screen and (max-width: 949.98px) {
            width: em(42, $fz);
            min-width: em(42, $fz);
        }
        @media screen and (max-width: 499.98px) {
            margin-right: em(4, $fz);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__text {
        $fz: 37;
        font-size: em($fz, $fz_base);
        color: #533dd4;
        font-weight: 700;

        @media screen and (max-width: 1099.98px) {
            $fz: 30;
            font-size: em($fz, $fz_base);
        }
        @media screen and (max-width: 949.98px) {
            $fz: 24;
            font-size: em($fz, $fz_base);
        }
        @media screen and (max-width: 499.98px) {
            $fz: 18;
            font-size: em($fz, $fz_base);
        }
    }
}

.btn-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #866fcb;
    font-size: inherit;
    padding-right: 0;
    padding-left: 0;

    @media screen and (min-width: 950px) {
        transform: translateX(em(-10, $fz));
        transition: transform 0.3s;
        will-change: transform;
        padding-left: em(10, $fz);
    }
    @media screen and (max-width: 949.98px) {
        border-radius: em(32, $fz);
    }

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            transform: translateX(0);
        }
    }

    &__icon {
        width: em(29, $fz);
        height: auto;
        margin-bottom: em(14, $fz);
        fill: #fff;

        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__text {
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
    }
}

.nav {
    display: flex;

    @media screen and (max-width: 949.98px) {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        position: relative;

        &:hover {
            --dropdown-shows: flex;
        }

        &:not(:last-child) {
            margin-right: em(28, $fz);

            @media screen and (max-width: 999.98px) {
                margin-right: em(25, $fz);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        line-height: 1.5;
        color: inherit;
        transition: opacity 0.3s;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                opacity: 0.7;
            }
        }
    }

    &__icon {
        fill: rgba(0, 0, 0, 0.5);
        margin-left: em(8, $fz);
    }

    &__dropdown {
        position: absolute;
    }
}

.nav-dropdown {
    display: var(--dropdown-shows, none);
    padding-top: em(10, $fz);

    &__list {
        background-color: #f2eef4;
        border-radius: em(5, $fz);
        overflow: hidden;
        box-shadow: em(0 15 60, $fz) rgba(0, 0, 0, 0.15);
        min-width: em(205, $fz);
    }

    &__link {
        display: block;
        padding: em(15 20, $fz);
        color: inherit;
        transition: background-color 0.3s;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                background-color: #eddef5;
            }
        }
    }
}

.header-phone {
    $self: &;
    display: flex;
    color: inherit;

    &__text {
        $fz: 24;
        font-size: em($fz, $fz_base);
        line-height: 1.5;

        @media screen and (max-width: 949.98px) {
            #{$self}--icon & {
                display: none;
            }
        }
    }

    &__icon {
        display: none;
        fill: #575757;

        @media screen and (max-width: 949.98px) {
            #{$self}--icon & {
                display: flex;
            }
        }
    }
}

.btn-call {
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    font-size: inherit;
    background: transparent;

    &__icon {
        width: em(15, $fz);
        height: auto;
        fill: #fe7200;
        margin-right: em(11, $fz);
    }
}

.btn-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: em(32, $fz);
    border: em(3, $fz) solid #575757;
    background-color: transparent;
    padding-right: em(15, $fz);
    padding-left: em(24, $fz);
    font-size: inherit;

    @media screen and (max-width: 949.98px) {
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        border: none;
    }

    &__text {
        color: #3d4a62;

        @media screen and (max-width: 949.98px) {
            display: none;
        }
    }

    &__icon {
        fill: #575757;
        width: em(27, $fz);
        height: auto;
    }
}

.btn-control {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            --icon-opacity: 0.7;
        }
    }

    &__icon {
        fill: #575757;
        opacity: var(--icon-opacity);
        transition: opacity 0.3s;
    }

    &__counter {
        display: flex;
        position: absolute;
        justify-content: center;
        top: em(-7, $fz);
        right: em(-7, $fz);
        align-items: center;
        min-width: em(22, $fz);
        min-height: em(22, $fz);
        padding-right: em(3, $fz);
        padding-left: em(3, $fz);
        background-color: #fe7200;
        border-radius: em(8, $fz);
        font-weight: 600;
        color: #fff;
    }
}

.hamburger {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: em(29, $fz);
    height: em(19, $fz);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: em(50, $fz);
        height: em(50, $fz);
    }

    @media screen and (max-width: 949.98px) {
        display: flex;
    }

    &__item {
        width: 100%;
        height: em(3, $fz);
        background-color: #575757;
    }
}

.title-block {
    padding-top: em(35, $fz);
    padding-left: 5.5%;

    @media screen and (max-width: 1499.98px) {
        padding-left: 4.5%;
        padding-right: 9%;
    }
    @media screen and (max-width: 1149.98px) {
        padding-left: 4.6%;
    }
    @media screen and (max-width: 949.98px) {
        padding-top: em(15, $fz);
        padding-right: 0;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__breadcrumb {
        margin-bottom: em(35, $fz);

        @media screen and (max-width: 1149.98px) {
            margin-bottom: em(20, $fz);
        }
    }
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: em(38, $fz);

    @media screen and (max-width: 949.98px) {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-right: em(30, $fz);
        padding-bottom: em(5, $fz);
    }

    &__link {
        display: flex;
        position: relative;
        align-items: center;
        color: #000;
        line-height: 1.5;
        transition: color 0.3s;

        @media screen and (max-width: 949.98px) {
            white-space: nowrap;
        }

        &[href] {
            &:hover {
                color: rgba(0, 0, 0, 0.6);

                &::before {
                    opacity: 0.6;
                }
            }
        }

        &:first-child {
            &::before {
                content: url(../img/arrow-brea.svg);
                position: absolute;
                left: em(-38, $fz);
                margin-right: em(20, $fz);
                transition: opacity 0.3s;
            }
        }

        &:not(:last-child)::after {
            content: "/";
            margin-right: em(10, $fz);
            margin-left: em(10, $fz);
            pointer-events: none;
            color: #000;
        }
    }
}
