.preview {
    display: grid;
    justify-items: space-between;
    padding-top: em(60, $fz);
    padding-left: 5.2%;
    padding-right: 5.2%;
    overflow: hidden;

    &__block {
        grid-area: -1/1;
    }

    &__title {
        width: 47%;
        height: auto;
        margin-bottom: em(70, $fz);
    }

    &__images {
        display: grid;
        grid-area: -1/1;
        justify-self: end;
        justify-items: center;
        align-items: center;
    }

    &__picture {
        display: flex;
        grid-area: -1/1;
        border-radius: 50%;
        width: em(812, $fz);
        height: auto;
        overflow: hidden;
        box-shadow: em(0 0 123, $fz) rgba(75, 82, 186, 0.27) inset;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        animation: rotate-img 120s forwards infinite linear;
    }

    &__slogan {
        grid-area: -1/1;
        animation: rotate-text 60s forwards infinite linear;
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        max-width: em(700, $fz);
        margin-bottom: em(48, $fz);
    }

    &__btn {
        margin-right: em(30, $fz);
        margin-bottom: em(26, $fz);
    }
}

.btn-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(24, $fz);
    height: em(34, $fz);
    border: 1px solid rgba(0, 0, 0, 0.43);
    border-radius: em(25, $fz);

    &:hover {
        --btn-down-y: #{em(2, $fz)};
    }

    &__icon {
        width: em(9, $fz);
        height: auto;
        fill: #000;
        transform: translateY(var(--btn-down-y, em(-2, $fz)));
        transition: transform 0.3s;
    }
}

@keyframes rotate-text {
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes rotate-img {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}