@keyframes overlay-shows {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes overlay-hidden {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes popup-shows {
    0% {
        transform: translateX(var(--translate-x-popup, 100%));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes popup-hidden {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--translate-x-popup, 100%));
    }
}

.popup {
    $self: &;
    display: none;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;

    &--sidebar {
        justify-content: flex-start;
    }

    &--is-show {
        --overlay-show: overlay-shows;
        --popup-show: popup-shows;
    }

    &--sharing {
        --popup-block-width: #{em(550, $fz)};
        --translate-x-popup: 0;
        align-items: center;
        justify-content: center;
        animation: var(--overlay-show, overlay-hidden) 0.3s forwards;

        .js-btn-copy-btn {
            width: 100%;
            margin-top: em(32, $fz);
        }
    }

    &--basket {
        --popup-block-width: #{em(980, $fz)};

        @media screen and (max-width: 1099.98px) {
            --popup-block-width: 100%;
        }
    }

    &--basket-empty {
        --popup-title-show: none;
        --popup-block-width: #{em(355, $fz)};

        @media screen and (max-width: 849.98px) {
            --popup-title-show: flex;
            --popup-block-width: 100%;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(242, 238, 244, 0.7);
        z-index: -1;
        cursor: url("../img/close.svg"), auto;
        animation: var(--overlay-show, overlay-hidden) 0.3s forwards;
        will-change: opacity;
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--popup-block-width, em(710, $fz));
        background-color: #fff;
        animation: var(--popup-show, popup-hidden) 0.2s forwards;
        box-shadow: em(0 0 40, $fz) rgba(83, 61, 212, 0.38);

        @media screen and (max-width: 949.98px) {
            max-width: var(--popup-block-width, em(550, $fz));
        }

        @media screen and (max-width: 549.98px) {
            max-width: var(--popup-block-width, em(550, $fz));
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: em(53 35 30 66, $fz);
        border-bottom: 1px solid #cacaca;

        @media screen and (max-width: 949.98px) {
            padding: em(20 60 20 30, $fz);
        }
        @media screen and (max-width: 499.98px) {
            padding-right: em(20, $fz);
            padding-left: em(20, $fz);
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: em(40, $fz);
        height: em(40, $fz);
        margin-left: auto;
        background-color: transparent;
        transition: opacity 0.3s;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                opacity: 0.7;
            }
        }

        &--menu-mobi {
            margin-right: em(25, $fz);
            margin-left: auto;
            margin-bottom: em(5, $fz);
        }
    }

    &__icon {
        width: em(28, $fz);
        height: auto;
    }

    &__content {
        @include scrollbar;
        padding: em(55 66, $fz);

        #{$self}--add-profile &,
        #{$self}--sharing & {
            padding-top: em(30, $fz);
        }

        @media screen and (max-width: 949.98px) {
            padding-right: em(30, $fz);
            padding-left: em(30, $fz);
        }

        @media screen and (max-width: 499.98px) {
            padding-top: em(30, $fz);
            padding-right: em(20, $fz);
            padding-left: em(20, $fz);
        }
    }

    &__text {
        $fz: 18;
        display: block;
        font-size: em($fz, $fz_base);
        line-height: 1.4;
        max-width: em(500, $fz);
        margin-bottom: em(50, $fz);

        @media screen and (max-width: 499.98px) {
            margin-bottom: em(30, $fz);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__share {
        margin-bottom: em(65, $fz) !important;
    }

    &__search {
        width: 100%;
        max-width: em(740, $fz);

        @media screen and (max-width: 780px) {
            max-width: 100%;
        }
    }
}

.sidebar {
    --translate-x-popup: -100%;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: em(1342, $fz);
    background-color: #fff;
    box-shadow: em(0 0 40, $fz) rgba(83, 61, 212, 0.38);
    animation: var(--popup-show, popup-hidden) 0.2s forwards;
    will-change: transform;

    @media screen and (max-width: 1349.98px) {
        max-width: 100%;
    }

    &__catalog {
        width: 100%;
    }
}

.sidebar-close {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: em(46, $fz);
    background-color: transparent;

    @media screen and (max-width: 699.98px) {
        position: absolute;
        top: em(15, $fz);
        right: em(20, $fz);
    }

    &:hover {
        @media screen and (min-width: 1150px) {
            --btn-close-transform: #{em(-10, $fz)};
        }
    }

    &::before {
        @media screen and (min-width: 700px) {
            content: "";
            position: absolute;
            top: 0;
            right: em(36, $fz);
            width: 1px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.28);
            transform: translateX(var(--btn-close-transform));
            transition: transform 0.3s;
            will-change: transform;
        }
    }

    @media screen and (max-width: 1149.98px) {
        padding-left: em(8, $fz);
    }
    @media screen and (max-width: 699.98px) {
        padding-left: 0;
        width: em(40, $fz);
        height: em(40, $fz);
    }

    &__wrap {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        @media screen and (min-width: 700px) {
            transform: translate(var(--btn-close-transform, 0), em(-50, $fz));
            transition: transform 0.3s;
            will-change: transform;
            height: em(100, $fz);
        }
    }

    &__icon {
        fill: #575757;
        width: em(28, $fz);
        height: auto;

        @media screen and (min-width: 700px) {
            margin-bottom: em(10, $fz);
        }
    }

    &__text {
        line-height: 1.5;

        @media screen and (max-width: 699.98px) {
            display: none;
        }
    }
}

.sidebar-catalog {
    $self: &;
    display: flex;

    @media screen and (max-width: 699.98px) {
        flex-direction: column;
    }

    &__block {
        display: flex;
        flex-direction: column;
        height: 100%;

        &:first-child {
            border-right: 1px solid rgba(0, 0, 0, 0.28);
        }

        &--retail {
            --grid-number-col: 4;
            --label-header-bg: #9da63b;
            padding-left: em(60, $fz);
            width: 63%;

            @media screen and (max-width: 1349.98px) {
                padding-left: em(10, $fz);
            }
            @media screen and (max-width: 1149.98px) {
                --grid-number-col: 3;
                padding-left: 0;
                width: 56%;
            }
            @media screen and (max-width: 949.98px) {
                --grid-number-col: 2;
                width: 49%;
            }
            @media screen and (max-width: 699.98px) {
                --grid-number-col: 3;
                width: 100%;
                height: calc(100% - 237px);
                border-bottom: 1px solid rgba(0, 0, 0, 0.27);
            }
        }

        &--opt {
            --grid-number-col: 2;
            --label-header-bg: #b15933;
            padding-left: em(60, $fz);
            width: 37%;

            @media screen and (max-width: 1349.98px) {
                padding-left: em(45, $fz);
            }
            @media screen and (max-width: 1149.98px) {
                width: 44%;
                padding-left: em(40, $fz);
            }
            @media screen and (max-width: 949.98px) {
                width: 51%;
                padding-left: em(20, $fz);
            }
            @media screen and (max-width: 699.98px) {
                --grid-number-col: 3;
                width: 100%;
                height: em(237, $fz);
                padding-left: 0;
            }
        }
    }

    &__head {
        display: flex;
        align-items: center;
        padding-top: em(60, $fz);
        padding-bottom: em(40, $fz);
        padding-left: em(20, $fz);
        min-height: em(141, $fz);

        @media screen and (max-width: 949.98px) {
            padding-top: em(40, $fz);
            min-height: auto;
        }
        @media screen and (max-width: 699.98px) {
            flex-direction: column;
            align-items: flex-start;
            padding-top: em(20, $fz);
            padding-bottom: em(20, $fz);
        }
    }

    &__title {
        margin-right: em(8, $fz);

        @media screen and (max-width: 699.98px) {
            margin-right: 0;
            margin-bottom: em(10, $fz);
        }
    }

    &__label {
        $fz: 17;
        border-radius: em(7, $fz);
        background-color: var(--label-header-bg);
        font-size: em($fz, $fz_base);
        font-weight: 700;
        padding: em(6 30, $fz);
        color: #fff;
    }

    &__grid {
        @include scrollbar;
        display: grid;
        align-content: start;
        grid-template-columns: repeat(var(--grid-number-col), 1fr);
        grid-row-gap: em(20, $fz);
        padding-right: em(64, $fz);
        padding-bottom: em(20, $fz);

        @media screen and (max-width: 1349.98px) {
            padding-right: em(45, $fz);
        }
        @media screen and (max-width: 1149.98px) {
            padding-right: em(25, $fz);

            #{$self}__block--opt & {
                padding-right: em(40, $fz);
            }
        }
        @media screen and (max-width: 949.98px) {
            #{$self}__block--opt & {
                padding-right: em(20, $fz);
            }
        }
        @media screen and (max-width: 699.98px) {
            padding-right: em(5, $fz);
            padding-left: em(5, $fz);

            #{$self}__block--opt & {
                padding-right: em(5, $fz);
            }
        }
    }
}

.popup-title {
    $fz: 36;
    display: var(--popup-title-show, flex);
    font-size: em($fz, $fz_base);
    font-weight: 600;

    @media screen and (max-width: 949.98px) {
        $fz: 22;
        font-size: em($fz, $fz_base);
    }
}

.catalog-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            --catalog-link-img-scale: 1.1;
        }
    }

    &__picture {
        display: flex;
        border-radius: em(35, $fz);
        overflow: hidden;
        width: em(120, $fz);
        height: em(120, $fz);
        margin-bottom: em(12, $fz);

        @media screen and (max-width: 699.98px) {
            width: em(100, $fz);
            height: em(100, $fz);
            border-radius: em(25, $fz);
        }
        @media screen and (max-width: 349.98px) {
            width: em(90, $fz);
            height: em(90, $fz);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(var(--catalog-link-img-scale));
        transition: transform 0.3s;
        will-change: transform;
    }

    &__label {
        border-radius: em(7, $fz);
        background-color: #533dd4;
        padding-right: em(8, $fz);
        padding-left: em(8, $fz);
        font-weight: 600;
        line-height: 1.5;
        color: #fff;

        @media screen and (max-width: 699.98px) {
            $fz: 12;
            font-size: em($fz, $fz_base);
            padding: em(5 18, $fz);
        }
    }

    &__name {
        display: flex;
        line-height: 1.5;
        color: #000;
        text-align: center;
        min-height: em(66, $fz);

        @media screen and (max-width: 699.98px) {
            $fz: 12;
            font-size: em($fz, $fz_base);
            min-height: auto;
        }
    }
}

.popup-thank {
    display: flex;
    align-items: center;

    &__text {
        $fz: 18;
        font-size: em($fz, $fz_base);
        line-height: 1.5;
    }

    &__icon {
        margin-left: em(25, $fz);
        fill: #2fa827;
    }
}

.tabs {
    &__nav {
        display: grid;
        grid-template-columns: 47% 53%;
        border-radius: em(31, $fz);
        background-color: #d9e0e7;
        max-width: em(440, $fz);
        padding: em(4 5, $fz);
        margin-bottom: em(40, $fz);
    }

    &__btn {
        $fz: 18;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: em(54, $fz);
        border-radius: em(31, $fz);
        font-size: em($fz, $fz_base);
        background-color: transparent;
        transition: background-color 0.3s;

        @media screen and (max-width: 499.98px) {
            $fz: 16;
            font-size: em($fz, $fz_base);
            padding-right: em(10, $fz);
            padding-left: em(10, $fz);
        }

        &--active {
            background-color: #fff;
        }
    }

    &__panel {
        display: none;
        flex-direction: column;

        &--show {
            display: flex;
        }
    }
}

.popup-search {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    animation: var(--popup-show, popup-hidden) 0.2s forwards;
    box-shadow: em(0 0 40, $fz) rgba(83, 61, 212, 0.38);

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: em(40, $fz);
        padding-right: em(35, $fz);
        padding-left: em(94, $fz);
        margin-bottom: em(50, $fz);

        @media screen and (max-width: 699.98px) {
            padding-top: em(20, $fz);
            padding-right: em(20, $fz);
            padding-left: em(20, $fz);
            margin-bottom: em(20, $fz);
        }
    }

    &__form {
        display: grid;
        width: em(520, $fz);

        @media screen and (max-width: 699.98px) {
            width: 83%;
        }
    }

    &__label {
        grid-area: -1/1;
    }

    &__input {
        border-radius: em(32, $fz);
        border: em(3, $fz) solid #575757;
        width: 100%;
        height: em(58, $fz);
        padding-right: em(60, $fz);
        padding-left: em(24, $fz);
        color: #3d4a62;
        transition: border-color 0.3s;

        &:focus {
            border-color: rgba(0, 0, 0, 0.8);
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: -1/1;
        justify-self: self-end;
        align-self: center;
        width: em(60, $fz);
        height: em(50, $fz);
        background-color: transparent;

        &:not(:disabled):hover {
            @media screen and (min-width: $breakpoint-hover) {
                --btn-search-fill: rgba(0, 0, 0, 0.8);
            }
        }

        &:disabled {
            pointer-events: none;
        }
    }

    &__icon {
        transition: fill 0.3s;
        fill: var(--btn-search-fill, #575757);
        width: em(27, $fz);
        height: auto;
    }
}

.search-autocomplete {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    &__list {
        @include scrollbar;
        display: flex;
        flex-direction: column;
        padding-right: em(125, $fz);
        padding-left: em(108, $fz);

        @media screen and (max-width: 699.98px) {
            padding-right: em(20, $fz);
            padding-left: em(20, $fz);
        }
    }

    &__item {
        margin-bottom: em(20, $fz);
    }

    &__controls {
        position: relative;
        width: 100%;
        background-color: #fff;
        padding: em(34 125 34 108, $fz);

        @media screen and (max-width: 699.98px) {
            padding: em(20, $fz);
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            bottom: 100%;
            height: em(20, $fz);
            background-image: linear-gradient(
                bottom,
                rgba(0, 0, 0, 0.14) 0%,
                rgba(255, 255, 255, 0) 99.99%
            );
            pointer-events: none;
        }
    }
}

.search-autocomplete-item {
    display: grid;
    align-content: start;
    grid-template-columns: em(80, $fz) 1fr;
    grid-gap: em(2 20, $fz);

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            --autocomplete-item-scale: 1.2;
            --autocomplete-item-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__picture {
        width: em(80, $fz);
        height: em(80, $fz);
        grid-area: 1/1/4/2;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(var(--autocomplete-item-scale));
        transition: transform 0.3s;
        will-change: transform;
    }

    &__name,
    &__cost {
        transition: color 0.3s;
        color: var(--autocomplete-item-color, #000);
    }

    &__name {
        line-height: 1.5;
    }

    &__cost {
        $fz: 20;
        font-size: em($fz, $fz_base);
        line-height: 1.2;
        font-weight: 600;
    }
}

.basket {
    $self: &;
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    @media screen and (max-width: 849.98px) {
        display: grid;
        grid-template-columns: 1fr em(244, $fz);
    }
    @media screen and (max-width: 649.98px) {
        grid-template-columns: 1fr;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__list {
        border-right: 1px solid #cacaca;

        @media screen and (min-width: 650px) {
            @include scrollbar;
        }
        @media screen and (max-width: 849.98px) {
            grid-area: 1/1/2/2;
        }

        #{$self}--empty & {
            display: none;
        }
    }

    &__checkout {
        @include scrollbar;
        display: flex;
        flex-direction: column;
        width: em(246, $fz);
        max-width: em(246, $fz);
        padding: em(17 20 20 35, $fz);

        @media screen and (max-width: 849.98px) {
            grid-area: 1/2/2/3;
        }
        @media screen and (max-width: 649.98px) {
            grid-area: 2/1/3/2;
            width: 100%;
            max-width: 100%;
            min-height: em(382, $fz);
            padding: em(22 30, $fz);
        }

        #{$self}--empty & {
            display: none;
        }
    }

    &__cost {
        margin-bottom: em(26, $fz);

        @media screen and (max-width: 649.98px) {
            margin-bottom: em(18, $fz);
        }
    }

    &__info {
        $fz: 14;
        font-size: em($fz, $fz_base);
        font-weight: 600;
        line-height: 1.36;
        color: #fe7200;
        max-width: em(185, $fz);
        margin-top: em(11, $fz);

        @media screen and (max-width: 649.98px) {
            max-width: 100%;
        }
    }

    &__delivery {
        margin-top: em(27, $fz);
        margin-bottom: em(22, $fz);

        @media screen and (max-width: 649.98px) {
            margin-top: em(20, $fz);
            margin-bottom: em(20, $fz);
        }
    }

    &__btn {
        max-width: em(174, $fz);
        margin-bottom: em(10, $fz);

        @media screen and (max-width: 649.98px) {
            max-width: 100%;
            margin-top: em(10, $fz);
        }
    }

    &__purchase {
        max-width: em(174, $fz);
        min-height: em(48, $fz);

        @media screen and (max-width: 649.98px) {
            max-width: 100%;
        }
    }

    &__discount {
        min-width: em(110, $fz);
        max-width: em(110, $fz);

        @media screen and (max-width: 849.98px) {
            grid-area: 2/1/3/3;
            min-width: auto;
            max-width: 100%;
            max-height: em(63, $fz);
            align-self: self-end;
        }
        @media screen and (max-width: 649.98px) {
            grid-area: 3/1/4/2;
        }
    }

    &__empty {
        display: none;

        @media screen and (max-width: 849.98px) {
            grid-column: 1/3;
        }

        #{$self}--empty & {
            display: flex;
        }
    }
}

.basket-card {
    display: flex;
    padding-left: em(20, $fz);
    border-bottom: 1px solid #cacaca;

    @media screen and (max-width: 649.98px) {
        padding-left: 0;
    }

    &__picture {
        width: em(94, $fz);
        min-width: em(94, $fz);
        height: em(96, $fz);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: em(20, $fz);
        padding-bottom: em(20, $fz);
        padding-left: em(20, $fz);

        @media screen and (max-width: 649.98px) {
            padding-right: 0;
            padding-left: em(10, $fz);
        }
    }

    &__name {
        display: flex;
        color: #000;
        line-height: 1.5;
        margin-bottom: em(3, $fz);
    }

    &__color {
        $fz: 14;
        font-size: em($fz, $fz_base);
        line-height: 1.7;
        color: rgba(0, 0, 0, 0.7);
    }

    &__wrap {
        display: flex;
        align-items: flex-end;
        margin-top: em(8, $fz);
        margin-bottom: em(12, $fz);
    }

    &__cost {
        $fz: 20;
        font-size: em($fz, $fz_base);
        font-weight: 600;
    }

    &__old {
        display: flex;
        font-weight: 600;
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.5);
        margin-left: em(15, $fz);
    }

    &__text {
        display: flex;
        margin-left: em(15, $fz);
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__counter {
        width: em(109, $fz);
        height: em(48, $fz);
        margin-right: em(14, $fz);

        @media screen and (max-width: 649.98px) {
            margin-right: em(10, $fz);
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        padding-top: em(13, $fz);
        padding-right: em(6, $fz);

        @media screen and (max-width: 649.98px) {
            padding-right: 0;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: em(36, $fz);
        height: em(34, $fz);
        margin-bottom: em(5, $fz);
        border-radius: em(5, $fz);
        background-color: transparent;
        transition: background-color 0.3s;

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                background-color: rgba(61, 74, 98, 0.1);
            }
        }
    }

    &__icon {
        transition: fill 0.3s;
        fill: var(--basket-btn-icon-color, #c9beb4);
        width: auto;
        height: em(19, $fz);
    }
}

.counter {
    display: flex;
    align-items: center;
    border-radius: em(5, $fz);
    border: 1px solid rgba(0, 0, 0, 0.23);
    overflow: hidden;

    &__btn {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 35%;
        height: 100%;
        background-color: transparent;

        &::before,
        &--plus::after {
            content: "";
            grid-area: -1/1;
            width: em(17, $fz);
            height: em(3, $fz);
            background-color: #8a8a8a;
            transition: background-color 0.3s;
        }

        &:not(:disabled):hover {
            &::before,
            &::after {
                @media screen and (min-width: $breakpoint-hover) {
                    background-color: rgba(138, 138, 138, 0.5);
                }
            }
        }

        &:disabled {
            &::before,
            &::after {
                background-color: rgba(138, 138, 138, 0.34);
            }
        }

        &--plus {
            &::after {
                transform: rotate(90deg);
            }
        }
    }

    &__input {
        $fz: 18;
        font-size: em($fz, $fz_base);
        width: 30%;
        height: 100%;
        text-align: center;
    }
}

.basket-cost {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 649.98px) {
        flex-direction: row;
        align-items: flex-end;
    }

    &__text {
        $fz: 14;
        font-size: em($fz, $fz_base);
        line-height: 1.57;
        margin-bottom: em(3, $fz);

        @media screen and (max-width: 649.98px) {
            min-width: em(77, $fz);
            margin-right: em(28, $fz);
            margin-bottom: 0;
            line-height: 1.2;
        }
    }

    &__number {
        $fz: 25;
        font-size: em($fz, $fz_base);
        font-weight: 600;
        line-height: 0.96;
    }
}

.basket-delivery {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 649.98px) {
        flex-direction: row;
    }

    &__icon {
        width: em(21, $fz);
        min-width: em(21, $fz);
        height: auto;
        fill: #c9beb4;
        margin-bottom: em(8, $fz);

        @media screen and (max-width: 649.98px) {
            margin-right: em(20, $fz);
            margin-bottom: 0;
        }
    }

    &__text {
        $fz: 14;
        font-size: em($fz, $fz_base);
        line-height: 1.57;
    }
}

.basket-btn-purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: em(24, $fz);
    transition: background-color 0.3s;

    &:hover {
        @media screen and (min-width: $breakpoint-hover) {
            --btn-purchase-color: #fff;
            background-color: #533dd4;
        }
    }

    &__icon {
        display: flex;
        width: em(16, $fz);
        height: auto;
        margin-right: em(11, $fz);
        fill: var(--btn-purchase-color, #fe7200);
        transition: fill 0.3s;
    }

    &__text {
        $fz: 14;
        display: flex;
        font-size: em($fz, $fz_base);
        line-height: 1.57;
        transition: color 0.3s;
        color: var(--btn-purchase-color, #000);
    }
}

.basket-empty {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30vh;

    @media screen and (max-width: 849.98px) {
        padding-bottom: 0;
    }

    &__icon {
        fill: #533dd4;
        width: em(52, $fz);
        height: auto;
        margin-bottom: em(50, $fz);
    }

    &__text {
        $fz: 20;
        font-size: em($fz, $fz_base);
        text-align: center;
        max-width: em(170, $fz);
        margin-bottom: em(36, $fz);
    }

    &__info {
        $fz: 14;
        font-size: em($fz, $fz_base);
        line-height: 1.57;
        text-align: center;

        a {
            display: block;
            color: #000;
        }
    }
}

.discount-panel {
    $self: &;
    display: grid;
    position: relative;
    grid-template-rows: 25% 25% 50%;
    background-color: #e3dbe7;
    z-index: 10;

    &--product {
        position: sticky;
        top: 100px;
        width: em(89, $fz);
        height: 78vh;

        @media screen and (max-width: 1149.98px) {
            width: em(80, $fz);
            position: static;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            right: 0;
            left: 0;
            height: em(34, $fz);
            background-image: linear-gradient(
                180deg,
                rgba(11, 11, 11, 0) 0%,
                rgba(5, 5, 5, 0.05) 100%
            );
            pointer-events: none;
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        // height: var(--discount-height);
        max-height: 100%;
        background-color: #4b8702;
    }

    &--basket {
        @media screen and (max-width: 849.98px) {
            grid-template-rows: em(63, $fz);
            grid-template-columns: 50% 25% 25%;
            box-shadow: em(0 0 15, $fz) rgba(0, 0, 0, 0.5);

            &::before {
                height: 100%;
                width: var(--discount-height);
                top: 0;
                right: auto;
            }
        }
    }

    &__box {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        border-top: em(3, $fz) solid #fe7200;
        padding-top: em(7, $fz);

        #{$self}--basket & {
            @media screen and (max-width: 849.98px) {
                align-items: flex-end;
                justify-content: center;
                padding-top: 0;
                padding-right: em(5, $fz);
                border-top: 0;
                border-right: em(3, $fz) solid #fe7200;
            }
        }
    }

    &__cost {
        $fz: 14;
        display: flex;
        color: #575757;
        font-weight: 600;
        font-size: em($fz, $fz_base);
        margin-bottom: em(5, $fz);
    }

    &__percentage {
        $fz: 17;
        font-size: em($fz, $fz_base);
        color: #4b8702;
        font-weight: 700;
    }
}

.discount-panel-wrapper {
    position: absolute;
    top: em(-96, $fz);
    right: 0;
    bottom: 110px;

    @media screen and (max-width: 1499.98px) {
        bottom: auto;
    }

    @media screen and (max-width: 1149.98px) {
        top: em(-150, $fz);
    }
    @media screen and (max-width: 949.98px) {
        display: none;
    }
}

.menu {
    --contact-item-color: #000;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding-top: em(20, $fz);
    animation: var(--overlay-show, overlay-hidden) 0.3s forwards;

    &__block {
        @include scrollbar;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: em(40, $fz);

        @media screen and (min-height: 750px) {
            justify-content: center;
        }
    }

    &__phone {
        margin-bottom: em(10, $fz);
    }

    &__call {
        margin-bottom: em(36, $fz);
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: em(30, $fz);
    }

    &__link {
        color: #000;
        line-height: 1.5;
        text-align: center;
        margin-bottom: em(20, $fz);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__contact {
        margin-bottom: em(15, $fz);
    }
}
