.product {
    display: flex;
    padding-right: 11.9%;
    padding-left: 5.5%;

    &__container {
        display: grid;
        grid-template-columns: 1fr em(633, $fz);
    }

    &__sliders {
        display: flex;
        grid-area: 1/1/2/2;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: em(131, $fz);
        margin-right: em(27, $fz);
    }

    &__thumbs {
        height: em(330, $fz);
        width: 100%;
    }

    &__slider {
        width: em(633, $fz);
        height: em(439, $fz);
    }

    &__btn-slider {
        width: em(100, $fz);
        height: em(40, $fz);

        &--prev {
            margin-bottom: em(12, $fz);
        }

        &--next {
            margin-top: em(12, $fz);
        }
    }

    &__btns {
        display: flex;
        grid-area: 2/1/3/2;
    }

    &__btn {
        margin-right: em(20, $fz);
    }
}

.btn-slider-detail {
    $self: &;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        --btn-slider-detail-fill-icon: rgba(0, 0, 0, 0.5);
    }

    &__icon {
        transition: fill 0.3s;
        fill: var(--btn-slider-detail-fill-icon, rgba(0, 0, 0, 0.13));

        #{$self}--next & {
            transform: scaleY(-1);
        }
    }
}

.slider-thumbs {
    &__slide {
        height: em(88, $fz);
        border-radius: em(20, $fz);
        overflow: hidden;
        background-color: #f2eef4;
        border: em(2, $fz) solid transparent;
        transition: border-color 0.3s;

        &.swiper-slide-thumb-active {
            border-color: rgba(83, 61, 212, 0.07);
        }
    }

    &__picture,
    &__img {
        width: 100%;
        height: 100%;
    }

    &__picture {
        display: flex;
    }

    &__img {
        object-fit: cover;
    }
}

.slider-product {
    border-radius: em(20, $fz);
    border: em(5, $fz) solid rgba(83, 61, 212, 0.07);
    background-color: #d9e0e7;

    &__label {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.btn-favorites__hint {
    --icon-hint-bg-color: #fe7200;
    width: em(24, $fz);
    height: em(24, $fz);
    margin-right: em(9, $fz);
}

.icon-hint {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--icon-hint-bg-color);
    color: var(--icon-hint-color, #fff);
    font-weight: 600;
    border-radius: 50%;
    padding-top: em(2, $fz);
    padding-left: 1px;
}
