.slider-products {
    $self: &;
    padding-right: 6.6%;
    padding-left: 4.8%;

    @media screen and (max-width: 1499.98px) {
        padding-left: 2.8%;
        padding-right: 4.2%;
    }
    @media screen and (max-width: 1199.98px) {
        padding-left: 2.2%;
        padding-right: 2%;
    }
    @media screen and (max-width: 949.98px) {
        padding-left: 3%;
        padding-right: 3%;
    }

    &--margin {
        margin-bottom: em(90, $fz);

        @media screen and (max-width: 1499.98px) {
            margin-bottom: em(65, $fz);
        }
        @media screen and (max-width: 1199.98px) {
            margin-bottom: em(23, $fz);
        }
    }

    &__head {
        display: flex;
        align-items: center;
        padding-left: em(20, $fz);
        margin-bottom: em(10, $fz);

        @media screen and (max-width: 949.98px) {
            padding-right: em(10, $fz);
            margin-bottom: 0;
        }
        @media screen and (max-width: 599.98px) {
            padding-left: em(9, $fz);
            margin-bottom: em(10, $fz);
        }
        @media screen and (max-width: 369.98px) {
            flex-direction: column;
            align-items: flex-start;
        }

        #{$self}--watched & {
            @media screen and (max-width: 599.98px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &__control {
        margin-left: em(30, $fz);

        @media screen and (max-width: 949.98px) {
            margin-left: auto;
        }
        @media screen and (max-width: 369.98px) {
            margin-top: em(20, $fz);
            margin-left: 0;
        }

        #{$self}--watched & {
            @media screen and (max-width: 599.98px) {
                margin-top: em(20, $fz);
                margin-left: 0;
            }
        }
    }

    &__wrapper {
        padding-top: em(20, $fz);
        padding-bottom: em(20, $fz);

        @media screen and (max-width: 949.98px) {
            padding-top: em(10, $fz);
            padding-bottom: em(10, $fz);
        }
    }
}

.slider-control {
    display: grid;
    grid-template-columns: em(61 120, $fz);
    grid-template-rows: em(58, $fz);
    grid-column-gap: em(10, $fz);

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: em(32, $fz);
        border: 1px solid #000;
        background-color: transparent;
        transition: border-color 0.3s, background-color 0.3s;

        &--prev {
            transform: scaleX(-1);
            padding-left: em(2, $fz);
        }

        &--next {
            justify-content: flex-end;
            padding-right: em(25, $fz);
        }

        &:hover {
            @media screen and (min-width: $breakpoint-hover) {
                --slider-control-btn-fill: #fff;
                background-color: #533dd4;
                border-color: #533dd4;
            }
        }
    }

    &__icon {
        display: flex;
        width: em(12, $fz);
        height: auto;
        transition: fill 0.3s;
        fill: var(--slider-control-btn-fill, #000);
    }
}
